{% macro link(route, title, class) %}
    {% set activeRoute = app.request.attributes.get("_route") %}
    <li class="nav-item {% if activeRoute == route %}active{% endif %}">
        <a class="nav-link" href="{{ path(route) }}">
            <i class="{{ class }}"></i>
            <span>{{ title|trans }}</span></a>
    </li>
{% endmacro %}

{% macro linkWithSumbenuStart(route, title, class, submenuId) %}
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#{{ submenuId }}" aria-expanded="true"
       aria-controls="{{ submenuId }}">
        <i class="{{ class }}"></i>
        <span>{{ title|trans }}</span>
    </a>
    <div id="{{ submenuId }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% endmacro %}




            {% macro subLink(route, title) %}
                <a class="collapse-item" href="{{ path(route) }}">{{ title|trans }}</a>
            {% endmacro %}

            {% macro linkWithSumbenuEnd() %}
        </div>
    </div>
</li>
{% endmacro %}

{% macro card(title, textColor, icon, border, value, route) %}

    <div class="col-xl-3 col-md-6 mb-4">
        <a href="{{ route }}">
            <div class="card {{ border }} shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold {{ textColor }} text-uppercase mb-1">{{ title|trans }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="{{ icon }} fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro containerStart(title) %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                <h6 class="m-0 font-weight-bold text-primary">{{ title|trans }} </h6>
            </div>
        </div>

    </div>
    <div class="card-body">
        {% endmacro %}

        {% macro containerEnd() %}
    </div>
</div>
{% endmacro %}

{% macro formField(title,field, for="", required=false, fieldClass="", formGroupClass="", attr={}, additionalNote="") %}
    {% if fieldClass is empty %}
        {% set fieldClass = "form-control" %}
    {% endif %}
    {% if fieldClass is not empty %}
        {%  set attr = attr|merge({ 'class': fieldClass}) %}
    {% endif %}
    <div class="form-group {{ formGroupClass }}">
        <label {% if for is not empty %}for="{{ for }}"{% endif %} {% if required == true %}class="required"{% endif %}>{{ title|trans }}{% if required == true %}*{% endif %}
            : {{ form_errors(field) }}</label>
        {{ form_widget(field, { 'attr': attr }) }}
        {% if additionalNote is not empty %}
            <span><i class="fa fa-info-circle"></i></span>
            <small>{{ additionalNote|trans }}</small>
        {% endif %}
    </div>

{% endmacro %}

{% macro checkboxField(title,field, for="", required=false, fieldClass="", formGroupClass="") %}
    {% if fieldClass is empty %}
        {% set fieldClass = "form-control" %}
    {% endif %}
    <div class="form-group {{ formGroupClass }}">
        {{ form_widget(field, { 'attr': {'class': fieldClass} }) }}
        <label>{{ title|trans }}</label>
    </div>
{% endmacro %}

{% macro editButton(path, id, hash="") %}
    {% if hash == "" %}
    <a href="{{ path(path, {'id':  id}) }}"
    {% else %}
    <a href="{{ path(path, {'id':  id, 'hash': hash}) }}"
    {% endif %}
        class="btn btn-primary btn-circle btn-sm margin-right-5"
        title="{{ "Uredi" | trans }}">
        <i class="fas fa-edit"></i>
    </a>
{% endmacro %}

{% macro deleteButton(path, id) %}
    <a href="{{ path(path, {'id':  id}) }}"
       class="btn btn-danger btn-circle btn-sm btn-delete"
       title="{{ "Obriši" | trans }}">
        <i class="fas fa-trash"></i></a>
{% endmacro %}

{% macro editMetaButton(path, id) %}
    <a href="{{ path(path, {'id':  id}) }}"
       class="btn btn-primary btn-circle btn-sm"
       title="{{ "Uredi metapodatke" | trans }}">
        <i class="fab fa-medium-m"></i></a>
{% endmacro %}

{% macro imagesButton(path, id) %}
    <a href="{{ path(path, {'id':  id}) }}"
       class="btn btn-primary btn-circle btn-sm"
       title="{{ "Slike za nekretninu" | trans }}">
        <i class="fas fa-images"></i></a>
{% endmacro %}

{% macro fileButton(path, id) %}
    <a href="{{ path(path, {'id':  id}) }}"
       class="btn btn-primary btn-circle btn-sm"
       title="{{ "Dokumenti za nekretninu" | trans }}">
        <i class="fas fa-file"></i></a>
{% endmacro %}

{% macro addButton(path) %}
    <a href="{{ path(path) }}"
       class="btn btn-primary btn-circle btn-sm"
       title="{{ "Dodaj" | trans }}">
        <i class="fa fa-plus"></i>
    </a>
{% endmacro %}
