<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/owl.carousel.min.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/owl.theme.default.min.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/style.css") }}">
    <link rel="stylesheet" href="{{ asset("security/css/login.css?v=1") }}">

    <title>{% block title %}Terra Dalmatica{% endblock %}</title>
</head>
<body>
<div class="cover"></div>
<div class="container">


        {% block content %}





        {% endblock %}
    </div>



{% block js %}

{% endblock %}

</body>

</html>
