{% extends "/security/base.html.twig" %}
{% import 'backend/macros/macros.html.twig' as macro %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-left">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ "Zaboravljena lozinka"|trans }}!</h1>
                                </div>
                                {% include "shared/form_validation_alert.html.twig" %}
                                {{ form_start(form) }}


                                <!-- field email -->
                                {{ macro.formField( 'Unesite vašu e-mail adresu', form.email, "email", true) }}

                                <!-- submit button -->
                                <button type="submit"
                                        class="btn btn-primary btn-block">{{ "Pošalji"|trans }}</button>
                                {% if error %}
                                    <div style="color:#ff0000;padding-bottom:10px;">{{ error|trans }}</div>
                                {% endif %}
                                {{ form_end(form) }}
                                <hr>
                                <div class="form-group text-center pxp-modal-small">
                                    <a href="{{ path("registration") }}"
                                       class="pxp-modal-link pxp-signup-trigger">{{ "Novi račun"|trans }}</a>
                                </div>
                                <div class="form-group text-center pxp-modal-small">
                                    <a href="{{ path("index") }}"
                                       class="pxp-modal-link pxp-signup-trigger">{{ "Povratak na početnu stranicu"|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
