{% extends "/security/base.html.twig" %}
{% block content %}
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ "Dobrodošli"|trans }}!</h1>
                                </div>
                                {% if error %}
                                    <div class="flash-notice">
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    </div>
                                {% endif %}
                                <form action="{{ path('login') }}" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control"
                                               placeholder="{{ "unesi"|trans ~ " " ~ "email"|trans }}" id="email"
                                               name="_email"
                                               value="{% if last_username is defined %}{{ last_username }}{% endif %}"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                               placeholder="{{ "unesi"|trans ~ " " ~ "lozinku"|trans }}" id="password"
                                               name="_password"/>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    <button type="submit"
                                            class="btn btn-primary btn-block">{{ "prijava"|trans }}</button>

                                </form>
                                <hr>

                                <div class="form-group mt-4 text-center pxp-modal-small">
                                    <a href="{{ path("forgot_password") }}"
                                       class="pxp-modal-link">{{ "Zaboravljena lozinka"|trans }}</a>
                                </div>
                                <div class="form-group text-center pxp-modal-small">
                                    <a href="{{ path("registration") }}"
                                       class="pxp-modal-link pxp-signup-trigger">{{ "Novi račun"|trans }}</a>
                                </div>
                                <div class="form-group text-center pxp-modal-small">
                                    <a href="{{ path("index") }}"
                                       class="pxp-modal-link pxp-signup-trigger">{{ "Povratak na početnu stranicu"|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
