{% import 'backend/macros/macros.html.twig' as macro %}
{% extends "/security/base.html.twig" %}
{% block content %}

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ "Novi račun"|trans }}!</h1>
                        </div>
                        {% include "shared/form_validation_alert.html.twig" %}
                        {{ form_start(form, {'attr': {'id': 'frmUser'}}) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.formField( 'Korisničko ime', form.username, "username", true) }}
                            </div>

                            <div class="col-lg-6">
                                {{ macro.formField( 'Email', form.email,"username", true) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.formField( 'Ime', form.first_name, "first_name", true) }}
                            </div>

                            <div class="col-lg-6">
                                {{ macro.formField( 'Prezime', form.last_name, "last_name", true) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.formField( 'Broj telefona', form.phone_no, "phone_no", false) }}
                            </div>

                            <div class="col-lg-6">
                                {{ macro.formField( 'Broj mobitela', form.mobile_phone_number, "mobile_phone_number", false) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.formField( 'OIB', form.personal_identification_number, "personal_identification_number", false) }}
                            </div>
                            <div class="col-lg-6">
                                {{ macro.formField( 'Firma', form.company_name, "company_name", false) }}
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.formField( 'Unesite lozinku', form.password.first, "form.password.first", true) }}
                            </div>

                            <div class="col-lg-6">
                                {{ macro.formField( 'Ponovite lozinku', form.password.second, "form.password.second", true) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mb-2">
                                <input type="checkbox" class="agreeBtn" data-src="#submitButton">
                                <label>{{ "Potvrđujem da sam pročitao/la i razumio/la Informaciju o"|trans }} <a href="{{ path('predefined_content', {"slug": personalDataProtectionSlug }) }}" style="color:#ad3a27;">{{ "zaštiti osobnih podataka"|trans }}</a></label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12">

                                <!-- submit button -->
                                <button type="submit" class="btn btn-primary btn-block" disabled id="submitButton">{{ "Pošalji"|trans }}</button>

                            </div>

                        </div>

                        {{ form_row(form._token) }}

                        {{ form_end(form, {'render_rest': false}) }}
                        <hr>
                        <div class="form-group text-center pxp-modal-small">
                            <a href="{{ path("login") }}"
                               class="pxp-modal-link pxp-signup-trigger">{{ "Prijava"|trans }}</a>
                        </div>
                        <div class="form-group text-center pxp-modal-small">
                            <a href="{{ path("index") }}"
                               class="pxp-modal-link pxp-signup-trigger">{{ "Povratak na početnu stranicu"|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{{ asset("vendor/resideo/js/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ asset("frontend/js/agree_btn.js") }}"></script>
{% endblock %}