<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">{% if notifications is defined and notifications is not empty %} {{ notifications|length }} {% endif %}</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Upozorenja
        </h6>
        {% if notifications is defined and notifications is not empty %}
        {% for notification in notifications %}
        <a class="dropdown-item d-flex align-items-center" href="{{ path("notification", {"id": notification.id}) }}">
            <div class="mr-3">
                <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500"><i
                            class="fa fa-cog"></i> {{ notification.getCreatedAt|date("d.m.Y g:ia") }}</div>
                <div>{{ notification.getTriggeredBy().username ~ " " ~ notification.verb|trans }}
                    {% if notification.getObject() is not null %}
                        {{ notification.getObject().getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title }}
                    {% elseif notification.getRealEstateCustomPage() is not null %}
                        {{ notification.getRealEstateCustomPage().getRealEstateCustomPageLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title }}
                    {% endif %}

                </div>
                Neki dodatak

            </div>
        </a>

        {% endfor %}
        {% endif %}
    </div>
</li>
