{% import 'backend/macros/macros.html.twig' as macro %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a href="{{ path("backend_client_index") }}"><img src="/frontend/img/TD_logo_2-white.svg" style="margin:20px;"></a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Frontend -->
    {{ macro.link( 'index' ,  "Frontend"|trans, "fas fa-fw fa-home" ) }}

    <!-- Nav Item - RealEstate -->
    {{ macro.link( 'client_realestate_list' ,  "Moje nekretnine"|trans, "fas fa-fw fa-building" ) }}

    <!-- Nav Item - RealEstate -->
    {{ macro.link( 'client_realestate_new' ,  "Nova nekretnina"|trans, "fas fa-fw fa-plus" ) }}

    <!-- Nav Item - RealEstate -->
    {{ macro.link( 'client_user_favorite_overview',  "Spremljene nekretnine" | trans, "fas fa-bookmark" ) }}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
