{% import 'backend/macros/macros.html.twig' as macro %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a href="{{ path("backend_index") }}"><img src="/frontend/img/TD_logo_2-white.svg" style="margin:20px;"></a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {{ macro.link( 'backend_index' ,  "Statistika"|trans, "fas fa-fw fa-tachometer-alt" ) }}

    <!-- Nav Item - User Analytics -->
    {{ macro.link( 'online_users' ,  "Analiza korisnika"|trans, "fas fa-fw fa-users" ) }}

    <!-- Nav Item - Frontend -->
    {{ macro.link( 'index' ,  "Frontend"|trans, "fas fa-fw fa-home" ) }}

    <!-- Nav Item - Users -->
    {{ macro.link( 'user_list' ,  "Zaposlenici"|trans, "fas fa-fw fa-users" ) }}

    <!-- Nav Item - Users -->
    {{ macro.link( 'client_list' ,  "Klijenti"|trans, "fas fa-fw fa-users" ) }}

    <!-- Nav Item - Agents -->
    {{ macro.link( 'agentpage_list' ,  "Stranice Agenata"|trans, "fas fa-fw fa-user-tie" ) }}

    <!-- Nav Item - CmsPage -->
    {{ macro.link( 'cmspage_list' ,  "Blog"|trans, "fas fa-fw fa-edit" ) }}

    <!-- Nav Item - CmsPage -->
    {{ macro.link( 'predefinedcms_list' ,  "Sadržaj"|trans, "fas fa-fw fa-edit" ) }}

    <!-- Nav Item - RealEstate -->
    {{ macro.link( 'realestate_list' ,  "Nekretnine"|trans, "fas fa-fw fa-building" ) }}

    {% if app.user.roles[0] == "ROLE_ADMIN" %}
    <!-- Nav Item - RealEstate -->
    {{ macro.link( 'realestate_invalidated' ,  "Izbrisane nekretnine"|trans, "fas fa-fw fa-building" ) }}
    {% endif %}

    <!-- Nav Item - RealEstateCustomPage -->
    {{ macro.link( 'realestatecustompage_list' ,  "Kategorijske stranice" | trans, "fas fa-fw fa-shower" ) }}

    <!-- Nav Item - CallButton -->
    {{ macro.link( 'callbutton_list' ,  "Call Button"|trans, "fas fa-fw fa-phone" ) }}
    <!-- Nav Item - RealEstateCustomPage -->
    {{ macro.link( 'marketingemail_list' , "Marketing" | trans, "fas fa-fw fa-envelope" ) }}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Refernce tables -->
    {{ macro.linkWithSumbenuStart( '' ,  "Referentne tablice"|trans, "fas fa-fw fa-database", "refrenceTables" ) }}
    {{ macro.subLink('region_list','Regije') }}
    {{ macro.subLink('feature_list','Značajke') }}
    {{ macro.subLink('location_list','Lokacije') }}
    {{ macro.subLink('blogcategory_list','Kategorije bloga') }}
    {{ macro.subLink('exchangerate_list','Tečajna lista') }}
    {{ macro.subLink('immobilien_test','ImmoScout24 Test') }}
    {{ macro.linkWithSumbenuEnd() }}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
