{% if type == "error" %}
{% set type = "danger" %}
{% endif %}
<div class="flash-notice">
    <div class="alert alert-{{type}} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% if type == "danger" %}<strong>{{ "Greška"|trans }}</strong> {% endif %}{{ message|raw }}.
    </div>
</div>