{% if gp.mimeType == "application/pdf" %}
    <embed name="plugin" src="{{ gp.filePath }}"  type="application/pdf">
{% else %}
    <img src="{{ gp.filePath }}" alt="">
{% endif %}
<a class="remove-image image-action" onclick="removeGroundPlan('{{gp.uuid}}', {{ gp.id}})">
    <i class="fa fa-trash"></i>
</a>
<a class="unremove-image image-action" onclick="unRemoveGroundPlan('{{gp.uuid}}')">
    <i class="fa fa-trash-restore"></i>
</a>
{% if isNew == true %}
    <input type="hidden" class="gallery-image-id" name="plans_add[]" value="{{gp.id}}">
{% endif %}
{% if isDeleted is defined and isDeleted == true %}
    <input type="hidden" class="gallery-image-id image-remove" name="plans_remove[]" value="{{gp.id}}">
{% endif %}

