<div class="col-lg-3 col-md-4 col-6" >
    <a href="{{ doc.filePath }}" >
        {% if doc.documentMimeType == "application/pdf" %}
            <img style="height: 120px;" src="https://cdn3.iconfinder.com/data/icons/online-learning-basic-lineal/512/09_PDF_File-512.png" />
        {% elseif doc.documentMimeType == "application/msword" %}
            <img style="height: 120px;" src="https://lh4.googleusercontent.com/proxy/-Ttypn68WlN1kA5QFwW77R8gvUHvUfpuqxSn1UazzdFP4Ocl7CYm0TT5YNz7m9XnbROfhTAs672NsWMlA4Gt04nnVtCM5_3y0IdvkqqRdguqi5ClKhEg58-8" />
        {% elseif doc.documentMimeType == "application/vnd.ms-excel" %}
            <img style="height: 120px;" src="https://cdn.iconscout.com/icon/free/png-256/microsoft-excel-3-599366.png" />
        {% else %}
            <img style="height: 120px;" src="https://cdn0.iconfinder.com/data/icons/thin-files-documents/57/thin-069_file_document_doc_word-512.png" />
        {% endif %}
        <p>{{ doc.name }}</p>
    </a>
    {% if app.user.roles[0] == "ROLE_ADMIN" and doc.documentType == 0 %}
        <div class="make-exclusive-button" style="position:absolute;top: 0;right: 0" onclick="markAsExclusive({{doc.id}})">
            <i class="fa fas fa-key" style="font-size: 1.4rem;{% if doc.adminExclusive %}color:yellow;{% endif %}"></i>
        </div>
    {% endif %}
</div>