<img src="{{ rei.path }}" alt="">
<a class="remove-image image-action" onclick="removeImage('{{rei.uuid}}', {{ rei.id}})">
    <i class="fa fa-trash"></i>
</a>
<a class="unremove-image image-action" onclick="unRemoveImage('{{rei.uuid}}')">
    <i class="fa fa-trash-restore"></i>
</a>
<a class="mark-featured image-action" data-property-id="0" onclick="setCoverImage('{{rei.uuid}}', {{ rei.id}})">
    <i class="fa fa-star">
    </i>
</a>
{% if isNew == true %}
    <input type="hidden" class="gallery-image-id" name="images_add[]" value="{{rei.id}}">
{% endif %}
{% if isDeleted is defined and isDeleted == true %}
    <input type="hidden" class="gallery-image-id image-remove" name="images_remove[]" value="{{rei.id}}">
{% endif %}

