<div class="col-lg-3 col-md-4 col-6" style="min-height: 220px;" id="image_id_{{ rei.id }}">
    <a href="{{ rei.path }}">
        <span style="display: inline-block;vertical-align: middle;text-align: center;">&nbsp;</span>
        <img style="vertical-align: middle" class="img-fluid img-thumbnail" src="{{rei.path}}" alt="">
    </a>
    <div class="remove-button" style="position:absolute;top: 0;right: 0" onclick="removeImage({{rei.getId()}})">
        <i class="fa fas fa-times-circle" style="color: red;font-size: 1.4rem"></i>
    </div>

    <div class="star-cover-button" style="position:absolute;top: 1.8rem;right: 0" onclick="setCoverImage({{rei.getId()}})">
        <i class="fa fas fa-star" style="font-size: 1.4rem;{% if rei.isCover() %}color:yellow;{% endif %}"></i>
    </div>
</div>
