.position-bottom-right {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.margin-right-5{
    margin-right:5px;
}

.form-control-input label{
    margin-right:10px;
}

.summernote{
    height:300px !important;
}

.vich-image img{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.required ul, .required ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #dc3545;
    font-size: .8rem;
    font-weight: 900;
}

.notification-icon{
    font-size:150px;
    color: #d8d9dc;
}

/**
New real estate gallery
 */

.gallery-thumbs-container {
    width: 100%;
}



.gallery-thumb {
    position: relative;
    display: table;
    text-align: center;
    box-shadow: inset 0px 0px 0px 2px #dfdfdf;
    float: left;
    width: 141px;
    height: 141px;
    margin: 0 0 8px 8px;
    background-color: #efefef;
    color: #f0f0f0;

}

.gallery-thumb img,
.gallery-thumb embed{
    width: 141px;
    height: 141px;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-thumb a {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
}

.gallery-thumb a.image-action {
    width: 32px;
}

.gallery-thumb a.image-action.mark-featured  {
    left:0
}

.gallery-thumb.removing img,
.gallery-thumb.removing embed{
    filter: blur(3px);
}

.gallery-thumb.featuring a.image-action.mark-featured  {
    color: gold;
}

.gallery-thumb.removing a.image-action.remove-image  {
    display:none;
}
.gallery-thumb a.image-action.unremove-image  {
    display:none;
}

.gallery-thumb.removing a.image-action.unremove-image  {
    display:block;
}

.gallery-thumb .loader
{
    display: none;
}

.gallery-thumb .percentage
{
    display: none;
}



.gallery-thumb.loading .loader,
.gallery-thumb .percentage {
    display: block;
}

.dropzone-group {
    width: 100%;
    max-width:600px;
}

#fm_dropzone_main div.dz-message {
    display: block;
    padding: 20px 0px;
    color: #999;
}

#fm_dropzone_main div.dz-message i.fa {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

@media (min-width: 1200px) {
    .gallery-thumbs-container .gallery-thumb {
        width: 133px;
        height: 133px;
        margin: 0 0 5px 5px;
    }

    .gallery-thumbs-container .gallery-thumb img,
    .gallery-thumbs-container .gallery-thumb embed{
        width: 133px;
        height: 133px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .gallery-thumbs-container .gallery-thumb {
        width: 107px;
        height: 107px;
    }
    .gallery-thumbs-container .gallery-thumb img,
    .gallery-thumbs-container .gallery-thumb embed{
        width: 107px;
        height: 107px;
    }
}

@media (max-width: 767px) {
    .gallery-thumbs-container .gallery-thumb {
        width: 145px;
        height: 145px;
    }
    .gallery-thumbs-container .gallery-thumb img,
    .gallery-thumbs-container .gallery-thumb embed{
        width: 145px;
        height: 145px;
    }
}

.page-language-display .page-single-language-setup {
    display:none;
    border-bottom-left-radius: .35rem;
    border-bottom-right-radius: .35rem;
    border: 1px solid #dddfeb;
    border-top-style: none;
}

.page-language-display.lan-active-hr .page-single-language-setup.language-setup-hr {
    display:block;
}
.page-language-display.lan-active-en .page-single-language-setup.language-setup-en {
    display:block;
}
.page-language-display.lan-active-de .page-single-language-setup.language-setup-de {
    display:block;
}

.page-language-display .nav-link {
    cursor: default;
}

.page-language-display .nav-link:not(.active) {
    cursor: pointer;
}

#new_realestate label > ul >li {
    color: #a94442;
}

/** hidden fields for real estates */

.estate-type-1 .et-1-h {
    display: none;
}

.estate-type-2 .et-2-h {
    display: none;
}

.estate-type-3 .et-3-h {
    display: none;
}

.estate-type-4 .et-4-h {
    display: none;
}

.page-language-display .error-label {
    display: none;
    color: #a94442;
}

.page-language-display.has-error .error-label {
    display: block;
}

.page-language-display.has-error .page-single-language-setup {
    border-color: #a94442;
}

.switchButton{
    cursor:pointer;
}

.single-image-container {
    width: 100%;
}

#images_container .single-image-container .gallery-thumb {
    width: 220px;
    height: 220px;
}

#images_container .single-image-container .metatag-editor {
    width: calc(100% - 250px);
    padding-left: 10px;
    float: left;
}

.btn-circle{
    margin-top:3px !important;
}

@media (max-width: 767px) {
    #images_container .single-image-container .gallery-thumb {
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    #images_container .single-image-container .metatag-editor {
        width: 100%;
        padding-left: 0;
    }
}

#images_container .single-image-container .gallery-thumb img {
    width: 220px;
    height: 220px;
}

#images_container .single-image-container .gallery-thumb .image-action {
    display: none;
}
#images_container input {
    width: 100%;
}

.price-checkbox label {
    margin-top: 35px;
}

#invalid_price_label {
    display: none;
    color: #a94442;
}

#invalid_price_label.is-invalid {
    display: block;
}

.note-editor a{
    color:#e9b45b !important;
    font-weight:bold !important;
}

.note-editor{
    font-family: Barlow,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #343c49 !important;
}

.note-editor.note-frame .note-editing-area .note-editable{
    color: #343c49 !important;
}

.note-editor h1, .note-editor h2, .note-editor h3, .note-editor h4 {
    font-weight: 700!important;
}

.note-editor h5{
    text-transform: uppercase;
    font-weight: 400 !important;
    margin-bottom: 5px !important;
    margin-top: 22px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.note-editor h6{
    text-transform: uppercase;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
    margin-top: 18px;
    font-size: 1.1rem;
}

.paragraph-left-border{
    padding-left: 15px;
    padding-right: 15px;
}

.paragraph-move-left {
    float: left;
    width: 500px;
    margin-left: -200px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 35px;
}

.content-image-half-screen{
    padding-left:5px;
    padding-right:5px;
}

.paragraph-left-border{
    font-weight:bold;
    border-left:2px solid #000;
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}

@media screen and (max-width: 991px) {
    .paragraph-left-border {
        padding-right: 25px;
        padding-left: 10px;
    }

    .paragraph-move-left {
        float: left;
        width: 100%;
        margin: 0px;
    }

    .paragraph-container {
        padding-left: 13px;
    }

    .mb-sm-1 {
        padding-bottom: 10px;
    }

    .mb-sm-5 {
        margin-bottom: 3rem !important;
    }
}