.favorite-cover-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: .25rem;
}

.btn-remove-favorite-container{
    text-align: right;
}

.btn-remove-favorite {
    font-weight: 900;
}

.user-favorite-link:hover {
    text-decoration: none;
}

.div-opaque {
    opacity: .5;
}

@media (max-width: 767px) {
    .btn-remove-favorite {
        height: 1.4rem !important;
        width: 1.4rem !important;
        font-size: .6rem !important;
        line-height: 1.4rem;
    }
}

@media (max-width: 979px){
    .btn-remove-favorite-container {
        padding-left: 0 !important;
        text-align: left;
    }
}