#td-cat-page-cover-img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#no-real-estates-msg-container {
    color: #AD3A27;
}

@media (max-width: 767px) {
    #td-cat-page-cover-img {
        height: 300px;
    }
}

@media (min-width: 768px) {
    #td-cat-page-cover-img {
        height: 400px;
    }
}