#frm-homepage-filters .search-text {
    width: 100%;
    border-right: none !important;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#frm-homepage-filters select.form-control {
    height: 46px !important;
    font-size: .9rem;
    font-weight: 400 !important;
    color: #6c757d !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23adb5bd' d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
    background-size: 2rem 2rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-appearance: none;
}

#frm-homepage-filters .form-control:focus, #frm-homepage-filters .form-control:hover, #frm-homepage-filters .form-control:active {
    border: 1px solid #707781 !important;
}

.clear-select-box {
    cursor: pointer;
    color: #adb5bd !important;
    top: 31% !important;
    position: absolute;
    display: block;
    right: 2.5rem;
    background-color: #fff;
}

#frm-homepage-filters .custom-select:hover,
#frm-homepage-filters .custom-select:focus {
    border: 1px solid #E9B45B !important;
}

#frm-homepage-filters .search-text-button {
    width: 40px;
    border: #E9B45B !important;
    background: #E9B45B !important;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-top: 3px;
}

#frm-homepage-filters .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #AD3A27 !important;
    background-color: #AD3A27 !important;
}

#frm-homepage-filters .custom-control-input:focus ~ .custom-control-label::before {

}

#frm-homepage-filters .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #E9B45B;
}

#frm-homepage-filters .custom-control-input:disabled ~ .custom-control-label {
    color: #E9B45B;
}

#frm-homepage-filters .custom-control-label{
    padding-left: 0;
    font-size: 14px;
    text-transform: none;
    line-height: 18px;
    font-weight: normal;
    cursor: pointer;
}

#frm-homepage-filters .custom-control-label::before {
    top: 0 !important;
}

#frm-homepage-filters .custom-control-label::after {
    top: .05rem !important;
}

#frm-homepage-filters .custom-checkbox .custom-control-label::before {
    border-radius: .20rem;
}

@media screen and (max-width: 767px) {
    #frm-homepage-filters .searchbar-controls {
        flex-direction: column;
    }

    #frm-homepage-filters .searchbar-controls > a {
        margin-bottom: 5px;
    }

    #frm-homepage-filters .searchbar-price-slider {
        display: block;
    }

    #frm-homepage-filters .searchbar-price-select {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #frm-homepage-filters .searchbar-price-slider {
        display: none;
    }

    #frm-homepage-filters .searchbar-price-select {
        display: block;
    }
}

#frm-homepage-filters .chosen-container span{
    font-size: .9rem;
    font-weight: 400 !important;
    margin-top: 5px;
}

#frm-homepage-filters .chosen-container-active.chosen-with-drop.chosen-single div:after,
#frm-homepage-filters .chosen-container-single .chosen-single div:after {
    top: .5rem;
}

#frm-homepage-filters a.chosen-single.chosen-default,
#frm-homepage-filters a.chosen-single.chosen-single-with-deselect {
    height: 46px;
}

#frm-homepage-filters .chosen-container-active.chosen-with-drop .chosen-single,
#frm-homepage-filters .chosen-container .chosen-drop {
    border: 1px solid #707781 !important;
    box-shadow: none;
}

#frm-homepage-filters .chosen-container .chosen-results li.highlighted {
    background-color: #343C49 !important;
}

#frm-homepage-filters .chosen-container-active .chosen-single {
    border: 1px solid #707781 !important;
    /*box-shadow: 0 0 0 0.2rem rgba(173, 58, 39, 0.5);*/
    box-shadow: 0 0 0 0.1rem rgba(112, 119, 129, 0.5);

}

#frm-homepage-filters .chosen-container-single .chosen-single abbr {
    top: .6rem !important;
}

.chosen-single abbr, .chosen-single abbr:hover {
    background-image: url("../img/reset.png") !important;
}

.chosen-container-single .chosen-single abbr{
    background-size: auto !important;

}

.chosen-results{
    font-size:.9rem;
    z-index:9999 !important;
}

.chosen-container-single .chosen-single {
border:0px !important;
    transition: border-color .4s ease-in-out,box-shadow .4s ease-in-out;
}

#search_text {
    height: 46px !important;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
     background-color: #000000 !important;
     border-color: #000 !important;
    box-shadow: none !important;
}

.btn-primary:active, .btn-primary:visited, .btn-primary:focus{
    border: 1px solid #707781 !important;
    /*box-shadow: 0 0 0 0.2rem rgba(173, 58, 39, 0.5);*/
    box-shadow: 0 0 0 0.1rem rgba(112, 119, 129, 0.5) !important;
}

.searchbar-price-slider{
    color:#fff;
}

.slider-handle {
    background-image: none !important;
    background-color: #343C49 !important;
}