.platform-links a {
    height: 60px;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.platform-links {
    text-align: center;
}

.link_immobilienscout24 {
    background-image: url('/frontend/img/logos/logo_immoscout_1.png');
    width: 100px !important;
    background-size: 100px 60px;
}

.link_zooppla {
    background-image: url('/frontend/img/logos/logo_zoopla_1.png');
    width: 102px !important;
    background-size: 102px 40px;
}

.link_immowelt {
    background-image: url('/frontend/img/logos/immowelt_1.png');
    width: 114px !important;
    background-size: 114px 25px;
}

.link_realestatecroatia {
    background-image: url('/frontend/img/logos/real-estate-croatia_1.png');
    width: 162px !important;
    background-size: 162px 50px;
}

.link_realitica {
    background-image: url('/frontend/img/logos/logos_1-05.png');
    width: 116px !important;
    background-size: 116px 20px;
}

.link_gohome {
    background-image: url('/frontend/img/logos/logo_gohome_1.png');
    width: 126px !important;
    background-size: 126px 50px;
}

.link_crozzila {
    background-image: url('/frontend/img/logos/logo_crozilla_1.png');
    width: 122px !important;
    background-size: 122px 50px;
    background-position: top !important;
}

.link_immobilienscout24:hover {
    background-image: url('/frontend/img/logos/logo_immoscout_2.png');
}

.link_zooppla:hover {
    background-image: url('/frontend/img/logos/logo_zoopla_2.png');
}

.link_immowelt:hover {
    background-image: url('/frontend/img/logos/immowelt_2.png');
}

.link_realestatecroatia:hover {
    background-image: url('/frontend/img/logos/real-estate-croatia_2.png');
}

.link_realitica:hover {
    background-image: url('/frontend/img/logos/logos_2-06.png');
}

.link_gohome:hover {
    background-image: url('/frontend/img/logos/logo_gohome_2.png');
}

.link_crozzila:hover {
    background-image: url('/frontend/img/logos/logo_crozilla_2.png');
}

.agent-info {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px 0px;
    margin-top: -50px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .3) 0px 2px 3px 1px;
    font-size: 0.8rem !important;
}

.agent-info b {
    font-size: 0.9rem !important;
}