.real-estate-main-info {
    font-size: 18px;
    font-weight: 500;
}

.real-estate-main-info .row {
    margin-top: 20px;
    height: 33.33px;
}

.real-estate-main-info .col-10 {
    /*padding: 7px 0;*/
    line-height: 33.33px;
}

.real-estate-main-info img {
    height: 32.5px;
    width: 32.5px;
}


.real-estate-features {
    font-size: .91rem;
}

.real-estate-features .fa.fa-circle {
    vertical-align: middle;
    font-size: .2rem !important;
    display: inline;
}

.real-estate-features .single-feature {
    margin-top: 10px;
}

.real-estate-agent-section img {
    height: 200px;
    width: 100%;
    object-position: center center;
    object-fit: cover;
    border-radius: .25rem;
}

.real-estate-cross-sell-section {
    background-color: #E6E5E6;
    padding-top: 30px;
    padding-bottom: 50px;
}

.real-estate-description {
    font-size: 1rem;
}

.map-container {
    width: 100%;
}

.real-estate-virtual-walk-link, .real-estate-video-link, .real-estate-ground-flor-link, .real-estate-virtual-walk-link:hover, .real-estate-video-link:hover, .real-estate-ground-flor-link:hover {
    color: #E9B45B;
    text-decoration: none;
}

.pxp-single-property-section > h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.buttons-container .btn-secondary:hover {
    background-color: #343C49 !important;
    border-color: #343C49 !important;
}

.buttons-container img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: text-top;
}

.buttons-container .btn-icon-holder {
    display: inline-block;
    padding-bottom: 1px;
}

.buttons-container .btn-text-holder{
    display: inline-block;
}

.ground-plan-modal-link, .ground-plan-modal-link:hover {
    color: #E9B45B;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    .real-estate-agent-section img {
        height: 290px;
    }
}

@media (min-width: 768px){
    .pxp-sp-top-price {
        margin-top: 30px;
    }

    .buttons-container .first-button {
        padding-right: 3px !important;
    }

    .buttons-container .last-button {
        padding-left: 3px !important;
    }

    .buttons-container .middle-button {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }

    .left-info-section {
        padding-right: 50px;
    }

    .real-estate-agent-section {
        margin-top: 40px !important;
    }
}


@media (max-width: 767px){
    .buttons-container .col-12 {
        margin-top: 10px !important;
    }

    .pxp-single-property-section > h3 {
        font-size: 1.3rem;
        font-weight: 700;
    }
}
