.pxp-header.pxp-is-sticky {
    box-shadow: none !important;
    border-bottom: 1px solid #E2E2E2 !important;
}

.pxp-searchbar-header.pxp-is-sticky {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.16);
}

.pxp-searchbar-header {
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);

}

/*.pxp-searchbar-header a, .pxp-searchbar-header a:hover, .pxp-searchbar-header a:active, .pxp-searchbar-header a:visited, .pxp-searchbar-header a:focus, .pxp-searchbar-header a:not([href]):not([tabindex]) {
    border: 1px solid #E9B45B !important;
    background-color:#E9B45B !important;
    color:#fff;
}*/

#frm-searchbar select.form-control {
    font-size: .9rem;
    font-weight: 400 !important;
    color: #6c757d !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23adb5bd' d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
    background-size: 2rem 2rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-appearance: none;
}

#frm-searchbar .form-control:focus, #frm-searchbar .form-control:hover, #frm-searchbar .form-control:active {
    border: 1px solid #707781 !important;
}

.clear-select-box {
    cursor: pointer;
    color: #adb5bd !important;
    top: 23% !important;
    position: absolute;
    display: block;
    right: 2.5rem;
    background-color: #fff;
}

.custom-select:hover, .custom-select:focus, .custom-select:active {
    border-color: #AD3A27 !important;
}

#frm-searchbar .custom-select:hover,
#frm-searchbar .custom-select:focus {
    border: 1px solid #E9B45B !important;
}

.search-text-container {
    width: 100%;
    position: relative;
    display: flex;
}

#btnAdvFilters {
    background-color: #707781;
    color: #fff;
    border: 1px solid #707781;
    /*Enable if you wanna text instead of icon*/
    /*font-size: .7rem;
    white-space: normal;
    width: 80px;
    line-height: normal;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;*/
}

#btnSubmitSearch {
    background-color: #E9B45B;
    color: #fff;
    border: 1px solid #E9B45B;
}

#frm-searchbar .search-text {
    width: 100%;
    border-right: none !important;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#frm-searchbar .search-text-button {
    width: 40px;
    border: #AD3A27 !important;
    background: #AD3A27 !important;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#frm-searchbar .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #AD3A27 !important;
    background-color: #AD3A27 !important;
}

#frm-searchbar .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(173, 58, 39, 0.25);
}

#frm-searchbar .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #E9B45B;
}

#frm-searchbar .custom-control-input:disabled ~ .custom-control-label {
    color: #ced4da;
}

#frm-searchbar .custom-control-label{
    padding-left: 0;
    font-size: 14px;
    text-transform: none;
    line-height: 18px;
    font-weight: normal;
    cursor: pointer;
}

#frm-searchbar .custom-control-label::before {
    top: 0 !important;
}

#frm-searchbar .custom-control-label::after {
    top: .05rem !important;
}

#frm-searchbar .custom-checkbox .custom-control-label::before {
    border-radius: .20rem;
}

.pxp-content-side-search-form-reset button{
    background-color:#ffffff !important;
    color:#AD3A27 !important;
    font-size:12px;
    text-decoration:none;
}

.pxp-content-side-search-form-reset button:hover{
    text-decoration:none !important;
    opacity: 0.7;
}

.pxp-content-side-search-form-reset{
    margin-top:-12px;
    margin-bottom:3px;
}

@media screen and (max-width: 767px) {
    #frm-searchbar .searchbar-controls {
        flex-direction: column;
    }

    #frm-searchbar .searchbar-controls > a {
        margin-bottom: 5px;
    }

    #frm-searchbar .searchbar-price-slider {
        display: block;
    }

    #frm-searchbar .searchbar-price-select {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #frm-searchbar .searchbar-price-slider {
        display: none;
    }

    #frm-searchbar .searchbar-price-select {
        display: block;
    }
}

#frm-searchbar .chosen-container span{
    font-size: .8rem;
    font-weight: 400 !important;
    margin-top: 5px;
}

#frm-searchbar .chosen-container-active.chosen-with-drop.chosen-single div:after,
#frm-searchbar .chosen-container-single .chosen-single div:after {
    top: .5rem;
}

#frm-searchbar a.chosen-single.chosen-default,
#frm-searchbar a.chosen-single.chosen-single-with-deselect {
    height: 46px;
}

#frm-searchbar .chosen-container-active.chosen-with-drop .chosen-single,
#frm-searchbar .chosen-container .chosen-drop {
    border: 1px solid #707781 !important;
    box-shadow: none;
}

#frm-searchbar .chosen-container .chosen-results li.highlighted {
    background-color: #343C49 !important;
}

#frm-searchbar .chosen-container-active .chosen-single {
    border: 1px solid #707781 !important;
    /*box-shadow: 0 0 0 0.2rem rgba(173, 58, 39, 0.5);*/
    box-shadow: 0 0 0 0.1rem rgba(112, 119, 129, 0.5);
}

#frm-searchbar .chosen-container-single .chosen-single abbr {
    top: .6rem !important;
}

.breadcrumbMarginTopCorrection {
    margin-top: 105px;
}

.chosen-single abbr, .chosen-single abbr:hover {
    background-image: url("../img/reset.png") !important;
}

.chosen-container-single .chosen-single abbr{
    background-size: auto !important;

}

.chosen-results{
    font-size:.8rem;
}

.slider-handle {
    background-image: none !important;
    background-color: #707781 !important;
}