body {
    font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #343c49;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-weight: 700 !important;
}

h5{
    text-transform: uppercase;
    font-weight: 400 !important;
    margin-bottom: 5px !important;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

h6{
    font-weight: 600 !important;
    margin-bottom: 5px !important;
    margin-top: 20px;
    font-size: 1.1rem;
}

#loadMoreContainer {
    text-align: center;
    color: #E9B45B;
    text-transform: uppercase;
}

#loadMoreContainer button {
    color: #E9B45B;
    text-decoration: none;
}

#loadMoreContainer button:hover {
    text-decoration: none;
    opacity: 0.7;
}

#loadMoreContainer a {
    color: #E9B45B;
    text-decoration: none;
}

#loadMoreContainer a:hover {
    text-decoration: none;
    color: #cccccc;
}

#loadMoreContainer .btn-link {
    font-weight: 700 !important;
}

.logo img {
    height: 41px !important;
}

#searchButton {
    cursor: pointer;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.pxp-header {
    margin-top: 31px;
}

.pxp-topbar {
    position: fixed;
    background-color: #343C49;
    z-index: 9999;
    color: #fff;
}

.pxp-nav-sub {
    z-index: 9999999;
}

.topbar-middle {
    float: left;
}

.topbar-middle a {
    margin-right: 10px;
    font-size: 18px;
    margin-top: 0px;
    float: left;
}

.topbar_container a {
    color: #E9B45B;
    pading-top: 3px;
    padding-bottom: 3px;
}

.topbar_container a:hover {
    opacity: .7;
    text-decoration: none;
    color: #E9B45B !important;
}

.topbar-left, .topbar-left a, .topbar-right, .topbar-right a, .topbar-middle, .topbar-middle a, .topbar-middle button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

.topbar-left, .topbar-right {
    padding-top: 1px;
}

.topbar-middle {
    padding-top: 2px;
}

.topbar-link-container, .topbar-text-container {
    float: left;
    text-align: left;
    border-right: 1px solid #c6c9cd;
    padding: 0px;
    margin: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.topbar-text-container {
    color: #c6c9cd;
}

.topbar-social-container {
    margin-top: 2px;
}

.left-border-1 {
    border-left: 1px solid #c6c9cd;
}

.topbar-social-container a {
    font-size: 16px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.language-link {
    font-size: 16px !important;
    margin-top: 1px !important;
}

.right-border-0 {
    border-right: 0px;
}

.topbar-right div {
    float: right;
    text-align: right;

}

.locations-container {
    background-color: rgba(255, 255, 255, 0.93);
    padding: 30px 0px 30px 60px;
    height: auto;
}

.pxp-category-link {
    color: #343C49;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
}

.pxp-category-link:hover {
    text-decoration: none;
    color: #E9B45B;
}

.pxp-category-link .fa-circle {
    font-size: .3rem;
    vertical-align: middle;
}

.paragraph-left-border{
    font-weight:bold;
    border-left:2px solid #000;
    font-size:22px;
    margin-bottom:10px;
}

.paragraph-container{
    display: flex;
    align-items: center;
}

.predefined-content a{
    color:#e9b45b !important;
    font-weight:bold !important;
}

.pxp-content-wrapper a:hover{
    color:#e9b45b !important;
    font-weight:bold !important;
}

.mb-sm-5{
    margin-bottom:0px !important;
}

.notificationModal .modal-dialog {
    max-width: 400px;
}

.modal{
    z-index:999999 !important;
}

@media screen and (max-width: 767px) {
    .locations-container {
        padding: 20px 25px 20px 25px;
    }

    .pxp-hero-bg{
        background-position: 30% 50% !important;
    }
}

.padding-5 {
    padding: 5px;
}

.pxp-blog-post-block {
    width: 100%;
    text-align: left;
}

.mt-50 {
    margin-top: 50px !important;
}

.pxp-blog-post-block li {
    color: #999;
}

.footer-column {
    padding-left: 60px;
}

.pxp-blog-post-block p, .pxp-blog-post-block ul li {
    color: #343c49 !important;
}

.single_post_image_crop {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 5px;
}

.single_post_image_crop img {
    width: 100%;
    object-fit: cover;
}

.pxp-services-item-fig {
    font-size: 80px;
    text-align: center;
    color: #333 !important;
}

.pxp-nav-sub li a {
    padding-left: 20px !important;
    font-size: 14px !important;
}

.pxp-nav-sub li a:hover {
    padding-left: 25px !important;
}

.pxp-nav {
    opacity: 0.95 !important;
}

.pxp-hero-caption .link-container {
    margin: 0 auto;
    width: 60%;
}

.pxp-hero-caption .container {
    margin-top: 30px;
}

.link-item {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    text-decoration: none !important;
}

.link-item-text {
    position: relative;
    top: 30%;
    font-weight: 900;
    color: #333;
    font-size: 1.3rem;
}

.btn-xl {
    padding: .8rem 1.5rem;
    font-size: 2rem;
    line-height: 2.2;
    border-radius: .3rem;
}

.btn-dark {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.paragraph-left-border{
    padding-left: 15px;
    padding-right: 15px;
}

.paragraph-move-left {
    float: left;
    width: 500px;
    margin-left: -200px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 35px;
}

.content-image-half-screen{
    padding-left:5px;
    padding-right:5px;
}

@media screen and (max-width: 991px) {
    .pxp-hero-caption .link-container {
        width: 100%;
    }

    .pxp-hero-caption .container {
        margin-top: 30px;
    }

    .link-item {
        height: 50px;
    }

    .link-item-text {
        font-size: 1rem;
    }

    .paragraph-left-border{
        padding-right: 25px;
        padding-left: 10px;
    }

    .paragraph-move-left {
        float: left;
        width: 100%;
        margin:0px;
    }

    .paragraph-container{
        padding-left: 13px;
    }

    .mb-sm-1{
        padding-bottom:10px;
    }

    .mb-sm-5{
        margin-bottom: 3rem!important;
    }
}

.span-search {
    cursor: pointer;
}

.pxp-searchbar-header {
    margin-top: 113px;
    background-color: #fff;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    /*z-index: inherit;*/
}

.pxp-searchbar-header .pxp-content-side-search-form {
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 0px !important;
}

.pxp-searchbar-header {
    z-index: 1000;
}

.breadcrumb {
    position: absolute;
    margin-top: 105px;
    background-color: transparent;
    font-size: 11px !important;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0px;
}

.breadcrumb-item.active {
    color: #343c49 !important;
    font-weight: 700;
}

.breadcrumbMarginTopCorrection {
    margin-top: 90px;
}

.marginTopCorrection {
    height: 80px;
    width: 100%;
    position: static;
}

a {
    color: #AD3A27;
    font-weight: 700;
}

a:hover {
    color: #AD3A27;
    font-weight: 700;
}

/*@media screen and (min-width: 576px) {
    .pxp-searchbar-trigger {
        display: none !important;
    }
}*/

.showHideButtons {
    cursor: hand;
    cursor: pointer;
    margin-bottom: 20px;
}

.pxp-footer {
    background-color: #343C49 !important;
}

.pxp-header-nav-trigger {
    background-color: #ffffff !important;
    color: #343C49 !important;
}

.btn-primary {
    background-color: #343C49 !important;
    color: #fff !important;
    border-color: #343C49 !important;
}

.btn-primary-reverse {
    background-color: #fff !important;
    color: #343C49 !important;
    border-color: #343C49 !important;
}

.btn-secondary {
    background-color: #E9B45B !important;
    color: #fff !important;
    border-color: #E9B45B !important;
}

.btn-secondary-reverse {
    background-color: #fff !important;
    color: #E9B45B !important;
    border-color: #E9B45B !important;
}

#pxp-contact-agent .modal-dialog, #pxp-call-agent .modal-dialog {
    max-width: 400px !important;
    margin: auto;
}

#sell-navigation a {
    font-weight: bold !important;
    color: #AD3A27;
}

.pxp-footer-bottom a {
    color: #E9B45B;
}

.pxp-footer-social a {
    color: #E9B45B !important;
}

.pxp-footer-header {
    color: #fff !important;
}

@media screen and (max-width: 575px) {
    /*    .pxp-searchbar-trigger {
            display: inline-block;
        }*/
    .pxp-searchbar-header {
        margin-top: 130px;
    }
}

.category-section-front {
    height: 418px;
}

/*position for fixed buttons on homepage */
#fixed-buttons, #fixed-buttons-2 {
    position: fixed;
    bottom: 50px;
    z-index: 1000;
}

#fixed-buttons-2 {
    left: 100px;
}

#fixed-buttons-2 a {
    background-color: #AD3A27 !important;
    padding: 0px;
}

#fixed-buttons a {
    background-color: #E9B45B;
}

.fa-sell-real-estate {
    background-image: url('/frontend/img/TD_icons_sell_realestate_1.svg') !important;
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px;
}

#fixed-buttons {
    right: 100px;
}

/*css for fixed buttons on homepage */
#fixed-buttons a, #fixed-buttons-2 a {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 13px 13px 13px 13px;
    font-size: 24px;
    line-height: 1.428571429;
    border-radius: 30px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 2px;
}

#fixed-buttons a:hover, #fixed-buttons-2 a:hover {
    opacity: .95 !important;
    text-decoration: none;
    transition: 0.3s;
}

.pxp-no-bg .pxp-nav > li:hover > a:after {
    background: #AD3A27 !important;
}

.pxp-nav > li {
    font-size: 12px !important;
}

.btn-label {
    position: relative;
    left: -16px;
    display: inline-block;
    padding: 11px 16px 10px 16px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-resideo {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-resideo:hover {
    color: rgba(255, 255, 255, .7) !important;
}

.clear-filter-text {
    cursor: pointer;
    color: #adb5bd !important;
    top: 51% !important;
    position: absolute;
    display: block;
    right: 1.2rem;
    transform: translateY(-50%);
}

.pxp-content-side-search-form-adv {
    margin-left: 30px;
    margin-top: 10px;
}

.pxp-single-property-gallery > figure {
    height: 250px !important;
}

.pxp-single-property-gallery > figure.pxp-sp-gallery-main-img {
    height: 500px !important;
}

.pxp-single-property-gallery > figure.pxp-sp-gallery-only-img {
    height: 500px !important;
    width: 100% !important;
}

.pxp-sp-gallery-btn {
    bottom: 20px;
    right: 20px;
}

.mt-100 {
    margin-top: 50px !important;
}

.mt-80 {
    margin-top: 70px !important;
}

.pxp-sp-top-title, .pxp-sp-top-price, .pxp-section-h2 {
    font-weight: 700 !important;
}

.pxp-page-header, .pxp-sp-top-title /*, .pxp-sp-top-address*/
{
    margin-top: 30px !important; /*If you change the value change it in the media query on .pxp-sp-top-price also*/

}

@media screen and (min-width: 768px) {
    .pxp-sp-top-btns {
        margin-top: 30px !important;
    }

    /*
        .pxp-sp-top-address,
        .pxp-sp-top-price {
            margin-top: 10px !important;
        }*/
}

.w-100-percent {
    width: 100% !important;
}

.w-75-percent {
    width: 75% !important;
}

.w-50-percent {
    width: 50% !important;
}

.mt-5 {
    margin-top: 30px;
}

.mt-180 {
    margin-top: 180px;
}

.add_new {
    position: absolute;
    font-size: 12px;
    margin: 11px 2px 0px;

}

button:focus {
    outline: none !important;
}

.modal-dialog {
    max-width: 1200px;
}

.fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    z-index: 2000 !important;
}

#virtualWalkExitFullScreen {
    color: #fff;
    opacity: 0.9;
    padding: 5px;
    z-index: 9999 !important;
    position: fixed;
    top: 20px;
    right: 30px;
}

.shakeElement {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: shakeMe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shakeMe {
    0.5%, 4.5% {
        transform: translate3d(-5px, -5px, 0);
    }

    1%, 4% {
        transform: translate3d(5px, 0, 0);
    }

    1.5%, 2.5%, 3.5% {
        transform: translate3d(0, -5px, 0);
    }

    2%, 3% {
        transform: translate3d(0, 5px, 0);
    }

    4.5% {
        transform: translate3d(0px, 0, 0);
    }
}

.pxp-agent-detail {
    display: block;
}

.td-red {
    color: #AD3A27;
}

.td-red-bg {
    background-color: #AD3A27;
}

.td-grey {
    color: #707781;
}

.td-grey-bg {
    background-color: #707781;
}

.td-darkgrey {
    color: #343C49;
}

.td-darkgrey-bg {
    background-color: #343C49;
}

.td-yellow {
    color: #E9B45B;
}

.td-yellow-bg {
    background-color: #E9B45B;
}

.pxp-sp-agent > a {
    height: 130px;
    width: 130px;
}

.pxp-sp-agent-info {
    white-space: nowrap;
}

/* @media screen and (max-width: 768px) {
    .pxp-sp-agent > a {
        height: 200px;
        width: 200px;
    }
}*/

.pxp-sp-agent-image {
    float: left;
    object-fit: cover;
    object-position: center;
    height: 130px;
    width: 130px;
}

.agent-call-link {
    text-decoration: none;
    color: #707781;
    font-size: 2rem;
}

.agent-call-link:hover {
    text-decoration: none;
    color: #E9B45B;
}

.btn-send-email-to-agent {
    background-color: #343C49;
    border: 1px solid #E2E2E2;
}

.btn-send-email-to-agent:hover {
    border: none !important;
    color: #E6E5E6;
}

.btn-call-agent {
    background-color: #E9B45B;
    color: #fff;
}

.btn-call-agent:hover {
    border: none !important;
    color: #E6E5E6;
}

.pxp-sp-agent-info-phone {
    padding-top: .25rem !important;
}

.pxp-results-card-1-features,
.pxp-results-card-1-features-square-footage {
    color: #343C49 !important;
}

.pxp-results-card-1-features-square-footage {
    opacity: 1 !important;
    text-transform: none !important;
}

.pxp-results-card-1-details-title {
    white-space: pre-wrap !important;
}

.bg-1 {
    background-color: #ac3a27;
}

.bg-2 {
    background-color: #e9b45a;
}

.bg-3 {
    background-color: #343c49;
}

.bg-4 {
    background-color: #707780;
}

.fa {
    background-repeat: no-repeat;
}

.middleIcon i {
    width: 90px;
    height: 90px;
}

.subcategoryIcon {
    width: 91px;
    height: 80px;
}

.icon-1 {
    background-image: url('/frontend/img/icon/TD_icons_apartments.svg') !important;
}

.icon-2 {
    background-image: url('/frontend/img/icon/TD_icons_houses.svg') !important;
}

.icon-3 {
    background-image: url('/frontend/img/icon/TD_icons_land.svg') !important;
}

.icon-4 {
    background-image: url('/frontend/img/icon/TD_icons_offices.svg') !important;
}

.icon-1-b {
    background-image: url('/frontend/img/icon/TD_icons_houses_black.svg') !important;
}

.icon-2-b {
    background-image: url('/frontend/img/icon/TD_icons_apartments_black.svg') !important;
}

.icon-3-b {
    background-image: url('/frontend/img/icon/TD_icons_land_black.svg') !important;
}

.icon-4-b {
    background-image: url('/frontend/img/icon/TD_icons_offices_black.svg') !important;
}

.language-menu, .language-dropdown-menu {
    z-index: 99999 !important;
    color: #E9B45B !important;
}

.language-dropdown-menu, .language-dropdown-menu a {
    background-color: #343C49 !important;
    color: #E9B45B !important;
}

.language-menu button {
    color: #E9B45B !important;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
}

.language-menu button:hover, .language-menu button:active, .language-menu button:focus {
    text-decoration: none;
}

.language-menu {
    padding-top: -0.5px !important;
    padding-bottom: -0.5px !important;
    max-height: 19px;
}

.topbar-language-container {
    margin-top: 6px;
    padding-left: 0px;
}

.pxp-footer-address {
    color: #c6c9cd !important;
    opacity: 1 !important;
}

.pxp-footer-bottom {
    color: #c6c9cd !important;
}

.pxp-is-hidden {
    margin-top: -51px !important;
}

.actions-for-preview {
    margin-top: 1.5rem;
}

.preview-action {
    margin-right: 1rem;
}

.btn-preview-action {
    min-height: 2.6rem;
}

.searchbar-without-header {
    margin-top: 31px !important;
}

.pxp-footer a {
    color: #E9B45B;
}

.copyright {
    padding-top: 10px;
    margin-top: 30px;
    border-top: 1px solid #c6c9cd;
    color: #c6c9cd;
}

.pxp-contact-hero-offices {
    padding-bottom: 0px !important;
}

.pxp-results-card-1-details-price, .pxp-prop-card-1-details-price, .pxp-prop-card-1-details-price {
    font-weight: 700;
}

.pxp-prop-card-1-fig {
    max-height: 400px !important;
    transition: all 1s ease-in-out !important;
}

.pxp-hero-bg {
    background-image: url("/frontend/img/hero-1.jpg");
}

@media only screen and (max-width: 1000px) {
    .topbar-middle {
        display: none;
    }

    .topbar-text-container {
        border: 0px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .language-link {
        font-size: 20px !important;
        margin-top: 3px !important;
        margin-right: 10px !important;
    }

    .pxp-header {
        margin-top: 27px;
    }

    .topbar-right div {
        border-right: 0px;
    }

    .breadcrumb {
        margin-top: 73px;
    }

    .breadcrumbMarginTopCorrection {
        margin-top: 48px !important;
    }

    .main-section {
        padding-top: 0px;
    }

    .my-td {
        padding-right: 10px !important;
        margin-bottom: 20px;
    }

    .marginTopCorrection {
        height: 25px;
        width: 100%;
        position: static;
    }

    .pxp-header.pxp-no-bg {
        padding: 8px 0px 8px 0px;
    }

    .mt-100 {
        margin-top: 20px !important;
    }

    .mt-80 {
        margin-top: 10px !important;
    }

    .mt-50 {
        margin-top: 5px !important;
    }

    .logo img {
        height: 25px !important;
    }

    .category-section-front {
        padding-bottom: 100px;
        height: auto;
    }

    .pxp-searchbar-header {
        margin-top: 80px;
        position: relative;
    }

    .margin-bottom-mobile {
        margin-bottom: -80px;
    }

    #fixed-buttons-2 {
        left: 15px;
    }

    #fixed-buttons {
        right: 15px;
    }

    #fixed-buttons, #fixed-buttons-2 {
        bottom: 15px;
    }

    .pxp-sp-gallery-btn {
        bottom: 10px;
        right: 10px;
    }

    .pxp-single-property-gallery > figure {
        height: 150px !important;
    }

    .pxp-single-property-gallery > figure.pxp-sp-gallery-main-img, .pxp-single-property-gallery > figure.pxp-sp-gallery-only-img {
        height: 300px !important;
    }

    .pxp-footer {
        margin-top: 0px !important;
    }

    .location-category-pages-section {
        margin-bottom: 0px !important;
    }

    .pxp-nav {
        padding-top: 80px !important;

    }

    #mobile-nav-login a {
        color: #E9B45B !important;
    }

    #sell-navigation a {
        display: none;
    }

    .my-td {
        padding: 8px 6px 8px 8px;
        font-size: .75rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
    }

    .my-td:hover, .my-td:focus, .my-td:active {
        text-decoration: none !important;
        opcity: 0.9px;
    }

    .main-section {
        margin-top: -20px;
    }

    .pxp-hero {
        height: 100vh !important;
    }

    .pb-sm-0 {
        padding-bottom: 0px !important;
    }

    .mt-sm-2 {
        margin-top: 10px;
    }

    .mb-sm-0 {
        margin-bottom: 0px !important;
    }

    .pxp-is-hidden {
        margin-top: -90px !important;
    }

    .pxp-header-user-login {
        display: none;
    }

    .pxp-mobile-login-active {
        display: block !important;
    }

    .pxp-nav > li > .pxp-nav-sub > li > a {
        font-weight: 500;
    }

    .copyright div {
        width: 100%;
        border: 0px !important;
        float: right;
    }

    .copyright {
        margin-bottom: 50px !important;
    }

    .footer-column {
        padding-left: 30px;
    }

    .pxp-footer {
        padding-top: 30px !important;
    }

    .topbar-middle a {
        margin-right: 7px;
        font-size: 18px;
        float: left;
    }

    .pxp-nav > li > a {
        text-transform: uppercase;
    }

    .mob_navi_buttons {
        margin-left: -15px !important;
    }

}

@media screen and (max-width: 575px) {
    .pxp-hero {
        height: 100vh !important;
    }
}

@media screen and (max-width: 767px) {
    .pxp-hero {
        height: 100vh !important;
    }
}

@media screen and (max-height: 600px) {
    .main-section {
        margin-top: 0px !important;
    }

    .pxp-hero-caption .container {
        margin-top: 50px;
    }

    #fixed-buttons {
        bottom: 10px !important;
        right: 10px !important;
    }

    #fixed-buttons-2 {
        bottom: 10px !important;
        left: 10px !important;
    }
}

.category-section-front, .pxp-subcategory-section {
    background-position: 0% 40%;
}

#cookie-msg {
    z-index: 1050;
    background-color:#343c49 !important;
    color:#c6c9cd;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display:none;
    height:50%;
    opacity:0.98;
}

#cookie-msg div{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:100%;
}

#cookie-msg a{
    color:#E9B45B;
}

.btn-accept-gdpr{
    background-color:#E9B45B !important;
    color:#343c49!important;
    margin-left:20px;
    cursor:pointer;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
}

.btn-accept-gdpr:hover {
opacity:0.7;
}

.btn-accept-gdpr a{
    color:#343c49!important;
}

b, strong {
    font-weight: 700 !important;
}

#gdprForm input[type=checkbox]{
margin-left:5px;
}

#gdprForm input[type=checkbox]:checked{
    background-color: #1abc9c;
}

.pxp-content-wrapper {
    padding-top: 130px;
}

.pswp__caption__center{
    display:none;
}

@media (max-width: 991px) {
    .pxp-content-wrapper {
        padding-top: 80px;
    }
}

@media (min-width: 992px) {
    .pxp-content-wrapper {
        padding-top: 140px;
    }
}

