body{
    background-color:#242424;
    background-image: url("/frontend/img/hero-1.jpg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height:100%;
}

.cover{
    width:100%;
    height:100%;
    position: fixed;
    background-color:#242424;
    opacity:0.95;
    top:0;

}

.bg-login-image {
    background: url("/security/img/600x800.jpg");
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url("/security/img/600x800.jpg");
    background-position: center;
    background-size: cover;
}

label ul li{
    list-style-type: none;
    margin:0px;
    padding:0px;
    color:#ad3a27;
}

label ul{
    margin:0px;
    padding:0px;
    padding-left:5px;
}

.btn-secondary {
    background-color: #E9B45B !important;
    color: #fff !important;
    border-color: #E9B45B !important;
}

.btn-primary {
    background-color: #343C49 !important;
    color: #fff !important;
    border-color: #343C49 !important;
}

.btn:hover{
    opacity:0.95;
}

.btn:disabled{
    opacity:0.5 !important;
}

.pxp-modal-link{
    font-weight:bold;
}

.card{
    opacity:1;
}