{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form action="{{ path('immobilien_certify') }}" method="post">
                <div id="appVerifyButton">
                    <strong>Note: Under IE9 there can be problems with the certification.</strong><br />
                    username: <input type="text" name="user" />
                    <br /><em>The username should be set if possible. Otherwise "me" is used by default.
                        This means that several users cannot be stored in the database in parallel.
                        The user name chosen must be the same as in the form on the next page so that the token can be assigned correctly...</em><br />
                    <input type="submit" value="Certify now" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}