{% extends 'backend/base.html.twig' %}


{% block title %}

    IMMOBILIENSCOUT24 - TESTING GROUNDS

{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase">IMMOBILIENSCOUT24 - TESTING GROUNDS  </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="card" style="border: solid 1px;">
                <div class="card-header py-3">
                    AKCIJE
                </div>
                <div class="card-body">
                    <a href="{{ path('immobilien_test', {'id': 1}) }}">GET ALL realestate</a> |
                    <a href="{{ path('immobilien_test', {'id': 2}) }}">POST realestate</a> |
                    <a href="{{ path('immobilien_export_status_check') }}">EXPORT status check&update</a> |
                    <a href="{{ path('immobilien_export_delta') }}">EXPORT delta</a> |
                </div>
            </div>

            <div class="card" style="border: solid 1px;">
                <textarea rows="40" cols="40" style="border:none;">
                    {{ result }}
                </textarea>
            </div>

        </div>
    </div>

{% endblock %}