{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Stranice agenata" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Agenti" | trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("agentpage_new") }}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{ "Id"|trans }}</th>
                            <th>{{ "Ime"|trans }}</th>
                            <th>{{ "Prezime"|trans }}</th>
                            <th>{{ "Telefon"|trans }}</th>
                            <th>{{ "Opcije"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for agentPage in agentpageList %}
                        <tr>
                            <td>
                                {{ agentPage.id }}
                            </td>
                            <td>
                                {{ agentPage.user.firstName }}
                            </td>
                            <td>
                                {{ agentPage.user.lastName }}
                            </td>
                            <td>
                                {{ agentPage.user.phoneNo }}
                            </td>
                            <td>
                                {{ macro.editButton( 'agentpage_edit', agentPage.id) }}
                                {{ macro.deleteButton( 'agentpage_delete', agentPage.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
