<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}Terra Dalmatica {% endblock %}">
    <meta name="author" content="">

    <title>{% block title %}Terra Dalmatica{% endblock %}</title>

    {% block css %}
        <!-- Custom fonts for this template-->
        <link href="{{ asset("vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset("vendor/sbadmin-2/css/sb-admin-2.min.css?v=1") }}" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Barlow:400,700,900" rel="stylesheet">

        <!-- Datatables -->
        <link href="{{ asset("vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

        <link href="{{ asset("vendor/datatables/dataTables.responsive.css") }}" rel="stylesheet">

        <!-- Custom style-->
        <link href="{{ asset("backend/css/style.css") }}" rel="stylesheet">

        <script src="{{ asset('/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('/vendor/jquery-ui/jquery-ui.min.js') }}"></script>

        <!-- Summernote-->
        <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/summernote/summernote-bs4.css') }}">

    {% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% if app.user.roles[0] == "ROLE_USER" %}
        {% include 'backend/include/base_client_sidebar.html.twig' %}
    {% else  %}
        {% include 'backend/include/base_sidebar.html.twig' %}
    {% endif %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Alerts -->
                    {% include 'backend/include/alerts.html.twig' %}

                    <div class="topbar-divider d-none d-sm-block"></div>
                    
                    <!-- Language links-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'_locale': 'hr'})) }}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">HR </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'_locale': 'en'})) }}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">EN </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'_locale': 'de'})) }}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">DE </span>
                        </a>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }} </span>
                            <div class="btn btn-circle btn-secondary"><i class="fa fa-user"></i></div>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            {% set user_edit = "ROLE_USER" in app.user.roles ? "client_self_edit" : "user_self_edit"  %}
                            <a class="dropdown-item" href="{{ path(user_edit, {"id": app.user.id}) }}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="{{ path("admin_reset_password", {"user_id": app.user.id}) }}">
                                <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                Reset Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div id=".Messages">
                    {% for message in app.flashes('success') %}
                        {% include 'backend/include/flashnotice.html.twig' with {message: message, type: "success" } %}
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        {% include 'backend/include/flashnotice.html.twig' with {message: message, type: "error" } %}
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        {% include 'backend/include/flashnotice.html.twig' with {message: message, type: "alert" } %}
                    {% endfor %}
                </div>
                {% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
                {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Terra Dalmatica Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ path("logout") }}">Logout</a>
            </div>
        </div>
    </div>
</div>

{% include "frontend/include/send_ping.html.twig" %}

{% block js %}


    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset("vendor/jquery-easing/jquery.easing.min.js") }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset("vendor/sbadmin-2/js/sb-admin-2.min.js") }}"></script>

    <!-- Datatables -->
    <script src="{{ asset("vendor/datatables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("vendor/datatables/dataTables.responsive.js") }}"></script>
    <script src="{{ asset("/backend/js/terradalmatica.js?v=1.0") }}"></script>

    <!-- summernote -->
    <script src="{{ asset("/vendor/summernote/summernote-bs4.js") }}"></script>

    <!-- user analitics -->
    <script src="{{ asset("frontend/js/user_stat.js") }}"></script>


{% endblock %}


</body>

</html>
