{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Kategorije bloga"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Kategorije bloga"|trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("blogcategory_new") }}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable"
                       width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th >{{ "Naziv"|trans }}</th>
                        <th >{{ "Slug"|trans }}</th>
                        <th >{{ "Opcije"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blogcategory in blogcategoryList %}
                        {% set localizedPage =  blogcategory.getBlogCategoryLocalizations()|filter(v=> v.language.code == app.request.locale)|first %}
                        <tr>
                            <td>
                                {% if localizedPage.name is defined %}{{ localizedPage.name }}{% endif %}
                            </td>
                            <td>
                                {% if localizedPage.slug is defined %}{{ localizedPage.slug }}{% endif %}
                            </td>
                            <td>
                                {{ macro.editButton( 'blogcategory_edit', blogcategory.id) }}
                                {{ macro.deleteButton( 'blogcategory_delete', blogcategory.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
