{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Call button brojevi"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Call button brojevi"|trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ path("callbutton_new") }}" class="btn btn-primary btn-circle btn-sm">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable"
                       width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Broj"|trans }}</th>
                        <th>{{ "Aktivan"|trans }}</th>
                        <th>{{ "Opcije"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for callbutton in callbuttonList %}
                        <tr>
                            <td>
                                <div class="btn-circle btn-primary btn-sm margin-right-5"><i class="fas fa-phone"></i>
                                </div> {{ callbutton.number }}</td>
                             <td>
                                <a role="button" class="switchButton" data-path="{{ path("callbutton_switch", {id: callbutton.id}) }}"><i
                                        class="fa fa-toggle-{% if callbutton.getActive() == 1 %}on{% else %}off{% endif %} text-primary font-weight-bold switchbtn"
                                        style="font-size:25px;"> </i>
                                </a>
                            </td>
                            <td>

                                {{ macro.deleteButton( 'callbutton_delete', callbutton.id) }}
                                {{ macro.editButton( 'callbutton_edit', callbutton.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
    <script>
        $(".switchbtn").click(function(){
            $(".switchbtn").addClass("fa-toggle-off");
            $(".switchbtn").removeClass("fa-toggle-on");
        });

    </script>
{% endblock %}
