{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Sadržaj" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Sadržaj" | trans }} </h6>
                </div>
                {% if cmspageList[0].getPageType == 0 %}
                    <div class="col-6 text-right">
                        {{ macro.addButton("cmspage_new") }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable"
                       width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Id"|trans }}</th>
                        <th>{{ "Naslov"|trans }}</th>
                        <th>{{ "Slider"|trans }}</th>
                        <th>{{ "Datum"|trans }}</th>
                        <th>{{ "Opcije"|trans }}</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for cms in cmspageList %}
                        <tr>
                            <td>{{ cms.id }}</td>
                            <td>
                                {% set localizedPage =  cms.getCmsPageLocalizations()|filter(v=> v.language.code == app.request.locale)|first %}
                                {% if localizedPage.title is defined %}{{ localizedPage.title }}{% endif %}
                            </td>
                            <td>
                                {% if cms.getSlider == 1 %}
                                    {{ "DA"|trans }}
                                {% else %}
                                    {{ "NE"|trans }}
                                {% endif %}
                            </td>
                            <td>

                                {{ cms.getCreatedAt|date("d.m.Y. g:ia") }}
                            </td>
                            <td>
                                 {% if cms.getOnlyMeta == 0 %}{{ macro.editButton( 'cmspage_edit', cms.id) }}{% endif %}
                                {{ macro.editMetaButton( 'cmspagemeta_edit', cms.id) }}
                                {% if cms.getPageType == 0 %}  {{ macro.deleteButton( 'cmspage_delete', cms.id) }} {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
