{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Meta podatci"|trans }}{% endblock %}


{% block content %}
    {{ form_start(form, {'attr': {'id': 'frmCmsPageMeta'}}) }}
    {% set localizedPage =  form.cmsPageMetaLocalizations|filter(v=> v.language.vars.data.code == app.request.locale)|first %}
    {% if localizedPage.title is defined %}{% set pageTitle =  "Meta podatci"|trans ~ " (" ~ localizedPage.title.vars.data|upper ~ ")" %}{% else %}{% set pageTitle =  "meta podatci" %}{% endif %}
    {{ macro.containerStart(pageTitle) }}

    <div class="col-sm-12 col-lg-6" id="edit_cmspagemeta">


        <!-- field roles -->
        {{ form_start(form, {'attr': {'id': 'frmCmsPageMeta'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        {% for cmsLoco in form.cmsPageMetaLocalizations %}
            <div class="{{ "lngCnt lngCnt" ~ cmsLoco.language.vars.data.code }} row">
                <div class="col-12"><h1>{{ cmsLoco.language.vars.data.name }}</h1></div>
                {{ macro.formField( 'Jezik', cmsLoco.language, "name", true, "", "d-none") }}
                <div class="col-12">
                    {{ macro.formField( 'Naslov - ' ~ cmsLoco.language.vars.data.code, cmsLoco.title, "title", true) }}
                </div>

                <div class="col-12">
                    {{ macro.formField( 'Opis - ' ~ cmsLoco.language.vars.data.code, cmsLoco.description, "content", true) }}
                </div>


            </div>
            <hr>
        {% endfor %}

        {% if form.vars.value.getCoverPhoto is not empty %}

            <div class="row">
                <div class="col-12"><h2>{{ "Slika za naslovnicu"|trans ~ " - " ~ "meta podaci"|trans }}</h2></div>
                {% for photoMeta in form.cover_photo.photoMetaLocalizations %}
                    {{ macro.formField("Jezik", photoMeta.language, "language", true, "", "d-none") }}
                    <div class="col-12"><h4>{{ photoMeta.language.vars.data.name }}</h4></div>
                    {{ macro.formField("alt tag", photoMeta.alt_tag, "title", true, "", "col-md-6 col-lg-6") }}
                {% endfor %}
            </div>


        {% endif %}
        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>



    </div>


    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset("backend/js/screens/edit_cmspagemeta.js") }}"></script>
{% endblock %}