{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Korisnici"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Uredi korisnika') }}
    <div class="col-sm-12 col-lg-6" id="novi_korisnik">
        {{ form_start(form, {'attr': {'id': 'frmUser'}}) }}

        <!-- field roles -->
        {{ macro.formField( 'Role', form.roles, "roles", true, "form-control-input") }}

        <!-- field username -->
        {{ macro.formField( 'Korisničko ime', form.username, "username", true) }}

        <!-- field email -->
        {{ macro.formField( 'Email', form.email,"username", true) }}

        <!-- field first_name -->
        {{ macro.formField( 'Ime', form.first_name, "first_name", true) }}

        <!-- field last_name -->
        {{ macro.formField( 'Prezime', form.last_name, "last_name", true) }}

        <!-- field phone_no -->
        {{ macro.formField( 'Broj telefona', form.phone_no, "phone_no", true) }}

        <!-- field mobile_phone_number -->
        {{ macro.formField( 'Broj mobitela', form.mobile_phone_number, "mobile_phone_number", true) }}

        <!-- field phone_no -->
        {{ macro.formField( 'Broj faksa', form.fax_number, "fax_number", true) }}

        <!-- field personal_identification_number -->
        {{ macro.formField( 'OIB', form.personal_identification_number, "personal_identification_number", true) }}

        <!-- field company_name -->
        {{ macro.formField( 'Firma', form.company_name, "company_name", false) }}


        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>
    {{ macro.containerEnd() }}
{% endblock %}
