{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Meta podaci kategorijske stranice"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Meta podaci kategorijske stranice - ' ~ realEstateCustomPageName) }}
    <div class="col-sm-12 col-lg-6" id="divMetadata">
        {{ form_start(form, {'attr': {'id': 'frmMetadata'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <div class="row">
            <div class="col-12"><h2>{{ "Opći metapodaci stranice" | trans }}</h2></div>
            {% for recpMeta in form.realEstateCustomPageMetadataLocalizations %}
                {{ macro.formField("Jezik", recpMeta.language, "language", true, "", "d-none") }}
                <div class="col-12"><h4>{{ recpMeta.language.vars.data.name }}</h4></div>
                {{ macro.formField("Naslov", recpMeta.title, "title", true, "", "col-md-6 col-lg-6") }}
                {{ macro.formField("Opis", recpMeta.description, "description", true, "", "col-md-12") }}
            {% endfor %}
        </div>

        {% if form.vars.value.photo is not empty %}

            <div class="row">
                <div class="col-12"><h2>{{ "Slika - meta podaci" | trans }}</h2></div>
                {% for photoMeta in form.photo.photoMetaLocalizations %}
                    {{ macro.formField("Jezik", photoMeta.language, "language", true, "", "d-none") }}
                    <div class="col-12"><h4>{{ photoMeta.language.vars.data.name }}</h4></div>
                    {{ macro.formField("alt tag", photoMeta.alt_tag, "title", true, "", "col-md-6 col-lg-6") }}
                {% endfor %}
            </div>


        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}