{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Tečajna lista" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Tečajna lista (zadnje sinkronizirana vrijednost je aktualna)" | trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ path("sync__manually_exchange_rate") }}" class="btn btn-primary btn-circle btn-sm" title="{{ "Pokreni sinkronizaciju tečaja sa NBHR" | trans }}">
                        <i class="fa fa-sync"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{ "Valuta"|trans }}</th>
                            <th>{{ "Datum primjene"|trans }}</th>
                            <th>{{ "Jedinica"|trans }}</th>
                            <th>{{ "Srednji kurs za devize"|trans }}</th>
                            <th>{{ "Sinhronizovano" | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for er in exchangerateList %}
                        <tr>
                            <td>{{ er.code }}</td>
                            <td>{{ er.getDateValid() | date("d.m.Y.", "Europe/Zagreb") }}</td>
                            <td>{{ er.units }}</td>
                            <td>{{ er.rate | number_format(6, ",", ".") }}</td>
                            <td>{{ er.getCreatedAt() | date("d.m.Y. H:m:i", "Europe/Zagreb") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
