{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Značajke" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Značajke" | trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("feature_new") }}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="1" colspan="3" class="text-center">
                                {{ "Naziv" | trans }}
                            </th>
                            <th rowspan="2" colspan="1">
                                {{ "Opcije" | trans }}
                            </th>
                        </tr>
                        <tr>
                            <th>{{ "Hrvatski" | trans }}</th>
                            <th>{{ "Engleski" | trans }}</th>
                            <th>{{ "Njemački" | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for feature in featureList %}
                        <tr>
                            {% for featureLoco in feature.getFeatureLocalizations() %}
                                <td>
                                    {{ featureLoco.name }}
                                </td>
                            {% endfor %}
                            <td>
                                {{ macro.editButton( 'feature_edit', feature.id) }}
                                {{ macro.deleteButton( 'feature_delete', feature.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
