{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}Backend Home{% endblock %}


{% block content %}
    <h1 class="h3 mb-4 text-gray-800">{{ "Statistika"|trans}}</h1>
    <div class="row">

        {%  if is_granted("ROLE_ADMIN") or is_granted("ROLE_EMPLOYEE") %}
        {% set realEstatesRoute = path("realestate_list")  %}
        {% else %}
            {% set realEstatesRoute = path("client_realestate_list")  %}
        {% endif %}


        {{ macro.card( 'Kreirane nekretnine' ,  'text-primary', 'fa fa-image', 'border-left-warning',  CREATED,  realEstatesRoute ~ "?status=" ~ status[0].getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name ) }}
        {{ macro.card( 'Objavljene nekretnine' ,  'text-primary', 'fa fa-image', 'border-left-success',  PUBLISHED,  realEstatesRoute ~ "?status=" ~ status[1].getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name) }}
        {{ macro.card( 'Odbijene nekretnine' ,  'text-primary', 'fa fa-image', 'border-left-danger',  REJECTED,  realEstatesRoute ~ "?status=" ~ status[2].getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name) }}
        {{ macro.card( 'Nekretnine pri realizaciji' ,  'text-primary', 'fa fa-image', 'border-left-info',  IN_PROGRESS,  realEstatesRoute ~ "?status=" ~ status[3].getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name) }}
        {{ macro.card( 'Prodane nekretnine' ,  'text-primary', 'fa fa-image', 'border-left-dark',  COMPLETED,  realEstatesRoute  ~ "?status=" ~ status[4].getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name) }}

        {% if clients is defined %}
        {{ macro.card( 'Klijenti' ,  'text-primary', 'fa fa-users', 'border-left-primary',  clients,  path("user_list")  ) }}
        {% endif %}
        {% if employees is defined %}
        {{ macro.card( 'Zaposlenici' ,  'text-primary', 'fas fa-fw fa-user-tie', 'border-left-primary',  employees,  path("user_list")  ) }}
        {% endif %}
    </div>
{% endblock %}
