{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Nekretnine"|trans }}{% endblock %}



{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Nekretnine"|trans }} </h6>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <strong>Pretraga po datumu predaje</strong>
                    <div class="row">
                        <div class="col-5">
                            <input data-provide="datepicker" data-date-format="dd.mm.yyyy" id="createdDateFrom" placeholder="Predan nakon" class="form-control form-control-sm">
                        </div>
                        -
                        <div class="col-5">
                            <input data-provide="datepicker" data-date-format="dd.mm.yyyy"  id="createdDateTo" placeholder="Predan prije" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th data-column-name="id">{{ "ID"|trans }}</th>
                        <th>{{ "Naziv"|trans }}</th>
                        <th>{{ "Šifra"|trans }}</th>
                        <th data-column-name="created-at">{{ "Datum predaje"|trans }}</th>

                        <th>{{ "Opcije"|trans }}</th>

                    </tr>
                    </thead>
                    <tbody>


                    {% for realEstate in realestateList %}
                        {% set localization = realEstate.getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first %}

                        <tr>
                            <td>{{ realEstate.id }}</td>
                            <td>
                                {% if localization is defined and localization is not null and localization %}
                                    {{ localization.title }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ realEstate.uid }}</td>
                            <td>{{ realEstate.createdAt|date("d.m.Y,H:i") }}</td>

                            <td>
                                <a href="{{ path("realestate_restore", {"id": realEstate.id}) }}" class="btn btn-primary btn-circle btn-sm " title="Restore">
                                    <i class="fas fa-trash-restore"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('backend/js/screens/real_estate_list.js?v=1.0') }}"></script>
{% endblock %}
