{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Jezici"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Jezici"|trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ path("language_new") }}" class="btn btn-primary btn-circle btn-sm">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Jezik"|trans }}</th>
                        <th>{{ "Kod"|trans }}</th>
                        <th>{{ "Opcije"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language in languageList %}
                        <tr>
                            <td>
                                <div class="btn-circle btn-primary btn-sm margin-right-5"><i class="fas fa-globe"></i>
                                </div> {{ language.name }}</td>
                            <td>{{ language.code }}</td>

                            <td>
                                {{ macro.deleteButton( 'language_delete', language.id) }}
                                {{ macro.editButton( 'language_edit', language.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
{% endblock %}
