{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}


{% block title %}{{ "Marketing" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Marketing" | trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("marketingemail_new") }}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                {{ "Naslov" | trans }}
                            </th>
                            <th>
                                {{ "Kreirano" | trans }}
                            </th>
                            <th>
                                {{ "Poslano (zadnji put)" | trans }}
                            </th>
                            <th>
                                {{ "Primatelji" | trans }}
                            </th>
                            <th>{{ "Opcije" | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mEmail in marketingemailList %}
                        <tr>
                            <td>{{ mEmail.subject }}</td>
                            <td>{{ mEmail.getCreatedAt() | date("d.m.Y H:i:s", "Europe/Zagreb") }}</td>
                            <td>
                                {% if mEmail.getUpdatedAt() is not empty %}
                                    {{ mEmail.getUpdatedAt() | date("d.m.Y H:i:s", "Europe/Zagreb") }}
                                {% else %}
                                    {{ mEmail.getCreatedAt() | date("d.m.Y H:i:s", "Europe/Zagreb") }}
                                {% endif %}
                            </td>
                            <td>
                                {% if mEmail.getSendToAll() == true %}
                                    {{ "Svi klijenti" }}
                                {% else %}
                                    {{ "Odabrani klijenti" }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('marketingemail_details', {'id': mEmail.id}) }}" class="btn btn-info btn-sm margin-right-5" title="{{ "Pregledajte detalje email-a" | trans }}">{{ "Pregledaj" | trans }}</a>
                                <a href="{{ path('marketingemail_resend', {'id': mEmail.id}) }}" class="btn btn-primary btn-sm margin-right-5 btn-resend" title="{{ "Pošaljite email u njegovom izvornom obliku svim odabranim primaocima." | trans }}">{{ "Pošalji ponovo" | trans }}</a>
                                <a href="{{ path('marketingemail_create_from', {'id': mEmail.id}) }}" class="btn btn-primary btn-sm margin-right-5" title="{{ "Kreirajte novi marketinški email koristeći postojeći kao template." | trans }}">{{ "Kreiraj iz" | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js') }}"></script>
    <script src="{{ asset('backend/js/screens/marketingemail_list.js') }}"></script>
{% endblock %}