{% extends 'backend/base.html.twig' %}

{% block title %}{{ "Marketinški email - info" | trans }}{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ title | trans }} </h6>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div>
                <label>{{ "Naslov" }}:</label>
                {{ marketingEmail.subject }}
            </div>
            <div>

            </div>
        </div>
    </div>

{% endblock %}

