{% extends 'backend/base.html.twig' %}

{% import 'backend/macros/macros.html.twig' as macro %}

{% block css %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/select2/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/select2/css/select2-bootstrap.css') }}">

{% endblock %}

{% set title = "Novi marketinški email" %}
{#{% if isNew is defined and isNew == false %}
    {% set title = "Uredi lokaciju" %}
{% endif %}#}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="row">
        <div class="col-12" id="new-marketing-email">
            {{ form_start(form, {'attr': {'id': 'frmMarketingEmail'}}) }}

            {% include "shared/form_validation_alert.html.twig" %}

            {{ macro.formField( 'Naslov', form.subject, "subject", true, "", "col-md-12 col-lg-6") }}
            {{ macro.formField( 'Poruka', form.content, "content", true, "summernote", "col-md-12") }}

            {{ macro.formField( 'Klijenti', form.sentTo, "sentTo", false, "select2entity", "col-md-6 col-lg-6") }}

            {{ macro.formField( 'Pošalji svim klijentima', form.sendToAll, "sendToAll", false, "select2entity", "col-md-6 col-lg-6", {}, "Ukoliko odaberete ovu opciju zanemaruju se eventualno odabrane opcije u polju Klijenti") }}

            <div class="form-group">
                {% if detailsView is not defined %}
                    <button type="submit" class="btn btn-dark">{{ "Pošalji" | trans }}</button>
                {% endif %}
                <a href="{{ path('marketingemail_list') }}" class="btn btn-info">
                    {% if detailsView is defined and detailsView == true%}
                        {{ "Povrat na pregled" | trans }}
                    {% else %}
                        {{ "Odustani" | trans }}
                    {% endif %}
                </a>
            </div>

            {{ form_row(form._token) }}

            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>


    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{asset('vendor/select2/js/select2.min.js')}}"></script>
    <script src="{{ asset('vendor/tetranz/select2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset("backend/js/screens/new_marketingemail.js") }}"></script>
    <script>
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
{% endblock %}

