{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Nova stranica za agenta" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi stranicu agenta" %}
{% endif %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="col-sm-12 col-lg-12" id="new_agentpage">
        {{ form_start(form, {'attr': {'id': 'frmAgentPage'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <h2>{{ "Opći podaci" }}</h2>
        {# field last_name #}

        {% if isNew == false %} <div style="pointer-events: none"> {% endif %}
        {{ macro.formField( 'Zaposlenik', form.user, "user", true) }}
        {% if isNew == false %} </div> {% endif %}
        {{ macro.formField( 'Slika', form.image_file, "image_file", false, "custom-file-input", "col-lg-6") }}

        <h2>{{ "Opći podaci" }}</h2>
        <!-- field roles -->
        {% for agentPageLoco in form.agentPageLocalizations %}

            <div class="col-12"><h1>{{ agentPageLoco.language.vars.data.name }}</h1></div>
                <div class="{{ "lngCnt lngCnt" ~ agentPageLoco.language.vars.data.code }}  row">

                {{ macro.formField( 'Jezik', agentPageLoco.language, "name", true, "", "d-none col-lg-6") }}
                {{ macro.formField( 'Naslov - ' ~ agentPageLoco.language.vars.data.code, agentPageLoco.title, "title", true, "", "col-lg-6") }}
                {{ macro.formField( 'Slug - ' ~ agentPageLoco.language.vars.data.code, agentPageLoco.slug, "code", true, "", "col-lg-6") }}
                {{ macro.formField( 'Sadržaj - ' ~ agentPageLoco.language.vars.data.code, agentPageLoco.content, "content", true, "summernote", "col-12") }}
                </div>
        {% endfor %}


        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/backend/js/utility/slugify.js') }}"></script>
    <script src="{{ asset("/backend/js/screens/new_agentpage.js") }}"></script>

    <script>
        window.isNew = parseInt({{ isNew ? "1" : "0" }});
    </script>
{% endblock %}
