{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Jezici"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Novi jezik') }}
    <div class="col-sm-12 col-lg-6" id="novi_jezik">
        {{ form_start(form, {'attr': {'id': 'frmLanguage'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <!-- field roles -->
        {{ macro.formField( 'Naziv', form.name, "name", true) }}

        <!-- field roles -->
        {{ macro.formField( 'Kod', form.code, "code", true) }}

        <!-- submit button -->
        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Unos"|trans }}</button>
        </div>
        {{ form_end(form) }}

    </div>
    {{ macro.containerEnd() }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                styleWithSpan: false,
                height: 200,
                callbacks: {
                    onPaste: function (e) {
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');

                        e.preventDefault();

                        // Firefox fix
                        setTimeout(function () {
                            document.execCommand('insertText', false, bufferText);
                        }, 10);
                    }
                }
            });
        });
    </script>
{% endblock %}
