{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block css %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/select2/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/select2/css/select2-bootstrap.css') }}">

{% endblock %}

{% set title = "Nova kategorijska stranica" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi kategorijsku stranicu" %}
{% endif %}

{% set suggestSlug = form.vars.value.type == constant('App\\Entity\\Enum\\RealEstateCustomPageTypeEnum::CUSTOM') %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="col-sm-12" id="new-real-estate-custom-page">
        {{ form_start(form, {'attr': {'id': 'frmLocation'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        {{ form_errors(form) }}

        {# GENERAL #}
        <div class="row">
            <div class="col-12"><h2>{{ "Opće" | trans }}</h2></div>

            {# field parentRealEstateCustomPage #}
            {{ macro.formField( 'Nadkategorija', form.parentRealEstateCustomPage, "parentRealEstateCustomPage", true, "", "col-md-6 col-lg-6") }}

            {# field active #}
            {{ macro.formField( 'Aktivna', form.active, "active", true, "", "col-md-6 col-lg-6") }}

            {# field photo #}
            <div class="form-group col-md-6 col-lg-6">
                <label for="real_estate_custom_page_photo_file_file" class="required">{{ "Slika" | trans }}: {{ form_errors(form.photo) }}</label>
                <br>
                {{ form_widget(form.photo) }}
            </div>
        </div>

        {# LOCALIZATIONS #}
        <div class="row">
            <div class="col-12"><h2>{{ "Lokalizacije" | trans }}</h2></div>
            {% for recpLoco in form.realEstateCustomPageLocalizations %}
                {{ macro.formField("Jezik", recpLoco.language, "language", true, "", "d-none col-lg-6") }}
                <div class="col-12"><h4>{{ recpLoco.language.vars.data.name }}</h4></div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="recpLoco.title" class="required">{{ "Naslov" | trans }}: {{ form_errors(recpLoco.title) }}</label>
                    {{ form_widget(recpLoco.title, ( suggestSlug ? { 'attr': {'class': 'form-control', 'data-slugify-from': loop.index0 }} : { 'attr': {'class': 'form-control' } } )) }}
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="recpLoco.slug" class="required">{{ "Slug" | trans }}: {{ form_errors(recpLoco.slug) }}</label>
                    {{ form_widget(recpLoco.slug, ( suggestSlug ? { 'attr': {'class': 'form-control', 'data-slugify-to': loop.index0 }} : { 'attr': {'class': 'form-control' } } )) }}
                </div>
                <div class="form-group col-12">
                    <label for="recpLoco.description" class="required">{{ "Opis" | trans }}: {{ form_errors(recpLoco.description) }}</label>
                    {{ form_widget( recpLoco.description, { 'attr': {'class': 'form-control summernote' }} ) }}
                </div>
            {% endfor %}
        </div>

        {# QUERY FILTERS #}
        <div class="row">
            <div class="col-12"><h2>{{ "Filteri" | trans }}</h2></div>
            {{ macro.formField( 'Lokacije', form.realEstateCustomPageFilters.locations, "locations", false, "select2entity", "col-md-6 col-lg-6") }}
            {{ macro.formField( 'Vrste nekretnina', form.realEstateCustomPageFilters.real_estate_types, "real_estate_types", false, "select2entity", "col-md-6 col-lg-6") }}
        </div>

        <div class="form-group">
            <button id="btnSubmit" type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/backend/js/utility/slugify.js') }}"></script>
    <!-- select2 -->
    <script src="{{asset('vendor/select2/js/select2.min.js')}}"></script>
    <script src="{{ asset('vendor/tetranz/select2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('/backend/js/screens/new_realestatecustompage.js') }}"></script>
    <script>
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
{% endblock %}
