{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Novi status"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Novi status') }}
    <div class="col-sm-12 col-lg-6" id="new_status">
        {{ form_start(form, {'attr': {'id': 'frmStatus'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <!-- field roles -->
        <div class="form-group">
            <label for="tblStatusLocalizations">Naziv</label>
            <table class="table" id="tblStatusLocalizations">
                <tbody>
                {% for statusLoco in form.statusLocalizations %}
                    <tr>
                        <td>{{ form_widget(statusLoco.language, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(statusLoco.name, { 'attr': {'class': 'form-control'} }) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}
