{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Novi CallButton broj"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Novi broj') }}
    <div class="col-sm-12 col-lg-6" id="novi_jezik">
        {{ form_start(form, {'attr': {'id': 'frmLanguage'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <!-- field roles -->
        {{ macro.formField( 'Number', form.number, "number", true) }}

        <!-- submit button -->
        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Unos"|trans }}</button>
        </div>
        {{ form_end(form) }}

    </div>
    {{ macro.containerEnd() }}
{% endblock %}

