{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Korisnici"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Novi korisnik') }}
    <div class="col-sm-12 col-lg-6" id="novi_korisnik">
        {{ form_start(form, {'attr': {'id': 'frmUser'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <!-- field username -->
        {{ macro.formField( 'Korisničko ime', form.username, "username", true) }}

        <!-- field email -->
        {{ macro.formField( 'Email', form.email,"username", true) }}

        <!-- field first_name -->
        {{ macro.formField( 'Ime', form.first_name, "first_name", true) }}

        <!-- field last_name -->
        {{ macro.formField( 'Prezime', form.last_name, "last_name", true) }}

        <!-- field phone_no -->
        {{ macro.formField( 'Broj telefona', form.phone_no, "phone_no", true) }}

        <!-- field mobile_phone_number -->
        {{ macro.formField( 'Broj mobitela', form.mobile_phone_number, "mobile_phone_number", true) }}

        <!-- field phone_no -->
        {{ macro.formField( 'Broj faksa', form.fax_number, "fax_number", true) }}

        <!-- field personal_identification_number -->
        {{ macro.formField( 'OIB', form.personal_identification_number, "personal_identification_number", true) }}

        <!-- field company_name -->
        {{ macro.formField( 'Firma', form.company_name, "company_name", false) }}

        {{ macro.formField( 'Email jezik', form.emailLanguage, "emailLanguage", false) }}


        <div class="col-12"><h1>{{ "Dodatni kontakti" }}</h1></div>
        <div id="div-contacts">
            <div class="form-group">
                <table class="table table-striped"
                       id="tbl-user-contacts"
                       data-prototype-name="{{ form_widget(form.userContacts.vars.prototype.name)|e('html_attr') }}"
                       data-prototype-phone_number="{{ form_widget(form.userContacts.vars.prototype.phoneNumber)|e('html_attr') }}"
                       data-prototype-mobile_phone_number="{{ form_widget(form.userContacts.vars.prototype.mobilePhoneNumber)|e('html_attr') }}"
                >
                    <tbody>
                    {% for contact in form.userContacts %}
                        <tr>
                            <td>
                                <div class="row">
                                    {{ macro.formField( "Ime", contact.name, "name", true, "", "col-12 col-md-4") }}
                                    {{ macro.formField( "Broj telefona", contact.phoneNumber, "phoneNumber", true, "", "col-12 col-md-4") }}
                                    {{ macro.formField( "Broj mobitela", contact.mobilePhoneNumber, "mobilePhoneNumber", true, "", "col-12 col-md-4") }}
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-remove-contact">{{ "Ukloni" }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-right">
                            <button id="btn-add-contact" type="button" class="add_tag_link btn btn-primary" style="float:right;">{{ "Dodaj" }}</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label for="password.first" class="required">{{ "Lozinka"|trans }}
                : {{ form_errors(form.password.first) }}</label>
            {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            <label for="password.second" class="required">{{ "Ponovljena lozinka"|trans }}
                : {{ form_errors(form.password.second) }}</label>
            {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>
    {{ macro.containerEnd() }}


{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/screens/new_client.js') }}"></script>

{% endblock %}
