{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Nova lokacija" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi lokaciju" %}
{% endif %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="row">
        <div class="col-12" id="new_location">
            {{ form_start(form, {'attr': {'id': 'frmLocation'}}) }}

            {% include "shared/form_validation_alert.html.twig" %}

            <h2>{{ "Opće" }}</h2>
            <div class="row">
                {{ macro.formField( 'Regija', form.region, "region", true, "", "col-md-12 col-lg-6") }}
                {{ macro.formField( 'Poštanski broj', form.postal_code, "postal_code", true, "", "col-md-12 col-lg-6") }}
            </div>

            <h2 class="mt-3">{{ "Lokalizacije" }}</h2>
            <div class="row">
                {% for locationLoco in form.locationLocalizations %}
                    <div class="col-12 col-lg-4">
                        {{ macro.formField( 'Jezik', locationLoco.language, "language", true, "", "d-none") }}
                        {{ macro.formField('Naziv' ~ ' (' ~ locationLoco.language.vars.data.name ~ ')', locationLoco.name, "name", true, "", "") }}
                    </div>
                {% endfor %}
            </div>

            {% if isNew is defined and isNew == false %}
                <h2 class="mt-3">{{ "Local life" }}</h2>
                <div class="row">
                    {% for localLife in form.localLives %}
                        <div class="col-12">
                            {{ macro.formField('Jezik', localLife.language, "language", true, "", "d-none") }}
                            {{ macro.formField('Local life' ~ ' (' ~ localLife.language.vars.data.name ~ ')', localLife.html, "html", false, "summernote", "") }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
            </div>

            {{ form_row(form._token) }}

            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>


    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset("backend/js/screens/new_location.js") }}"></script>
{% endblock %}
