{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Nova vrsta nekretnine"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Nova vrsta nekretnine') }}
    <div class="col-sm-12 col-lg-6" id="new_region">
        {{ form_start(form, {'attr': {'id': 'frmRegion'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <!-- field roles -->
        <div class="form-group">
            <label for="tblRealEstateTypeLocalizations">{{ "Lokalizacije" | trans }}</label>
            <table class="table" id="tblRealEstateTypeLocalizations">
                <thead>
                <tr>
                    <th>{{ "Jezik" | trans }}</th>
                    <th>{{ "Naziv" | trans }}</th>
                    <th>{{ "Prefix naslova kategorijske stranice" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for retLoco in form.realEstateTypeLocalizations %}
                    <tr>
                        <td>{{ form_widget(retLoco.language, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(retLoco.name, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(retLoco.title_prefix, { 'attr': {'class': 'form-control'} }) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}
