{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Nova blog kategorija" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi blog kategoriju" %}
{% endif %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="col-sm-12" id="new_blogcategory">
        {{ form_start(form, {'attr': {'id': 'frmBlogCategory'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        {# LOCALIZATIONS #}
        <div class="row">
            <div class="col-12"><h2 class="mt-3">{{ "Lokalizacije" }}</h2></div>
            {% for blogcategoryLoco in form.blogcategoryLocalizations %}
                {{ macro.formField("Jezik", blogcategoryLoco.language, "language", true, "", "d-none col-lg-6") }}
                <div class="col-12"><h4>{{ blogcategoryLoco.language.vars.data.name }}</h4></div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="recpLoco.title" class="required">{{ "Naslov" | trans }}: {{ form_errors(blogcategoryLoco.name) }}</label>
                    {{ form_widget(blogcategoryLoco.name, { 'attr': {'class': 'form-control', 'data-slugify-from': loop.index0 }}) }}
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="recpLoco.slug" class="required">{{ "Slug" | trans }}: {{ form_errors(blogcategoryLoco.slug) }}</label>
                    {{ form_widget(blogcategoryLoco.slug, { 'attr': {'class': 'form-control', 'data-slugify-to': loop.index0 }}) }}
                </div>
            {% endfor %}
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/backend/js/utility/slugify.js') }}"></script>
    <script src="{{ asset('/backend/js/screens/new_blogcategory.js') }}"></script>

{% endblock %}

