{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Nova značajka" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi značajku" %}
{% endif %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="col-sm-12" id="new_feature">
        {{ form_start(form, {'attr': {'id': 'frmFeature'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <h2 class="mt-3">{{ "Lokalizacije" }}</h2>
        <div class="row">
            {% for featureLoco in form.featureLocalizations %}
                <div class="col-12 col-lg-4">
                    {{ macro.formField( 'Jezik', featureLoco.language, "language", true, "", "d-none") }}
                    {{ macro.formField('Naziv' ~ ' (' ~ featureLoco.language.vars.data.name ~ ')', featureLoco.name, "name", true, "", "") }}
                </div>
            {% endfor %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}