{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Sadržaj"|trans }}{% endblock %}


{% block content %}
    {{ macro.containerStart('Sadržaj') }}
    <div class="col-sm-12 col-lg-12" id="new_cmspage">
        {{ form_start(form, {'attr': {'id': 'frmCmsPage'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}



        <!-- field roles -->
        <div class="form-group">
            <div class="row">
                {{ form_start(form, {'attr': {'id': 'frmLanguage'}}) }}
                {{ macro.formField( 'Tip stranice', form.page_type, "page_type", true, "", "col-lg-6 d-none") }}
                {% if form.vars.data.getPageType ==  constant('App\\Entity\\Enum\\CmsPageTypeEnum::BLOG')%}
                {{ macro.formField( 'Kategorija', form.category, "category", true, "form-control-input", "col-lg-6 hide_on_predefined") }}
                 {% endif %}
                {{ form_widget(form.display_id) }}

            {# field cover_photo #}
            <div class="form-group col-md-6 col-lg-6">
                <label for="cover_photo" class="required">{{"Slika"|trans}}: {{ form_errors(form.cover_photo) }}</label>
                <br>
                {{ form_widget(form.cover_photo) }}
            </div>
                {% if form.vars.data.getPageType ==  constant('App\\Entity\\Enum\\CmsPageTypeEnum::BLOG')%}
                    {{ macro.formField( 'Izdvojeno', form.slider, "slider", false, "form-control-input", "col-lg-6 hide_on_predefined") }}
                {% endif %}
            </div>
                <hr>
                {% for cmsLoco in form.cmsPageLocalizations %}
                    <div class="{{ "lngCnt lngCnt" ~ cmsLoco.language.vars.data.code }}  row">
                    <div class="col-12"><h1>{{ cmsLoco.language.vars.data.name }}</h1></div>
                        {{ macro.formField( 'Jezik', cmsLoco.language, "name", true, "", "d-none col-lg-6") }}
                        {{ macro.formField( 'Naslov - ' ~ cmsLoco.language.vars.data.code, cmsLoco.title, "title", true, "", "col-lg-6") }}
                        {{ macro.formField( 'Slug - ' ~ cmsLoco.language.vars.data.code, cmsLoco.slug, "code", true, "", "col-lg-6") }}
                        {{ macro.formField( 'Sadržaj - ' ~ cmsLoco.language.vars.data.code, cmsLoco.content, "content", true, "summernote", "col-lg-12") }}
                    </div>
                    <hr>
                {% endfor %}
            <div class="row">
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-dark">{{ "Spremi"|trans }}</button>
                </div>
            </div>


        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}

{% block js %}
{{ parent() }}
    <script src="{{ asset('/backend/js/utility/slugify.js') }}"></script>
    <script src="{{ asset("backend/js/screens/new_cmspage.js") }}"></script>
{% endblock %}