{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Nova nekretnina" %}
{% if isNew is defined and isNew == false %}
    {% set title = "Uredi nekretninu" %}
{% endif %}

{% block title %}{{ title | trans }}{% endblock %}


{% block content %}
    {{ macro.containerStart(title) }}
<div class="col-sm-12 col-lg-12 estate-type-{% if isNew == false %}{{ realEstate.realEstateType.id }}{% else %}1{% endif %}" id="new_realestate">
    {{ form_start(form, {'attr': {'id': 'frmRealEstate'}}) }}

    {% include "shared/form_validation_alert.html.twig" %}

    <!-- field roles -->
    <div class="form-group">
        <div class="row">
            <div class="col-12 ">
                <div class="row">
                    <div class="col-md-6 col-sm-12 ">
                        <div class="row">
                            {% if realEstate is defined %}
                            <div class="form-group col-6 col-xs-12">
                                <label>{{ "Šifra objekta" | trans  }} : </label>
                                <input type="text" readonly class="float-input form-control" value="{{realEstate.uid}}">
                            </div>
                            <div class="form-group col-6 col-xs-12">
                                <label>{{"Status oglasa" | trans }} : </label>
                                <input type="text" readonly class="float-input form-control" value="{{
                                    realEstate.getStatus().getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name
                                }}">
                            </div>
                            {% endif %}
                            {{ macro.formField( 'Tip nekretnine', form.realEstateType, "realEstateType", false, "", "col-6 col-xs-6") }}
                            {{ macro.formField( 'Lokacija'|trans, form.location, "location", false, "", "col-6 col-xs-12") }}
                            {{ macro.formField( 'Adresa'|trans, form.latlng.address, "latlng.adress", false, "", "col-6") }}
                            {{form.postalCode is defined ? macro.formField( 'Poštanski broj'|trans, form.postalCode, "postalCode", false, "", "col-6") : null }}
                            {{ macro.formField( 'Mjesto'|trans, form.place, "place", false, "", "col-6") }}
                            {{form.agent is defined ? macro.formField( 'Agent', form.agent, "agent", false, "", "col-6 col-xs-12") : null }}
                            {{form.client is defined ?  macro.formField( 'Klijent'|trans, form.client, "client", false, "", "col-6 col-xs-12") : null }}
                            {{ form_widget(form.latlng.latitude, { 'attr': {'class': 'd-none form-control col-md-6 col-lg-6'} }) }}
                            {{ form_widget(form.latlng.longitude, { 'attr': {'class': 'd-none form-control col-md-6 col-lg-6'} }) }}
                            {{ macro.formField( 'Površina'|trans, form.livingArea, "livingArea", false, "float-input form-control", "col-6 col-xs-12", {'min': '0'}, "Izrazeno u m2") }}
                            {{ macro.formField( 'Površina zemljišta'|trans, form.surfaceArea, "surfaceArea", false, "float-input form-control", "col-6 col-xs-12 et-3-h et-4-h", {'min': '0'}, "Izrazeno u m2") }}
                            {{ macro.formField( 'Broj spavacih soba'|trans, form.bedroomCount, "bedroomCount", false, "int-input form-control", "col-6 col-xs-12 et-3-h et-4-h", {'min': '0'}) }}
                            {{ macro.formField( 'Broj kupaonica'|trans, form.bathroomCount, "bathroomCount", false, "int-input form-control", "col-6 col-xs-12 et-3-h et-4-h", {'min': '0'}) }}
                            <div class="col-12"></div>
                            {{ macro.formField( 'Cijena'|trans, form.fullPrice, "fullPrice", false, "float-input form-control", "col-md-6 col-sm-6 col-xs-6", {'min': '0'}, "Cijena je izražena u eurima") }}
                            {{ macro.formField( 'Cijena na upit', form.priceOnRequest, "priceOnRequest", false, "form-control-input", "col-md-4 col-sm-6 col-xs-6 price-checkbox") }}
                            {% if form.discountPrice is defined %}
                                {{ macro.formField( 'Snižena cijena', form.discountPrice, "discountPrice", false, "float-input form-control", "col-md-6 col-sm-6 col-xs-6", {'min': '0'}, "Snižena cijena je izražena u eurima") }}
                          <div class="form-group col-md-4 col-sm-6 col-xs-6 price-checkbox">
                                    <label for="priceOnRequest">{{ "Bez snižene cijene" | trans  }}
                                        : </label>
                                    <input type="checkbox" id="discountPriceToggle" class="form-control-input" {% if isNew == true or (realEstate is defined and (realEstate.fullPrice is null or realEstate.price == 0)) %} checked {% endif %}>
                                </div>
                            {% endif %}

                            <div class="col-12">
                                <label class="error-label" id="invalid_price_label">{{"Snižena cijena je veća od redovne"  | trans }}</label>
                            </div>
                            <!--part for real estate localizations -->

                             <strong>{{"Uređenje stranice nekretnine"  | trans }}</strong>
                            <div class="form-group col-12 page-language-display lan-active-hr" id="page_language_display">
                                <ul class="nav nav-tabs">

                                {% for rel in form.realEstateLocalizations %}
                                      <li class="nav-item ">
                                        <a class="nav-link language-link {% if rel.language.vars.data.code == 'hr' %} active {% endif %}" id="nav_for_language_{{ rel.language.vars.data.code }}" onclick="setActiveLanguage('{{ rel.language.vars.data.code }}')">{{ rel.language.vars.data.name | trans }}</a>
                                      </li>
                                {% endfor %}
                                </ul>

                                {% for rel in form.realEstateLocalizations %}

                                    <div class="page-single-language-setup language-setup-{{ rel.language.vars.data.id }} language-setup-{{ rel.language.vars.data.code }} has-error">
                                        {{ macro.formField('Naslov', rel.title, "title", false, "",  "col-12") }}

                                        {{ macro.formField('Opis', rel.description, "description", false, "", "col-12") }}

                                        {% if userRole == 'ROLE_ADMIN' %}
                                            {{ macro.formField('Slug', rel.slug, "slug", false, "", "col-12") }}
                                        {% endif %}

                                        {% if userRole != 'ROLE_ADMIN' and isNew == false %}
                                            <div style="display: none">
                                                {{ macro.formField('Slug', rel.slug, "slug", false, "", "col-12") }}
                                            </div>
                                        {% endif %}

                                        {% if form.realEstateMetaLocalizations is defined %}

                                            {% if userRole !=  "ROLE_ADMIN" %}
                                                <div style="display: none">
                                             {% endif %}
                                            {% for reml in form.realEstateMetaLocalizations %}
                                                {% if reml.children["language"].vars.value == rel.children["language"].vars.value %}
                                                    {{ form_widget(reml.language, { 'attr': {'class': 'd-none form-control col-12'} }) }}
                                                    {{ macro.formField('Metapodaci za naslov'|trans, reml.title, "title", false, "", "col-12") }}
                                                    {{ macro.formField('Metapodaci za opis'|trans, reml.description, "description", false, "", "col-12") }}
                                                {% endif %}
                                            {% endfor %}
                                            {% if userRole != "ROLE_ADMIN" %}
                                                </div>
                                             {% endif %}
                                        {% endif %}

                                        {% if userRole != 'ROLE_USER' %}
                                            {{ macro.formField('Sinonimi'|trans, rel.synonyms, "synonyms", false, "", "col-12") }}
                                        {% endif %}

                                        {% if userRole == "ROLE_USER" and isNew == false %}
                                            <div style="display: none">
                                                {{ macro.formField('Sinonimi', rel.synonyms, "synonyms", false, "", "col-12") }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                    <label class="error-label" id="locale_label">Greška</label>

                                <div class="row">
                                    {{ macro.formField( 'Video prikaz nekretnine'|trans, form.videoUrl, "videoUrl", false, "", "col-md-6 col-sm-12") }}
                                    {{ macro.formField( 'Virtualna šetnja', form.virtualWalkUrl, "virtualWalkUrl", false, "", "col-md-6 col-sm-12") }}
                                </div>

                                <div id="gallery-thumbs-container" class="gallery-thumbs-container clearfix ui-sortable">
                                    {% if realEstate is defined %} <!-- EDIT -->
                                        {%  for rei in realEstate.realEstateImages|filter(rei => rei.getInvalidated() == 0) %}
                                            <div id="holder-{{ rei.uuid }}" class="gallery-thumb
                                            {% if (images is defined and rei.id == images.cover) or (images is not defined and rei.isCover()) or (images.cover is null and rei.isCover()) %} featuring {% endif %}
                                            {% if (images is defined and rei.id in images.remove) %} removing {% endif %}
                                            ">
                                                {% include 'backend/include/single_real_estate_image2.html.twig' with {'rei': rei, isNew: false, isDeleted: (images is defined and rei.id in images.remove) } %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {% if images is defined and images.add is defined %} <!-- EDIT -->
                                        {%  for rei in images.add %}
                                            <div id="holder-{{ rei.uuid }}" class="gallery-thumb
                                            {% if (images is defined and rei.id == images.cover)  %} featuring {% endif %}
                                            {% if (images is defined and rei.id in images.remove) %} removing {% endif %}
                                            ">
                                                {% include 'backend/include/single_real_estate_image2.html.twig' with {'rei': rei, isNew: true, isDeleted: (images is defined and rei.id in images.remove)} %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group dropzone-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="dropzone_holder" class="dropzone">
                                                <div class="dz-message">
                                                    <i class="fa fa-upload"></i><br>
                                                    {{"Povuci i ispusti slike ovdje" | trans}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span><i class="fa fa-info-circle"></i></span>
                                
                                <small>{{ "Fotografiju možete označiti naslovnom označavajući simbol zvijezde."|trans }}</small>
                                <small>{{ "U slučaju da naslovna fotografija nije izabrana, prva fotografija sa liste će biti postavljena kao naslovna."|trans }}</small>
                                <small>{{ "Fotografiju označite za brisanje klikom na simbol kante na fotografiji."|trans }}</small>


                                <div id="gallery-plan-thumbs-container" class="gallery-thumbs-container clearfix ui-sortable">
                                    {% if realEstate is defined %} <!-- EDIT -->
                                        {%  for gp in realEstate.groundPlans|filter(gp => gp.getInvalidated() == 0) %}
                                            <div id="holder-{{ gp.uuid }}" class="gallery-thumb
                                            {% if (plans is defined and gp.id in plans.remove) %} removing {% endif %}
                                            ">
                                                {% include 'backend/include/ground_plan.html.twig' with {'gp': gp, isNew: false, isDeleted: (plans is defined and gp.id in plans.remove) } %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {% if plans is defined and plans.add is defined %}
                                        {%  for gp in plans.add %}
                                            <div id="holder-{{ gp.uuid }}" class="gallery-thumb
                                            {% if (plans is defined and gp.id in plans.remove) %} removing {% endif %}
                                            ">
                                                {% include 'backend/include/ground_plan.html.twig' with {'gp': gp, isNew: true, isDeleted: (plans is defined and gp.id in plans.remove)} %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group dropzone-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="dropzone_gplans_holder" class="dropzone">
                                                <div class="dz-message">
                                                    <i class="fa fa-upload"></i><br>
                                                    {{"Povuci i ispusti dokumente tlocrta ovdje (PDF, JPEG, PNG)" | trans}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span><i class="fa fa-info-circle"></i></span>

                                <small>{{ "Tlocrt označite za brisanje klikom na simbol kante na njemu."|trans }}</small>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div id="map"></div>
                        <strong>{{ "Obilježja" | trans }}</strong>
                        <div class="row">

                            {{ macro.formField( 'Energetski razred', form.energyClass, "energyClass", false, "", "col-md-6 col-sm-12", {'min': '0'}) }}
                            {{ macro.formField( 'Udaljenost od mora', form.distanceFromTheSea, "distanceFromTheSea", false, "float-input form-control", "col-md-6 col-sm-12", {'min': '0'}, "Izraženo u metrima"|trans) }}

                            {{ macro.checkboxField( 'Bazen', form.pool, "pool", false, "form-control-input", "col-md-4 col-sm-6 et-3-h et-4-h") }}
                            {{ macro.checkboxField( 'Garaža', form.garage, "garage", false, "form-control-input", "col-md-4 col-sm-6 et-3-h") }}
                            {{ macro.checkboxField( 'Prvi red do mora', form.firstRowByTheSea, "firstRowByTheSea", false, "form-control-input", "col-md-4 col-sm-6") }}
                            {{ macro.checkboxField( 'Pogled na more', form.seaView, "seaView", false, "form-control-input", "col-md-4 col-sm-6") }}
                            {{ macro.checkboxField( 'Novogradnja', form.newBuilding, "newBuilding", false, "form-control-input", "col-md-4 col-sm-6 et-3-h") }}
                            {{ macro.checkboxField( 'Nekretnine u izgradnji', form.underConstruction, "underConstruction", false, "form-control-input", "col-md-4 col-sm-6 et-3-h") }}

                            {% for feature in form.features %}

                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    {{ form_widget(feature) }}
                                    {{ form_label(feature) }}
                                </div>
                            {% endfor %}

                            {% if form.administrationNote is defined %}
                            {{ macro.formField( 'Dodatni komentar'|trans, form.administrationNote, "administrationNote", false, "", "col-12") }}
                            {% endif %}
                            {% if form.lotDetails is defined %}
                            {{ macro.formField( 'Detalji KP čestice'|trans, form.lotDetails, "lotDetails", false, "", "col-12") }}
                            {% endif %}
                            {% if form.keysInPossession is defined %}
                            {{ macro.formField( 'U posjedu ključa'|trans, form.keysInPossession, "keysInPossession", false, "form-control-input", "col-12") }}
                            {% endif %}
                            {% if form.clientNote is defined %}
                            {{ macro.formField( 'Dodatni komentar'|trans, form.clientNote, "clientNote", false, "", "col-12") }}
                            {% endif %}

                            {% if userRole != 'ROLE_USER' %}

                            <strong>{{ "Exporti na portale i društvene mreže" | trans }}</strong>

                                {% if form.exportToZoopla is defined %}
                                {{ macro.formField( 'Export oglasa na zooplu'|trans, form.exportToZoopla, "exportToZoopla", false, "form-control-input", "col-12") }}
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <!-- HIDDEN -->
            {% if isNew is defined and isNew == true %}
                <input type="hidden" id="cover-image" name="cover_image" value="">
            {% else %}
                <input type="hidden" id="cover-image" name="cover_image" value="{{realEstate.getCoverImageId()}}">
            {% endif %}


        </div>
        {% if form.add is defined %}
            {{ form_widget(form.add, { 'attr': {'class': 'btn btn-primary', 'id': 'form_add_button'} }) }}
        {% endif %}

        {% if form.addAndPublish is defined%}
            {{ form_widget(form.addAndPublish, { 'attr': {'class': 'btn btn-primary'} }) }}
        {% endif %}

        {% if form.edit is defined and ((realEstate is defined and userRole != "ROLE_USER" and realEstate.status.displayId in ["CREATED", "REJECTED"]) or userRole == "ROLE_USER") %}
            {{ form_widget(form.edit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {% endif %}
        {% if form.editPublished is defined and realEstate is defined and userRole != "ROLE_USER" and realEstate.status.displayId in ["PUBLISHED", "IN_PROGRESS"] %}
            {{ form_widget(form.editPublished, { 'attr': {'class': 'btn btn-primary'} }) }}
        {% endif %}
        {% if form.editAndPublish is defined and realEstate is defined and realEstate.status.displayId == "CREATED" %}
            {{ form_widget(form.editAndPublish, { 'attr': {'class': 'btn btn-info'} }) }}
        {% endif %}
        {% if form.setRejected is defined and realEstate is defined and realEstate.status.displayId == "CREATED" %}
            {{ form_widget(form.setRejected, { 'attr': {'class': 'btn btn-danger'} }) }}
        {% endif %}
        {% if form.setInProgress is defined and realEstate is defined and realEstate.status.displayId == "PUBLISHED" %}
            {{ form_widget(form.setInProgress, { 'attr': {'class': 'btn btn-warning'} }) }}
        {% endif %}
        {% if form.setCompleted is defined and realEstate is defined and realEstate.status.displayId in ["PUBLISHED", "IN_PROGRESS"] %}
            {{ form_widget(form.setCompleted, { 'attr': {'class': 'btn btn-success'} }) }}
        {% endif %}

        {% if form.preview is defined%}
            {{ form_widget(form.preview, { 'attr': {'class': 'btn btn-primary'} }) }}
        {% endif %}

        <stong></stong>
        {# repeated ifs so we can explain actions afterwards#}
        <p><span><i class="fa fa-info-circle"></i></span>
        <small>{{ "OBJAŠNJENJE AKCIJA"|trans }}</small>
        </p>
         {% if form.add is defined %}
         <p>
            <small>{{ "Akcijom <b>Predaj oglas</b> oglas će biti predan, no ne i objavljen na stranici."|trans|raw }}</small>
            {%if userRole == "ROLE_USER" %}
            <small>{{ "Za objavu, potrebna je potvrda administracije."|trans|raw }}</small>
            {% endif %}
        </p>

        {% endif %}

        {% if form.addAndPublish is defined%}
            <p>
            <small>{{ "Akcijom <b>Predaj i objavi oglas</b> oglas će biti objavljen na stranici."|trans|raw }}</small>
            </p>
        {% endif %}

        {% if form.edit is defined and ((realEstate is defined and userRole != "ROLE_USER" and realEstate.status.displayId in ["CREATED", "REJECTED"]) or userRole == "ROLE_USER") %}
            <p>
            {%if userRole == "ROLE_USER" %}
            <small>{{ "Akcijom <b>Uredi</b> oglas će biti uklonjen sa stranice dok se izmjene ne odobre."|trans|raw }}</small>
            {% else %}
            <small>{{ "Akcijom <b>Uredi</b> oglas će biti osvježen, no ne i objavljen"|trans|raw }}</small>
            {% endif %}
            </p>
        {% endif %}
        {% if form.editPublished is defined and realEstate is defined and userRole != "ROLE_USER" and realEstate.status.displayId in ["PUBLISHED", "IN_PROGRESS"] %}
            <p>
            {%if userRole == "ROLE_USER" %}
            <small>{{ "Akcijom <b>Uredi</b> oglas će biti uklonjen sa stranice dok se izmjene ne odobre."|trans|raw }}</small>
            {% else %}
            <small>{{ "Akcijom <b>Uredi</b> oglas će biti osvježen i izmjene vidljive na stranici"|trans|raw }}</small>
            {% endif %}
            </p>
        {% endif %}
        {% if form.editAndPublish is defined and realEstate is defined and realEstate.status.displayId == "CREATED" %}
            <p>
            <small>{{ "Akcijom <b>Uredi i objavi</b> oglas će biti objavljen na stranici."|trans|raw }}</small>
            </p>
        {% endif %}
        {% if form.setRejected is defined and realEstate is defined and realEstate.status.displayId == "CREATED" %}
            <p>
            <small>{{ "Akcijom <b>Odbij</b>, oglas neće biti objavljen, te će klijent biti obaviješten o tome"|trans|raw }}</small>
            </p>
        {% endif %}
        {% if form.setInProgress is defined and realEstate is defined and realEstate.status.displayId == "PUBLISHED" %}
            <p>
            <small>{{ "Akcijom <b>Postavi pred realizaciju</b>, oglas će prijeći u status <b>Pred realizacijom</b>, i ostati će objavljen na stranici"|trans|raw }}</small>
            </p>
        {% endif %}
        {% if form.setCompleted is defined and realEstate is defined and realEstate.status.displayId in ["PUBLISHED", "IN_PROGRESS"] %}
            <p>
            <small>{{ "Akcijom <b>Postavi kao realiziran</b>, oglas će prijeći u status <b>Završen</b> i neće se prikazivati na stranici. Ovo je konačno i nepromjenjivo stanje oglasa."|trans|raw }}</small>
            </p>
        {% endif %}
        {% if form.preview is defined  %}
            <p>
            <small>{{ "Akcijom <b>Pretpregled oglasa</b> možete dobiti uvid u prikaz oglasa na stanici. Izmjene neće biti primjenjene prije potvrde!"|trans|raw }}</small>
            </p>
        {% endif %}

        {# end of action explanation#}

        {{ form_end(form, {'render_rest': false}) }}

        {{ form_row(form._token) }}


    </div>

    {{ macro.containerEnd() }}

    {% endblock %}

    {% block js %}
        {{ parent() }}
        <script>
            window.isNew = "{{ isNew ? 1 : "" }}" ? true : false;
            window.formAction = window.isNew ? "create" : "edit";

            window.userType = "{{ userRole }}".replace("ROLE_", "").toLowerCase();

            window.userType = window.userType === "user" ? "client" : "admin";

        </script>
        <script src="{{ asset('/backend/js/utility/slugify.js') }}"></script>
        <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js" integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM=" crossorigin="anonymous"></script>
        <script src="{{ asset('backend/js/screens/new_realestate-1603832534.js') }}"></script>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap">
    </script>

    {% endblock %}

    {% block css %}
    {{ parent() }}
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       label[for="secondname"]
        {
            display:none;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />

    {% endblock %}