{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Upozorenje"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Upozorenje' ~ " " ~ notification.getCreatedAt|date("d.m.Y g:ia")) }}
    <div class="col-sm-12 col-lg-12 notification-icon text-center"><i class="fa fa-bell" aria-hidden="true"></i></div>
    <div class="col-sm-12 col-lg-12">
        <a href="{{ path('user_edit', {"id": notification.getTriggeredBy().id })}}">{{ notification.getTriggeredBy().username}}</a> {{  notification.verb|trans ~ " " }}
       {% if notification.getObject() is not null%}
			<a href="{{ path("realestate_edit", {"id":notification.getObject().id}) }}">{{ notification.getObject().getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title }}</a>
        {% elseif notification.getRealEstateCustomPage() is not null%}
            <a href="{{ path("realestatecustompage_edit", {"id":notification.getRealEstateCustomPage().id}) }}">{{ notification.getRealEstateCustomPage().getRealEstateCustomPageLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title }}</a>
        {% endif %}.
        {%  if notification.suffixMessage is not null %}
            {{ notification.suffixMessage }}
        {% endif %}
    </div>
    {{ macro.containerEnd() }}
{% endblock %}
