{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Administration"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Online korisnici"|trans }} </h6>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable"
                       width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Korisnici"|trans }}</th>
                        <th>{{ "Email"|trans }}</th>
                        <th>{{ "Role"|trans }}</th>
                        <th>{{ "Trajanje"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% set visit =  user.getVisits()|last %}
                        {% set active = 0 %}

                        {% if visit is not empty %}
                            {% if visit.getVisitEndedAt|date("U") > "-1 minutes"|date("U") %}
                                {% set active = 1 %}
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td>
                                {% if active == 1 %}

                                    <div class="btn-circle btn-success btn-sm margin-right-5"><i
                                                class="fas fa-wifi"></i></div>
                                {% else %}
                                    <div class="btn-circle btn-dark btn-sm margin-right-5"> <i
                                                class="fas fa-wifi"></i></div>
                                {% endif %}
                                <a href="{{ path("user_visits", {"id":user.id}) }}">{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>
                                {% if active == 1 %}
                                    {{ date(visit.getVisitedAt()).diff(date("now"))|date("%H:%I.%S") }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js?v=1') }}"></script>
{% endblock %}
