{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Kategorijske stranice" | trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Kategorijske stranice" | trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("realestatecustompage_new") }}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Naziv" | trans }}</th>
                        <th>{{ "Slug" | trans }}</th>
                        <th>{{ "Naziv nadkategorije" | trans }}</th>
                        <th>{{ "Aktivna" | trans }}</th>
                        <th>{{ "Opcije" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recp in realestatecustompageList %}
                        {% set recpLoco = recp.getRealEstateCustomPageLocalization(app.request.locale) %}
                        <tr>
                            <td>{{ recpLoco.title }}</td>
                            <td>{{ recpLoco.slug }}</td>
                            <td>
                                {% set parentRecp = recp.getParentRealEstateCustomPage() %}
                                {% if parentRecp is not null %}
                                    {{ parentRecp.getRealEstateCustomPageLocalization(app.request.locale).title }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if recp.active == true %}
                                    {{ "DA" | trans }}
                                {% else %}
                                    {{ "NE" | trans }}
                                {% endif %}
                            </td>
                            <td>
                                {{ macro.editButton( 'realestatecustompage_edit', recp.id) }}
                                {{ macro.editMetaButton( 'realestatecustompagemeta_edit', recp.id) }}
                                {{ macro.deleteButton( 'realestatecustompage_delete', recp.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/screens/realestatecustompage_list.js') }}"></script>
{% endblock %}
