{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Nekretnine"|trans }}{% endblock %}


{% if app.user.roles[0] == "ROLE_USER" %}
    {% set prefix = "client_" %}
{% else %}
    {% set prefix = "" %}
{% endif %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Nekretnine"|trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ path(prefix ~ "realestate_new", {hash: random()}) }}" class="btn btn-primary btn-circle btn-sm" title="{{ "Dodaj" | trans }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <strong>Pretraga po datumu predaje</strong>
                    <div class="row">
                        <div class="col-5">
                            <input data-provide="datepicker" data-date-format="dd.mm.yyyy" id="createdDateFrom" placeholder="Predan nakon" class="form-control form-control-sm">
                        </div>
                        -
                        <div class="col-5">
                            <input data-provide="datepicker" data-date-format="dd.mm.yyyy"  id="createdDateTo" placeholder="Predan prije" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th data-column-name="id">{{ "ID"|trans }}</th>
                        <th>{{ "Naziv"|trans }}</th>
                        <th>{{ "Šifra"|trans }}</th>
                        <th data-column-name="created-at">{{ "Datum predaje"|trans }}</th>
                        <th>{{ "Tip"|trans }}</th>
                        {% if app.user.roles[0] != "ROLE_USER" %}
                            <th>{{ "Klijent"|trans }}</th>
                        {% endif %}
                        <th>{{ "Status"|trans }}</th>
                        {% if is_granted(constant('App\\Entity\\Enum\\RoleEnum::ADMIN')) or is_granted('App\\Entity\\Enum\\RoleEnum::EMPLOYEE') %}
                            <th>{{ "Izdvojeno"|trans }}</th>
                        {% endif %}
                        <th>{{ "Opcije"|trans }}</th>

                    </tr>
                    </thead>
                    <tbody>


                    {% for realEstate in realestateList %}
                        {% set localization = realEstate.getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first %}

                        <tr>
                            <td>{{ realEstate.id }}</td>
                            <td>
                                {% if localization is defined and localization is not null and localization %}
                                    {{ localization.title }}
                                {% else %}
                                    -
                                {% endif %}
                                {% if realEstate.getFbPostId() is not empty%}
                                   <b> <i class="fab fa-facebook-f"></i>  </b>
                                {% endif %}
                                {% if realEstate.getTwitterPostId() is not empty%}
                                <b> <i class="fab fa-twitter"></i></b>
                                {% endif %}
                                {% if realEstate.getZooplaId() is not empty%}
                                    <span><img style="height: 17px;filter: grayscale(100%)" src="https://z.zoocdn.com/www/_b/static/images/favicon-37408e0919.ico" alt="Zoopla"/></span>
                                {% endif %}
                            </td>
                            <td>{{ realEstate.uid }}</td>
                            <td>{{ realEstate.createdAt|date("d.m.Y,H:i") }}</td>
                            <td>{{
                                realEstate.getRealEstateType().getRealEstateTypeLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name

                                }}
                            </td>
                            {% if app.user.roles[0] != "ROLE_USER" %}
                                <td>
                                    {% if realEstate.client is defined and realEstate.client %}
                                        {{
                                           realEstate.client.username
                                        }}
                                    {% else  %}
                                        -
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{
                                realEstate.getStatus().getStatusLocalizations()|filter(v=> v.language.code == app.request.locale)|first.name

                                }}
                            </td>
                            {% if is_granted(constant('App\\Entity\\Enum\\RoleEnum::ADMIN')) or is_granted('App\\Entity\\Enum\\RoleEnum::EMPLOYEE') %}
                                <td>
                                    <a role="button" class="switchButton" data-path="{{ path("realestatefeatured_switch", {id: realEstate.id}) }}" }}"><i
                                            class="fa fa-toggle-{% if realEstate.isFeatured() == 1 %}on{% else %}off{% endif %} text-primary font-weight-bold"
                                            style="font-size:25px;"> </i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {{ macro.deleteButton( prefix ~ 'realestate_delete', realEstate.id) }}
                                {{ macro.editButton( prefix ~ 'realestate_edit', realEstate.id, random()) }}
                                {{ macro.fileButton('realestate_documents_manage', realEstate.id) }}
                                {% if is_granted(constant('App\\Entity\\Enum\\RoleEnum::ADMIN'))  %}
                                    {{ macro.imagesButton( prefix ~ 'realestate_images_manage', realEstate.id) }}
                                {% endif %}
                                {% if realEstate.getFbPostId() is empty and realEstate.getStatus().getDisplayId() == "PUBLISHED" %}
                                <a href="{{ path("publish_to_facebook", {"id": realEstate.id}) }}" class="btn btn-primary btn-circle btn-sm" title="Facebook">
                                    <i class="fab fa-facebook-f"></i></a>
                                    {% else %}
                                        <a href="{{ path("publish_to_facebook", {"id": realEstate.id}) }}" class="btn btn-dark btn-circle btn-sm" title="Facebook">
                                            <i class="fab fa-facebook-f"></i></a>
                                {% endif %}
                                {% if realEstate.getTwitterPostId() is empty and realEstate.getStatus().getDisplayId() == "PUBLISHED" %}
                                <a href="{{ path("publish_to_twitter", {"id": realEstate.id}) }}" class="btn btn-primary btn-circle btn-sm" title="Twitter">
                                    <i class="fab fa-twitter"></i></a>
                                {% endif %}

                                {% if app.user.roles[0] != "ROLE_USER" and realEstate.getZooplaId() is empty and (realEstate.getStatus().getDisplayId() == "PUBLISHED" or realEstate.getStatus().getDisplayId() == "IN_PROGRESS") %}
                                    <a href="{{ path("publish_to_zoopla", {"id": realEstate.id}) }}" class="btn btn-primary btn-circle btn-sm" title="Zoopla">
                                        <img style="height: 17px;" src="https://z.zoocdn.com/www/_b/static/images/favicon-37408e0919.ico" alt="Zoopla"/></a>
                                {% endif %}

                                {% if app.user.roles[0] != "ROLE_USER" and realEstate.getZooplaId() is not empty%}
                                    <a href="{{ path("publish_to_zoopla", {"id": realEstate.id}) }}" class="btn btn-dark btn-circle btn-sm" title="Zoopla">
                                        <img style="height: 17px;filter: grayscale(100%)" src="https://z.zoocdn.com/www/_b/static/images/favicon-37408e0919.ico" alt="Zoopla"/></a>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('backend/js/screens/real_estate_list.js?v=1.1') }}"></script>
    <script>
        var filter_by_status = "{% if status is defined %}{{ status }}{% endif %}";
    </script>
{% endblock %}
