{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Slike za nekretninu"|trans }}{% endblock %}

{% block content %}
    {% set title = realEstate.getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Uređivanje metapodataka za fotografije '|trans }} {{ title }} </h6>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="container-fluid">

            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{ 'Fotografije'|trans }}</h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-left" id="images_container">

            {%  for rei in realEstate.realEstateImages|filter(rei => rei.getInvalidated() == 0) %}
            <strong>{{ rei.originalFileName }}</strong>

            <div class="single-image-container row" data-image-id="{{ rei.id }}">

                <div class="gallery-thumb">
                {% include 'backend/include/single_real_estate_image2.html.twig' with {'rei': rei, isNew : false} %}
                </div>
                <div class="metatag-editor">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{"Jezik" | trans}}</th>
                                <th>{{"Alt tag" | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for localization in rei.realEstateImageMetaLocalizations %}
                            <tr class="locale" data-locale="{{ localization.language.code }}">
                                <td>{{localization.language.name}}</td>
                                <td>
                                    <input class="alt-tag" type="text" value="{{ localization.altTag }}"/>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-dark" onclick="sendRequest()">{{ "Spremi"|trans }}</button>
        </div>

    </div>
    {{ macro.containerEnd() }}

    {% endblock %}

    {% block js %}
        {{ parent() }}
        <script>
          window.realEstateId = "{{ realEstate.id }}";
        </script>
        <script src="{{ asset('backend/js/screens/real_estate_images.js') }}"></script>

    {% endblock %}

    {% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />

    {% endblock %}