{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Dokumenti za nekretninu"|trans }}{% endblock %}

{% block content %}
    {% set title = realEstate.getRealEstateLocalizations()|filter(v=> v.language.code == app.request.locale)|first.title %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Dodavanje dokumenata za nekretninu '|trans }} {{ title }} </h6>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="container">

          <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{"Dokumenti"|trans}}</h1>

          <hr class="mt-2 mb-5">

          <div class="row text-center text-lg-left" id="documents_container">

            {%  for doc in realEstate.documents|filter(doc => (doc.getInvalidated() == 0 and doc.documentType == 1)) %}
                {% include 'backend/include/real_estate_single_document.html.twig' with {'doc': doc} %}
            {% endfor %}

            </div>

            <!-- field roles -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <form action="{{ path('real_estate_documents_upload', {
                        id : realEstate.id
                        }) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
                        </form>

                        <button type="button" id="btn_upload">{{"Dodaj dokumente"|trans}}</button>

                    </div>
                </div>
            </div>

            {% if role != "ROLE_EMPLOYEE" %}

                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{"Kupoprodajni dokumenti"|trans }}</h1>
                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left" id="documents_bos_container">

                {%  for doc in realEstate.documents|filter(doc => (doc.getInvalidated() == 0 and doc.documentType == 0)) %}
                   {% if (doc.adminExclusive == 0 or role == "ROLE_ADMIN") %}
                        {% include 'backend/include/real_estate_single_document.html.twig' with {'doc': doc} %}
                   {% endif %}

                {% endfor %}

                </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <form action="{{ app.user.roles[0] == "ROLE_USER" ?
                                path('client_real_estate_documents_upload', { id : realEstate.id}) :
                                path('real_estate_documents_upload', { id : realEstate.id}) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone-bos">
                                </form>

                                <button type="button" id="btn_upload_bos">{{ "Dodaj kupoprodajne dokumente"|trans }}</button>

                            </div>
                        </div>
                    </div>
            {% endif %}

        </div>



    {{ macro.containerEnd() }}

    {% endblock %}

    {% block js %}
        {{ parent() }}
        <script>
          window.realEstateId = "{{ realEstate.id }}";
          window.adminExclusiveUrl = "{{ path('real_estate_document_set_admin_exlusive', {'documentId' : 'phDocId', 'realEstateId': realEstate.id}) }}";
          window.isAdmin = !!({{ app.user.getRoles()[0] == "ROLE_ADMIN" ? "1" : ""}});
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js" integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM=" crossorigin="anonymous"></script>
        <script src="{{ asset('backend/js/screens/real_estate_documents.js') }}"></script>


    {% endblock %}

    {% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />


    {% endblock %}