{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Korisnici"|trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart('Uredi korisnika') }}
    <div class="col-sm-12 col-lg-6" id="novi_korisnik">
        {{ form_start(form, {'attr': {'id': 'frmUser'}}) }}

        <!-- field username -->
        {{ macro.formField( 'Korisničko ime', form.username, "username", true) }}

        <!-- field email -->
        {{ macro.formField( 'Email', form.email,"username", true) }}

        <!-- field first_name -->
        {{ macro.formField( 'Ime', form.first_name, "first_name", true) }}

        <!-- field last_name -->
        {{ macro.formField( 'Prezime', form.last_name, "last_name", true) }}

        <!-- field phone_no -->
        {{ macro.formField( 'Broj telefona', form.phone_no, "phone_no", true) }}

        <!-- field personal_identification_number -->
        {{ macro.formField( 'OIB', form.personal_identification_number, "personal_identification_number", false) }}

        <!-- field company_name -->
        {{ macro.formField( 'Firma', form.company_name, "company_name", false) }}

        <div class="form-group">
            <div id="">
                <a id="btn-start-deactivation" href="#" class="btn btn-danger">{{ "Izbrišite vaš korisnički račun" | trans }}</a>
            </div>
            <div id="account-deactivation" class="text-center d-none" style="border: solid 1px; padding: 10px">
                <p>
                    <strong>
                        {{ "Jeste li sigurni da želite izbrisati vaš račun? Brisanjem računa svi podaci biti će trajno izbrisani." | trans }}
                    </strong>
                </p>
                <div class="row">
                    <div class="col-6">
                        <a href="#" id="btn-keep-account" class="btn btn-success">{{ "Zadrži račun"|trans }}</a>
                    </div>
                    <div class="col-6">
                        <a id="btn-delete-account" href="{{ path('user_self_deactivate', {'id': app.request.attributes.get('id') }) }}" class="btn btn-secondary">{{ "Izbriši račun"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button type="submit" class="btn btn-dark">{{ "Spremi" | trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>
    {{ macro.containerEnd() }}
{% endblock %}

{% block js %}

    {{ parent() }}
    <script src="{{ asset('backend/js/screens/self_edit_user.js') }}"></script>

{% endblock %}
