{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Administracija"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Posjete za korisnika"|trans }}
                        : {{ user.username }}</h6>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable"
                       width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Početak posjete"|trans }}</th>
                        <th>{{ "Završetak posjete"|trans }}</th>
                        <th>{{ "Trajanje"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visit in visits|reverse %}
                        {% if visit.getVisitEndedAt|date("U") > "-1 minutes"|date("U") %}
                            {% set endedDate = "now"|date("d.m.Y. H:i.s") %}
                            {% set active = 1 %}
                        {% else %}
                            {% set endedDate =  visit.getVisitEndedAt %}
                            {% set active = 0 %}
                        {% endif %}

                        <tr>
                            <td>
                                {% if active == 1 %}
                                    <div class="btn-circle btn-success btn-sm margin-right-5"> <i class="fas fa-wifi"></i></div>
                                {% else %}
                                    <div class="btn-circle btn-dark btn-sm margin-right-5"> <i class="fas fa-wifi"></i></div>
                                {% endif %}
                                {{ visit.getVisitedAt|date("d.m.Y. H:i.s") }}</td>
                            <td>
                                    {{ endedDate|date("d.m.Y. H:i.s") }}
                            </td>
                            <td> {{ date(visit.getVisitedAt()).diff(date(endedDate))|date("%H:%I.%S") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [[0, "desc"]],
                "responsive": true
            });
        });

    </script>
{% endblock %}
