{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% set title = "Reset lozinke"|trans %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
    {{ macro.containerStart(title) }}
    <div class="col-sm-12" id="new_feature">
        {{ form_start(form, {'attr': {'id': 'frmUser'}}) }}

        {% include "shared/form_validation_alert.html.twig" %}

        <h2 class="mt-3">{{ "Reset lozinke" }}</h2>

        <!-- field password first -->
        {{ macro.formField( 'Lozinka', form.password.first,"password.first", true) }}

        <!-- field password second -->
        {{ macro.formField( 'Lozinka', form.password.second,"password.second", true) }}

        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ "Unos"|trans }}</button>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

    {{ macro.containerEnd() }}

{% endblock %}