{% extends 'backend/base.html.twig' %}
{% import 'backend/macros/macros.html.twig' as macro %}

{% block title %}{{ "Korisnici"|trans }}{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">{{ "Korisnici"|trans }} </h6>
                </div>
                <div class="col-6 text-right">
                    {{ macro.addButton("user_new") }}
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable no-footer dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ "Korisnici"|trans }}</th>
                        <th>{{ "Email"|trans }}</th>
                        <th>{{ "Role"|trans }}</th>
                        <th>{{ "Aktivan"|trans }}</th>
                        <th>{{ "Opcije"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in userList %}
                        <tr>
                            <td>
                                <div class="btn-circle btn-primary btn-sm margin-right-5"><i class="fas fa-user"></i>
                                </div> {{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>{% if user.active == 1 %}{{ "DA"|trans }}{% else %}{{ "NE"|trans }}{% endif %}</td>
                            <td>
                                {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('admin_reset_password', {'user_id':  user.id}) }}" class="btn btn-primary btn-circle btn-sm margin-right-5">
                                    <i class="fas fa-key"></i>
                                </a>
                                {% endif %}
                                {{ macro.deleteButton( 'user_delete', user.id) }}
                                {{ macro.editButton( 'user_edit', user.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('backend/js/dataTableDefault.js?v=1') }}"></script>
{% endblock %}
