{% extends 'backend/base.html.twig' %}

{% block title %}{{ "Spremljene nekretnine"|trans }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset("backend/css/user-favorite.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase">{{ "Spremljene nekretnine"|trans }} </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for userFavorite in userFavorites %}
            <div class="col-12 col-md-6 user-favorite-container {% if userFavorite.status == "COMPLETED" %}div-opaque{% endif %}">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-11">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    {% if userFavorite.status == "COMPLETED" %}
                                        {{ userFavorite.title }} - {{ "Prodano" | trans | upper }}
                                    {% else %}
                                        <a class="user-favorite-link" href="{{ path('real_estate_details', {'slug': userFavorite.slug}) }}" target="_blank">
                                            {{ userFavorite.title }}
                                        </a>
                                    {% endif %}
                                </h6>
                            </div>
                            <div class="col-1 btn-remove-favorite-container">
                                <a class="btn btn-danger btn-circle btn-sm btn-remove-favorite" href="#" data-action="{{ path('client_user_favorite_delete', {'id': userFavorite.id}) }}">
                                    X
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                {% if userFavorite.status == "COMPLETED" %}
                                    <img class="favorite-cover-img" src="{{ userFavorite.coverImagePath }}">
                                {% else %}
                                    <a href="{{ path('real_estate_details', {'slug': userFavorite.slug}) }}" target="_blank">
                                        <img class="favorite-cover-img" src="{{ userFavorite.coverImagePath }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                                <div class="mb-2">
                                    <strong>{{ "Osnovne informacije" | trans }}</strong>
                                </div>
                                {% if userFavorite.livingArea is not null and userFavorite.livingArea > 0 %}
                                    <div>
                                        {{ "Površina" | trans }} : {{ userFavorite.livingArea }} m<sup>2</sup>
                                    </div>
                                {% endif %}
                                {% if userFavorite.surfaceArea is not null and userFavorite.surfaceArea > 0 %}
                                    <div>
                                        {{ "Površina zemljišta" | trans }} : {{ userFavorite.surfaceArea }} m<sup>2</sup>
                                    </div>
                                {% endif %}
                                {% if userFavorite.bedroomCount is not null %}
                                    <div>
                                        {{ "Broj soba" | trans }} : {{ userFavorite.bedroomCount }}
                                    </div>
                                {% endif %}
                                {% if userFavorite.bathroomCount is not null %}
                                    <div>
                                        {{ "Broj kupatila" | trans }} : {{ userFavorite.bathroomCount }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}

    {{ parent() }}
    <script src="{{ asset("backend/js/screens/userfavorite_list.js") }}"></script>

{% endblock %}

