{% extends 'frontend/base.html.twig' %}
{% block headerAdditionalClass %}pxp-no-bg{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('agentpage', {'slug': page.slug}) }}">

{% endblock %}

{% block content %}
    <div class="pxp-content">
        <div class="pxp-content-wrapper">
            <div class="container mt-4 mt-md-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <h1 class="pxp-page-header float-left">{{page.first_name}} {{ page.last_name }}</h1>
                        <div class="clearfix"></div>
                        <p>{{page["title"]}}</p>
                        <div class="mt-4 mt-md-5">
                            <div class="pxp-agent-email"><a href="mailto:{{page.email}}"><span class="fa fa-envelope-o"></span> {{page.email}}</a></div>
                            <div class="pxp-agent-detail pxp-agent-phone"><p><span class="fa fa-phone"></span> {{ page.phone_number }}</p></div>
                            <div class="pxp-agent-detail pxp-agent-phone"><p><span class="fa fa-mobile"></span> {{ page.mobile_phone_number }}</p></div>
                            <div class="pxp-agent-detail pxp-agent-phone"><p><span class="fa fa-fax"></span> {{ page.fax_number }}</p></div>

                        </div>
                        <div class="mt-4 mt-md-5">
                            <a href="mailto:{{page.email}}" class="pxp-agent-contact-btn" data-toggle="modal" data-target="#pxp-work-with">{{ "Kontaktirajte "|trans }} {{page.first_name}} {{ page.last_name }}</a>
                        </div>
                    </div>
                    <div class="col-sm-12 offset-lg-1 col-lg-3">
                        <div class="pxp-agent-photo pxp-cover rounded-lg mt-4 mt-md-5 mt-lg-0" style="background-image: url(/uploads/img/content/{{page.image}}); background-position: 50% 0%;"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="pxp-agent-section mt-4 mt-md-5">
                            <h3>{{ "Više o agentu "|trans }} {{page["first_name"]}} {{ page["last_name"] }}</h3>
                            <div class="mt-3 mt-md-4">
                                {{ page["content"]|raw }}
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="pxp-section-h2 mt-100">{{"Oglasi agenta "|trans}} {{page["first_name"]}} {{ page["last_name"] }}</h2>
                <div class="row mt-4 mt-md-5">
                    {% for realEstate in realEstates %}

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a href="{{ path('real_estate_details', {'_locale': app.request.locale, 'slug': realEstate.slug}) }}" class="pxp-prop-card-1 rounded-lg mb-4">
                                <div class="pxp-prop-card-1-fig pxp-cover" style="background-image: url({{ realEstate.cover_image }});"></div>
                                <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                                <div class="pxp-prop-card-1-details">
                                    <div class="pxp-prop-card-1-details-title">{{realEstate.title}}</div>
                                    <div class="pxp-prop-card-1-details-price">{{realEstate.price | number_format(2, ",", ".")}}</div>
                                    <!-- <div class="pxp-prop-card-1-details-features text-uppercase">2 BD <span>|</span> 2 BA <span>|</span> 920 SF</div> -->
                                </div>
                                <div class="pxp-prop-card-1-details-cta text-uppercase">{{ "Pregledaj više" | trans }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>
            {% include 'frontend/include/location_category_pages_list_v2.html.twig' %}
        </div>

    </div>



{% endblock %}