<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link href="https://fonts.googleapis.com/css?family=Barlow:400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("vendor/resideo/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("vendor/resideo/css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ asset("vendor/resideo/css/owl.carousel.min.css") }}">
        <link rel="stylesheet" href="{{ asset("vendor/resideo/css/owl.theme.default.min.css") }}">
        <link rel="stylesheet" href="{{ asset("vendor/resideo/css/style.min.css?v=1") }}">
        <link rel="stylesheet" href="{{ asset("vendor/harvest-chosen/css/bootstrap4c/component-chosen.min.css") }}">
        <link href="{{ asset('vendor/flag-icon-css-master/assets/docs.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/flag-icon-css-master/css/flag-icon.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap-slider/css/bootstrap-slider.min.css') }}">
        {% if app.environment == 'prod' %}
            <link href="{{ asset('frontend/css/style.min.css?v=1.2') }}" rel="stylesheet">
        {% else %}
            <link href="{{ asset('frontend/css/style.css') }}" rel="stylesheet">
        {% endif %}
    {% endblock %}

    {% include "frontend/include/hreflangs.html.twig" %}

    {% block canonicalTag %}{% endblock %}

    <title>{% block metaTitle %}{{ parameters.metaTitle }}{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{{ parameters.metaDescription }}{% endblock %}">
    {% block facebookMeta %}{% endblock %}

    {% set gdprValue = app.request.cookies.get('terradalmatica_gdpr') %}

    <!-- if analytical cookies selected -->
    {% if 2 in gdprValue %}
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-T9VF9JR');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
</head>
<body>

<!-- if analytical cookies selected -->
{% if 2 in gdprValue %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9VF9JR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

{% include "frontend/include/topbar.html.twig" %}
{% include "frontend/include/fixed_buttons.html.twig" %}
<div class="{% block headerClasses %}pxp-header fixed-top pxp-animate pxp-no-bg {% endblock %}">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-3 col-lg-5 logo">
                <a href="{{ path("index") }}" class="pxp-logo text-decoration-none">
                    {% block logoImg %}<img src="{{ asset("frontend/img/TD_logo_1.svg") }}"
                                            alt="Terra dalmatica logo">{% endblock %}
                </a>
            </div>
            {% include "frontend/include/navigation.html.twig" with {"searchbarTrigger": searchbarForm is defined ? true : false } %}
        </div>
    </div>
</div>

{% if searchbarForm is defined %}
    {% set autoTrigger = false %}
    {% if searchbarFormAutoTrigger is defined %}
        {% set autoTrigger = searchbarFormAutoTrigger %}
    {% endif %}
    {% include "frontend/include/searchbar_v2.html.twig" with { "form": searchbarForm, "autoTrigger": autoTrigger } %}
{% endif %}

{% block breadcrumbs %}
    {% if app.request.attributes.get("_route") != 'index' %}
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb {% if searchbarForm is defined %}breadcrumbMarginTopCorrection{% endif %}">
                    <li class="breadcrumb-item active" aria-current="page"><a
                                href="{{ path("index") }}">{{ "Početna stranica"|trans }}</a></li>

                    {% if parameters.breadcrumbs is defined %}
                        {% for breadcrumb in parameters.breadcrumbs %}
                            <li class="breadcrumb-item active" aria-current="page"><a
                                        href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">{{ parameters.metaTitle }}</li>
                </ol>
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-white">Find your future home</h1>

        <form class="pxp-hero-search mt-4" action="properties.html">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <select class="custom-select">
                            <option selected>Buy</option>
                            <option value="1">Rent</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control pxp-is-address" placeholder="Enter address...">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
{% if app.user %}
    {% include "frontend/include/send_ping.html.twig" %}
{% endif %}



{% include "frontend/include/footer.html.twig" %}
{% include "frontend/include/gdpr.html.twig" %}

<div class="modal fade" id="pxp-signin-modal" tabindex="-1" role="dialog" aria-labelledby="pxpSigninModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "frontend/include/login_form.html.twig" %}
            </div>
        </div>
    </div>
</div>


{% for flashMessage in app.flashes('success') %}
    <div class="modal fade in notificationModal" id="notification-modal-{{ loop.index }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ flashMessage|raw }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% block extras %}
{% endblock %}

{% block js %}
    <script src="{{ asset("vendor/resideo/js/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ asset("vendor/jquery-lazy/jquery.lazy.min.js") }}"></script>
    <script src="{{ asset("vendor/jquery-lazy/jquery.lazy.plugins.min.js") }}"></script>
    <script type="application/javascript">
        $(function () {
            $('.lazy').lazy({
                visibleOnly: true,
                threshold: 0
            });
        });

    </script>
    <script src="{{ asset("vendor/resideo/js/popper.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap-autocomplete/js/bootstrap-autocomplete.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/owl.carousel.min.js") }}"></script>
    <script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ asset("vendor/harvest-chosen/js/chosen.jquery.min.js") }}"></script>

    {% if app.environment == 'prod' %}
    <script src="{{ asset("vendor/resideo/js/main.min.js") }}"></script>
    <script src="{{ asset("frontend/js/number_util.min.js") }}"></script>
    <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    <script src="{{ asset("frontend/js/script.min.js") }}"></script>
    <script src="{{ asset("frontend/js/user_stat.min.js") }}"></script>
    {% else %}
    <script src="{{ asset("vendor/resideo/js/main.js") }}"></script>
    <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    <script src="{{ asset("frontend/js/script.js") }}"></script>
    <script src="{{ asset("frontend/js/number_util.js") }}"></script>
    <script src="{{ asset("frontend/js/user_stat.js") }}"></script>
    {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}"></script>
{% endblock %}

</body>
</html>