{% extends 'frontend/base.html.twig' %}

{% block css %}
    {{ parent() }}

    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('blog') }}">

{% endblock %}

{% block content %}
    <div class="pxp-content">
        <div class="pxp-blog-posts pxp-content-wrapper">
            <div class="container">
                {% if blog is not null %}
                    <h1 class="pxp-page-header">{{ blog.title }}</h1>
                    <p class="pxp-text-light">{{ blog.content|raw }}</p>
                {% else %}
                    <h1 class="pxp-page-header">{{ "Najnoviji članci"|trans }}</h1>
                {% endif %}
                {% if sliderPosts is not empty %}
                <div class="pxp-blog-posts-carousel-1 mt-4 mt-md-5">
                    <div id="pxp-blog-posts-carousel-1-img" class="carousel slide pxp-blog-posts-carousel-1-img"
                         data-ride="carousel" data-pause="false" data-interval="false">
                        <div class="carousel-inner">
                            {% for post in sliderPosts %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}"
                                     data-slide="{{ loop.index }}">
                                    <div class="pxp-hero-bg pxp-cover"
                                            {% if  post.entity.getCoverPhoto is not null %}
                                                style="background-image: url({{ asset("/uploads/img/" ~ post.entity.getCoverPhoto.name) }}); background-position: 50% 50%;"
                                            {% endif %}
                                    >
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pxp-carousel-controls">
                        <a class="pxp-carousel-control-prev" role="button" data-slide="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32.414" height="20.828"
                                 viewBox="0 0 32.414 20.828">
                                <g id="Group_30" data-name="Group 30" transform="translate(-1845.086 -1586.086)">
                                    <line id="Line_2" data-name="Line 2" x1="30" transform="translate(1846.5 1596.5)"
                                          fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="Line_3" data-name="Line 3" x1="9" y2="9"
                                          transform="translate(1846.5 1587.5)" fill="none" stroke="#333"
                                          stroke-linecap="round" stroke-width="2"></line>
                                    <line id="Line_4" data-name="Line 4" x1="9" y1="9"
                                          transform="translate(1846.5 1596.5)" fill="none" stroke="#333"
                                          stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                        </a>
                        <a class="pxp-carousel-control-next" role="button" data-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32.414" height="20.828"
                                 viewBox="0 0 32.414 20.828">
                                <g id="Symbol_1_1" data-name="Symbol 1 – 1" transform="translate(-1847.5 -1589.086)">
                                    <line id="Line_5" data-name="Line 2" x2="30" transform="translate(1848.5 1599.5)"
                                          fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="Line_6" data-name="Line 3" x2="9" y2="9"
                                          transform="translate(1869.5 1590.5)" fill="none" stroke="#333"
                                          stroke-linecap="round" stroke-width="2"></line>
                                    <line id="Line_7" data-name="Line 4" y1="9" x2="9"
                                          transform="translate(1869.5 1599.5)" fill="none" stroke="#333"
                                          stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                        </a>
                    </div>

                    <div class="pxp-blog-posts-carousel-1-caption-container">
                        <div id="pxp-blog-posts-carousel-1-caption"
                             class="carousel slide pxp-blog-posts-carousel-1-caption" data-ride="carousel"
                             data-pause="false" data-interval="false">
                            <div class="carousel-inner">
                                {% for post in sliderPosts %}
                                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}"
                                         data-slide="{{ loop.index }}">
                                        <div class="pxp-blog-posts-carousel-1-caption-category">
                                            {% for category in post.entity.category %}
                                                {% if loop.first ==false %},{% endif %}
                                                {{ category.getBlogCategoryLocalizations()|filter(c=> c.language.code == app.request.locale)|first.name }}
                                            {% endfor %}
                                        </div>
                                        <div class="pxp-blog-posts-carousel-1-caption-title">{{ post.title }}</div>
                                        <div class="pxp-blog-posts-carousel-1-caption-summary">{{ post.content|striptags|slice(0,200)|raw }}
                                            ...
                                        </div>
                                        <a href="{{ path("single_post", {"slug": post.slug}) }}"
                                           class="pxp-primary-cta text-uppercase mt-3 mt-md-4 pxp-animate">{{ "Saznajte više"|trans }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="pxp-blog-posts-carousel-1-badge">{{ "Izdvojeno"|trans }}</div>
                </div>
                <div class="row mt-180">
                {% else %}
                    <div class="row">
                {% endif %}

                    <div class="col-sm-12 col-lg-9">
                    {% if posts is not empty %}
                        <div class="row" id="postList">
                            {% for post in posts %}
                                <div class="col-sm-12 col-md-6">
                                    <a href="{{ path("single_post", {"slug": post.slug}) }}"
                                       class="pxp-posts-1-item">
                                        <div class="pxp-posts-1-item-fig-container">
                                            <div class="pxp-posts-1-item-fig pxp-cover"
                                                    {% if  post.entity.getCoverPhoto is not null %}
                                                        style="background-image: url({{ asset("/uploads/img/" ~ post.entity.getCoverPhoto.name) }})"
                                                    {% endif %}
                                            >
                                            </div>
                                        </div>
                                        <div class="pxp-posts-1-item-details">
                                            <div class="pxp-posts-1-item-details-category">
                                                {% for category in post.entity.category %}
                                                    {% if loop.first ==false %},{% endif %}
                                                    {{ category.getBlogCategoryLocalizations()|filter(c=> c.language.code == app.request.locale)|first.name }}
                                                {% endfor %}
                                            </div>
                                            <div class="pxp-posts-1-item-details-title">{{ post.title }}</div>
                                            <div class="pxp-posts-1-item-details-date mt-2">{{ post.entity.getCreatedAt()|date("d.m.Y") }}</div>
                                            <div class="pxp-posts-1-item-cta text-uppercase">{{ "Pročitaj članak"|trans }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="loadMoreContainer">
                            <button id="loadMoreButton" class="btn btn-link">{{ "Učitaj više"|trans }}</button>
                        </div>

                        <div class="row" id="loader" style="display:none;">
                            <div class="col-12" style="text-align:center;">
                                <div class="spinner-border" role="status" style="margin:auto;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        {% else %}
                                <p>{{ "Nije unešen nijedan post za ovu kategoriju"|trans }}.</p>
                        {% endif %}

                    </div>

                    <div class="col-sm-12 col-lg-3 mt-4 mt-md-5 mt-lg-0">
                        <div class="pxp-blog-posts-side-section">
                            <h3>{{ "Pretraga sadržaja"|trans }}</h3>
                            <div class="mt-3 mt-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control pxp-is-address"
                                           placeholder={{ "Pretraži"|trans }}
                                           id="searchBox">
                                    <span class="fa fa-search" id="searchButton"></span>
                                </div>
                            </div>
                        </div>

                        <div class="pxp-blog-posts-side-section mt-4 mt-md-5">
                            <h3>{{ "Kategorije"|trans }}</h3>
                            <div class="showHideButtons">
                                <div class="text-center d-block d-sm-none" id="showCategories">
                                    <span class="fa fa-arrow-down"></span>
                                </div>
                            </div>
                            <ul class="pxp-blog-posts-side-v-list list-unstyled mt-3 mt-md-4 d-none d-sm-block"
                                id="categories">
                                {% for category in categories %}
                                    {% set catLoc = category.getBlogCategoryLocalizations()|filter(c=> c.language.code == app.request.locale)|first %}
                                    <li>
                                        <a href="{{ path("blog_category", {"category_slug": catLoc.slug}) }}">{{ catLoc .name }}</a>
                                    </li>
                                {% endfor %}
                                <li><a href="{{ path("blog") }}">{{ "Sve kategorije"|trans }}</a></li>
                            </ul>
                            <div class="showHideButtons">
                                <div class="text-center d-none d-sm-none" id="hideCategories">
                                    <span class="fa fa-arrow-up"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            {% include 'frontend/include/location_category_pages_list_v2.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('frontend/js/screens/blog.min.js') }}"></script>
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    {% else %}
        <script src="{{ asset('frontend/js/screens/blog.js') }}"></script>
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    {% endif %}
    <script>
        page = {{ contentPage }};
        locale = "{{ app.request.locale }}";
        additionalParameters = "&locale=" + locale;
        {% if contentFilters is defined %}
        {% for filter in contentFilters %}
        additionalParameters += "&{{ filter.key ~ "=" ~ filter.value }}";
        {% endfor %}
        {% endif %}
    </script>
{% endblock %}