{% extends 'frontend/base.html.twig' %}

{% set locale = app.request.getLocale() %}
{% set categoryPageLocalization = viewModel.categoryPage.getRealEstateCustomPageLocalization(locale) %}

{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
        <link href="{{ asset('frontend/css/category-page.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
        <link href="{{ asset('frontend/css/category-page.css') }}" rel="stylesheet">
    {% endif %}

{% endblock %}

{% block canonicalTag %}

    {% if viewModel.categoryPage.parentRealEstateCustomPage is null %}
        <link rel="canonical"
              href="{{ app.request.schemeAndHttpHost ~ path('category_page', {'slugCategory': categoryPageLocalization.slug }) }}">
    {% endif %}

    {% if viewModel.categoryPage.parentRealEstateCustomPage is not null %}
        {% set parentSlug = viewModel.categoryPage.parentRealEstateCustomPage.getRealEstateCustomPageLocalization(locale).slug %}
        <link rel="canonical"
              href="{{ app.request.schemeAndHttpHost ~  path('category_page', {'slugCategory': parentSlug, 'slugSubCategory': categoryPageLocalization.slug }) }}">
    {% endif %}

{% endblock %}

{% block content %}

    <div class="pxp-content">
        <div class="pxp-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="pxp-page-header">{{ categoryPageLocalization.title }}</h1>
                    </div>
                </div>

                <div class="row mt-4">
                    {% if viewModel.categoryPage.photo is not null and viewModel.categoryPage.photo.name is not empty %}
                        {% set photoMetaLoco = viewModel.categoryPage.photo.getPhotoMetaLocalization(locale) %}
                        <div class="col-12 mb-3">
                            <img id="td-cat-page-cover-img"
                                 {% if photoMetaLoco is not empty %}alt="{{ photoMetaLoco.getAltTag() }}"{% endif %}
                                 class="rounded-lg"
                                 src="/uploads/img/{{ viewModel.categoryPage.photo.name }}"/>
                        </div>
                    {% endif %}
                    <div class="col-12 map-containter">
                        <div id="map_canvas" class="rounded-lg" style="width: 100%; height: 400px;"></div>
                        <input type="hidden" id="geoLocations" value="{{ viewModel.geoLocations }}">
                    </div>
                </div>
                {% if categoryPageLocalization.description is not empty %}
                    <div class="row mt-3">
                        <div class="col-sm-12 text-justify pxp-text-light">
                            {{ categoryPageLocalization.description | raw }}
                        </div>
                    </div>
                {% endif %}

                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="pxp-sort-form form-inline float-right">
                            <div class="form-group mb-sm-0">
                                <div class="mr-3">
                                    <label class="control-label">{{ "Sortiraj prema" | trans | lower }}</label>
                                </div>
                                <div>
                                    <select class="custom-select" id="sortRealEstates">
                                        <option value="{{ constant('App\\ViewModel\\Frontend\\Enum\\RealEstatesSortEnum::dateHighest') }}">{{ "Najnovije" | trans }}</option>
                                        <option value="{{ constant('App\\ViewModel\\Frontend\\Enum\\RealEstatesSortEnum::dateLowest') }}">{{ "Najstarije" | trans }}</option>
                                        <option value="{{ constant('App\\ViewModel\\Frontend\\Enum\\RealEstatesSortEnum::priceLowest') }}">{{ "Cijeni - najnižoj" | trans }}</option>
                                        <option value="{{ constant('App\\ViewModel\\Frontend\\Enum\\RealEstatesSortEnum::priceHighest') }}">{{ "Cijeni - najvišoj" | trans }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="hidden" id="categoryPageId" value="{{ viewModel.categoryPage.id }}">
                    <div class="col-sm-12">
                        {% if viewModel.realEstates is empty %}
                            <div class="mt-5 text-center" id="no-real-estates-msg-container">
                                <h3>{{ "Trenutno nemamo nekretnina u ponudi za odabranu kategoriju. Pokušajte drugu lokaciju ili tip nekretnine." | trans }}</h3>
                            </div>
                        {% endif %}
                        {% if viewModel.realEstates is not empty %}
                            <div class="row" id="realEstatesList">
                                {% for realEstate in viewModel.realEstates %}
                                    {% include 'frontend/include/real_estate_single_item.html.twig' with {'realEstate': realEstate, 'exchangeRate': parameters.exchangeRate} %}
                                {% endfor %}
                            </div>
                            <div class="mt-5" id="loadMoreContainer"
                                 {% if loadMore == false %}style="display: none;"{% endif %}>
                                <a id="loadMoreButton" class="btn btn-link">{{ "Učitaj više"|trans }}</a>
                            </div>

                            <div class="row mt-5" id="loader" style="display:none;">
                                <div class="col-12" style="text-align:center;">
                                    <div class="spinner-border" role="status" style="margin:auto;">
                                        <span class="sr-only">{{ "Učitavam..." | trans }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#TODO: Show local life section for category pages with no parent#}
                {% if viewModel.categoryPage.parentRealEstateCustomPage is null and viewModel.localLife is not empty %}
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <h2 class="pxp-section-h2">{{ "Lokalni život" | trans }}</h2>
                            <div class=" mt-4 mt-md-5">
                                {{ viewModel.localLife|raw }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if viewModel.categoryPage.parentRealEstateCustomPage is not null %}
        {% include 'frontend/include/location_category_pages_list_by_type.html.twig' with {"title":categoryPageLocalization.title ~  " " ~ "prema lokaciji"|trans} %}
    {% else %}
        {% include 'frontend/include/location_subcategory_pages_v2.html.twig' %}
    {% endif %}

{% endblock %}

{% block js %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset("/frontend/js/url_util.min.js") }}"></script>
        <script src="{{ asset("/frontend/js/infinite_scroll.min.js") }}"></script>
        <script src="{{ asset("/frontend/js/screens/category_page.min.js") }}"></script>
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    {% else %}
        <script src="{{ asset("/frontend/js/url_util.js") }}"></script>
        <script src="{{ asset("/frontend/js/infinite_scroll.js") }}"></script>
        <script src="{{ asset("/frontend/js/screens/category_page.js?v=1.1") }}"></script>
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    {% endif %}
{% endblock %}
