{% extends 'frontend/base.html.twig' %}
{% import 'frontend/macros/macros.html.twig' as macro %}
{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('contact') }}">

{% endblock %}

{% block content %}
    <div class="pxp-contact pxp-content-wrapper">
        <div class="container mt-4 mt-md-0">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <h1 class="pxp-page-header">{{ localization.title }}</h1>
                </div>
            </div>
        </div>

        {% if cmsPage.getCoverPhoto() is not null %}
            <div class="pxp-contact-hero mt-4 mt-md-5">
                <div class="pxp-contact-hero-fig pxp-cover"
                     style="background-image: url({{ asset("/uploads/img/" ~ cmsPage.getCoverPhoto().name) }});"></div>
            </div>
        {% endif %}
        <div class="container mt-50">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="pxp-blog-post-block mt-4 mt-md-5 mt-lg-0">
                        {{ localization.content|raw }}
                    </div>
                </div>
            </div>

        </div>



        <div class="container mt-50">
            {{ form_start(form,{'attr': {'id': 'contactForm', 'action': path("send_email_ajax")}}) }}
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h2 class="pxp-section-h2">{{ "Kontaktirajte nas"|trans }}</h2>
                    <div id="contactNotification"></div>
                    <div class="pxp-contact-form mt-3 mt-md-4">
                        <div class="row">

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Ime'|trans } }) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans } }) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    {{ form_widget(form.phone_no, { 'attr': {'class': 'form-control', 'placeholder': 'Broj telefona'|trans } }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows':'6', 'placeholder': 'Poruka'|trans } }) }}
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            {% if contactFormStatement is not null %}
                                {{ contactFormStatement.content|raw }}
                            {% endif %}
                        </div>
                        <div class="col-lg-12">
                         <!--   <label>
                                <input type="checkbox" class="agreeBtn"
                                       data-src="#btnSubmit"> {{ "Potvrđujem da sam pročitao/la i razumio/la Informaciju o"|trans }} {{ macro.predefinedContentLink('zaštiti osobnih podataka', 'personal-data-protection', parameters) }}
                            </label>
                            -->
                            <div class="text-left">
                                <button class="btn btn-secondary mt-3" id="btnSubmit"> {{ "Pošalji"|trans }}</button>
                            </div>


                        </div>

                    </div>

                </div>

                <!-- Ovdje dodati mapu -->
                <div class="col-sm-12 col-lg-6 map-containter">
                    <div id="map_canvas" class="rounded-lg" style="width: 100%; height: 350px;"></div>
                    <input type="hidden" id="geoLocations" value="[[43.73275131,15.89194626]]">
                </div>
            </div>
        </div>
        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}
    </div>


    </div>


{% endblock %}

{% block js %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('frontend/js/screens/contact.min.js') }}"></script>
    {% else %}
        <script src="{{ asset('frontend/js/screens/contact.js') }}"></script>
    {% endif %}

{% endblock %}