{% extends 'frontend/base.html.twig' %}

{#TODO: Include searchbar.css in the base file?#}
{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}

    <div class="pxp-content">
        <div class="pxp-content-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header text-white td-yellow-bg">
                                <h2>{{ "Greška"|trans }}!</h2>
                            </div>
                            <div class="card-body td-yellow">
                                {% if code is not empty %}
                                    {{ code }}
                                {% endif %}
                                {{ message | trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}