{% extends 'frontend/base.html.twig' %}

{% block css %}
    {{ parent() }}

    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('frontend/css/homepage-filters.min.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('frontend/css/homepage-filters.css') }}">
    {% endif %}
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('index') }}">

{% endblock %}

{% block content %}


    <div class="pxp-content">
        <div class="pxp-hero vh-100">
            <div class="pxp-hero-bg pxp-cover pxp-cover-bottom"></div>
           <div class="pxp-hero-opacity"></div>
            <div class="pxp-hero-caption main-section">
                <div class="container">

                    <h1 class="text-white">{{ "Pronađite Vaš budući dom"|trans }}</h1>
                    {% include 'frontend/include/index_search_form_v3.html.twig' with {'locationCategoryPages': viewModel.locationCategoryPages} %}
                </div>
            </div>
        </div>

        <div class="container mt-40">
            <div class="row mt-4 mt-md-5">
                {% include 'frontend/include/top_subcategory_card.html.twig' with {'topSubcategoryPages': viewModel.topSubcategoryPages} %}
            </div>
        </div>

        {% if viewModel.suggestedRealEstates is not empty %}
            <div class="containter-fluid mt-40 container">
                <h2>{{ app.user.username }}{{ " preporučeno za Vas" | trans }}</h2>
                {% include 'frontend/include/real_estates_slider.html.twig' with {'realEstates': viewModel.suggestedRealEstates, 'exchangeRate': parameters.exchangeRate} %}
            </div>
        {% endif %}

        <div class="container-fluid mt-40 container">
            <ul class="nav nav-tabs pxp-nav-tabs mt-3 mt-md-4">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                       href="#recent-real-estates">{{ "NAJNOVIJE NEKRETNINE" | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#special-offer">{{ "POSEBNA PONUDA" | trans }}</a>
                </li>
            </ul>
            {#Tab panes#}
            <div class="tab-content">
                <div class="tab-pane active" id="recent-real-estates">
                    {% include 'frontend/include/real_estates_slider.html.twig' with {'realEstates': viewModel.recentRealEstates, 'exchangeRate': parameters.exchangeRate} %}
                </div>
                <div class="tab-pane fade" id="special-offer">
                    {% include 'frontend/include/real_estates_slider.html.twig' with {'realEstates': viewModel.featuredRealEstates, 'exchangeRate': parameters.exchangeRate} %}
                </div>
            </div>
        </div>

        {% include 'frontend/include/location_category_pages_list_v2.html.twig' with {'locationCategoryPages': viewModel.locationCategoryPages} %}

        {% if viewModel.customCategoryPages is not empty %}
            {% include 'frontend/include/custom_category_pages.html.twig' with {'customCategoryPages': viewModel.customCategoryPages} %}
        {% endif %}
    </div>

{% endblock %}

{% block js %}

    {{ parent() }}

    {% if app.environment == 'prod' %}
        <script src="{{ asset('frontend/js/screens/homepage.min.js') }}"></script>
     {% else %}
        <script src="{{ asset('frontend/js/screens/homepage.js') }}"></script>
    {% endif %}

{% endblock %}