{% extends 'frontend/base.html.twig' %}

{% block canonicalTag %}
    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('predefined_content', {'slug': cmsPage.slug}) }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("frontend/css/platform-links.css") }}">
{% endblock %}

{% block content %}
    <div class="pxp-contact pxp-content-wrapper mb-100">
        <div class="container mt-4 mt-md-0">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <h1 class="pxp-page-header">{{ cmsPage.title }}</h1>
                </div>
            </div>
        </div>
        {% if cmsPage.image is not null %}
            <div class="container mt-50">
                <div class="single_post_image_crop ">
                    <img src="{{ asset("/uploads/img/" ~ cmsPage.image) }}" alt="{{ cmsPage.alt }}">
                </div>
            </div>
        {% endif %}
        <div class="container mt-50 predefined-content">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="pxp-blog-post-block mt-4 mt-md-5 mt-lg-0">
                        {{ cmsPage.content|raw }}
                    </div>
                </div>
            </div>

        </div>

    </div>



{% endblock %}
