{% extends 'frontend/base.html.twig' %}

{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('real_estate_search') }}">

{% endblock %}

{% block content %}
    <div class="pxp-content">
        <div class="pxp-content-wrapper">

            <div class="container">

                {#SORT + INFO ROW#}
                <div class="row mt-40" id="resultsSortPlusInfo">
                    <div class="col-12 col-lg-8">
                        <h2 class="pxp-section-h2 {% if similar == 1 %}d-none{% endif %}" id="searchTitle">
                            {{ "Vaša pretraga odgovara " | trans }}
                            <span id="spanTotalSearchResults">
                                        {{ totalCount | number_format(0, ",", ".") }}
                                    </span>
                            {{ " nekretnina" | trans }}
                        </h2>
                        <h2 class="pxp-section-h2 {% if similar != 1 %}d-none{% endif %}" id="similarTitle">
                            {{ "Vaša pretraga ne pronalazi rezultate no možemo vam ponuditi slične nekretnine" | trans }}
                        </h2>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="pxp-sort-form form-inline float-right">
                            <div class="form-group mb-sm-0">
                                <div class="mr-3">
                                    <label class="control-label">{{ "Sortiraj prema" | trans | lower }}</label>
                                </div>
                                <div>
                                    {{ form_widget(searchbarForm.sort, {"attr": {"class": "custom-select"}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="row" id="realEstatesList">
                            {% for realEstate in searchResults %}
                                {% include 'frontend/include/real_estate_single_item_v2.html.twig' with {'realEstate': realEstate, 'exchangeRate': parameters.exchangeRate} %}
                            {% endfor %}
                        </div>
                        <div class="mt-3" id="loadMoreContainer"
                             {% if loadMore == false %}style="display: none;"{% endif %}>
                            <a id="loadMoreButton" class="btn btn-link">{{ "Učitaj više" | trans }}</a>
                        </div>

                        <div class="row mt-3" id="loader" style="display:none;">
                            <div class="col-12" style="text-align:center;">
                                <div class="spinner-border" role="status" style="margin:auto;">
                                    <span class="sr-only">{{ "Učitavam..." | trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            {% include 'frontend/include/location_category_pages_list_v2.html.twig' with {'locationCategoryPages': locationCategoryPages} %}
        </div>
    </div>

    <div id="blockUIMessage" style="display: none;">
        <span>{{ "Pretražujemo..." }}</span>
    </div>

{% endblock %}

{% block js %}

    {{ parent() }}


    {% if app.environment == 'prod' %}
        <script src="{{ asset('vendor/blockUI/jquery.blockUI.min.js') }}"></script>
        <script src="{{ asset('frontend/js/url_util.min.js') }}"></script>
        <script src="{{ asset('frontend/js/infinite_scroll.min.js') }}"></script>
        <script src="{{ asset('frontend/js/screens/search_results.min.js') }}"></script>
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    {% else %}
        <script src="{{ asset('vendor/blockUI/jquery.blockUI.js') }}"></script>
        <script src="{{ asset('frontend/js/url_util.js') }}"></script>
        <script src="{{ asset('frontend/js/infinite_scroll.js') }}"></script>
        <script src="{{ asset('frontend/js/screens/search_results.js') }}"></script>
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    {% endif %}

{% endblock %}
