{% extends 'frontend/base.html.twig' %}
{% import 'frontend/macros/macros.html.twig' as macro %}
{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/photoswipe.min.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/default-skin/default-skin.min.css") }}">
    <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/real-estate-details.min.css?v=1.0') }}" rel="stylesheet">
    {% else %}
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/photoswipe.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/resideo/css/default-skin/default-skin.css") }}">
    <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/real-estate-details.css?v=1.2') }}" rel="stylesheet">
    {% endif %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('real_estate_details', {'slug': viewModel.slug}) }}">

{% endblock %}

{% block facebookMeta %}
    {{ macro.facebookMetaData(app.request.uri, "article", viewModel.title, viewModel.description, viewModel.images|filter(img => img.cover == true)) }}
{% endblock %}


{% block content %}
    {% set locale = app.request.locale %}

    <div class="pxp-content">
        <div class="pxp-single-property-top pxp-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <h1 class="pxp-sp-top-title">{{ viewModel.title }}</h1>
                        <p class="pxp-sp-top-address pxp-text-light">
                            {{ viewModel.type | lower }}<br>
                            <span>{{ "ID nekretnine" | trans }}: {{ viewModel.uid }}</span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="clearfix d-block d-xl-none"></div>
                        <div class="pxp-sp-top-price">
                            {% if viewModel.priceOnRequest == true %}
                                {{ "Cijena na upit" | trans }}
                            {% endif %}

                            {% if viewModel.priceOnRequest == false %}
                                {{ viewModel.price | number_format(0, ",", ".") ~ "€" }}
                                ({{ (viewModel.price * parameters.exchangeRate) | number_format(0, ",", ".") ~ "kn" }})
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# GALERIJA #}
        {% if viewModel.images|length > 0 %}
            <div class="container mt-4">
                <div class="pxp-single-property-gallery-container">
                    <div class="pxp-single-property-gallery" itemscope="" itemtype="http://schema.org/ImageGallery"
                         data-pswp-uid="1">

                        {% set numOfImg = viewModel.images|length %}
                        {% set extraClassMainImage = "" %}
                        {% set extraClassSecondImage = "" %}
                        {% set extraClassOtherImage = "" %}
                        {% if numOfImg == 1 %}
                            {% set extraClassMainImage = "w-100-percent" %}
                        {% elseif numOfImg == 2 %}
                            {% set extraClassSecondImage = "pxp-sp-gallery-main-img" %}
                        {% elseif numOfImg == 3 %}
                            {% set extraClassOtherImage = "w-50-percent" %}
                            {% set extraClassSecondImage = "w-50-percent" %}
                        {% elseif numOfImg == 4 %}
                            {% set extraClassMainImage = "" %}
                            {% set extraClassSecondImage = "w-50-percent" %}
                            {% set extraClassOtherImage = "" %}
                        {% endif %}

                        {% for image in viewModel.images %}
                            <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"
                                    {% if image.cover == true %}class="pxp-sp-gallery-main-img {{ extraClassMainImage }}"
                                    {% elseif loop.index > 5 %}class="d-none"
                                    {% elseif loop.index == 2 %}class="{{ extraClassSecondImage }}"
                                    {% else %}class="{{ extraClassOtherImage }}"{% endif %}>
                                <a href="{{ image.path }}" title="{{ image.alt_tag }}" alt="{{ image.alt_tag }}"
                                   data-fancybox-group="gallery1"
                                   class="pxp-cover fancybox" style="background-image: url({{ image.path }});"
                                   itemprop="contentUrl"></a>
                                <figcaption itemprop="caption description">{{ image.alt_tag }}</figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                    <a href="#" class="pxp-sp-gallery-btn">{{ "Pregledajte galeriju" | trans }}</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {# BUTTONS #}
        <div class="container mt-3 buttons-container">
            <div class="row">
                <div class="col-12 col-md-3 first-button">
                    <a href="#pxp-contact-agent" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#pxp-contact-agent" id="contactAgentBtn">
                        <img src="{{ asset('/frontend/img/icon/TD_icons_contact.svg') }}">
                        {{ "Kontaktiraj agenta" | trans | upper }}
                    </a>
                </div>
                <div class="col-12 col-md-3 middle-button">
                    <a href="#pxp-contact-agent" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#pxp-contact-agent" id="requestTourBtn">
                        <img src="{{ asset('/frontend/img/icon/TD_icons_date.svg') }}">
                        {{ "Zatraži obilazak" | trans | upper }}
                    </a>
                </div>
                <div class="col-12 col-md-3 middle-button">
                    <a href="{{ path("save_real_estate", {"id": viewModel.id}) }}"
                       id="btn-save" class="btn btn-secondary btn-block" data-saved="{{ viewModel.savedToFavorites == true ? 1 : 0 }}"
                    >
                        <img src="{% if viewModel.savedToFavorites == true %}{{ asset('/frontend/img/icon/TD_icons_favorites_selected.svg') }}{% else %}{{ asset('/frontend/img/icon/TD_icons_favorites_unselected.svg') }}{% endif %}">
                        {{ "Spremi" | trans | upper }}
                    </a>
                </div>
                <div class="col-12 col-md-3 last-button">
                    <div class="dropdown btn-block">
                        <a class="btn btn-secondary btn-block" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <img src="{{ asset('/frontend/img/icon/TD_icons_share.svg') }}">  {{ "Podijeli" | trans | upper }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item social-share"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                            <a class="dropdown-item social-share"
                               href="https://twitter.com/intent/tweet?text={{ viewModel.title|url_encode }}&url={{ app.request.uri }}">
                                <span class="fa fa-twitter"></span> Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# REAL ESTATE INFO #}
        <div class="container mt-100 real-estate-info-section {% if viewModel.localLife is empty and viewModel.crossSell is empty %}mb-40{% endif %}">
            <div class="row">
                <div class="col-lg-8 left-info-section">
                    <div class="pxp-single-property-section">
                        <h3>{{ "Opis" | trans }}</h3>
                        <div class="mt-3 mt-md-4 text-justify real-estate-description">
                            <p>{{ viewModel.description | raw }}</p>
                        </div>
                    </div>

                    {% if viewModel.latitude is not null and viewModel.longitude is not null %}
                        <div class="map-container mt-4 mt-sm-5">
                            <div id="map_canvas" style="height: 300px; width: 100%">
                            </div>
                            <input id="real-estate-latitude" type="hidden" value="{{ viewModel.latitude }}">
                            <input id="real-estate-longitude" type="hidden" value="{{ viewModel.longitude }}">
                        </div>
                    {% endif %}



                    {% if actions is defined and actions is not empty %}
                        <div class="row actions-for-preview">
                            {% for action in actions %}
                                <div class="preview-action">
                                    <a href="{{ action.href }}">

                                        <button type="button"
                                                class="btn btn-labeled btn-primary btn-lg btn-resideo btn-preview-action">
                                            <span class="btn-label"><i class="fa fa-{{ action.icon }}"></i></span>

                                            {{ action.name }}</button>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="col-lg-4 mt-4 mt-sm-0 right-info-section">
                    {# MAIN INFO #}
                    <div class="real-estate-main-info">

                        {% if viewModel.location is not empty %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_location-15.svg') }}">
                                </div>
                                <div class="col-10">
                                    {{ viewModel.location }}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.livingArea is not empty and viewModel.livingArea > 0 %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    {% if viewModel.real_estate_type_id == constant('App\\Entity\\Enum\\RealEstateTypeEnum::LAND') %}
                                        <img src="{{ asset('/frontend/img/icon/TD_icons_size-land.svg') }}">
                                    {% else %}
                                        <img src="{{ asset('/frontend/img/icon/TD_icons_size-house.svg') }}">
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    {{ viewModel.livingArea }} m<sup>2</sup>
                                    {% if viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::APARTMENT') %}
                                        {{ "površina"|trans }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::HOUSE') %}
                                        {{ "površina"|trans }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::LAND') %}
                                        {{ "površina zemljišta"|trans }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::BUSINESS') %}
                                        {{ "površina"|trans }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.surfaceArea is not empty and viewModel.surfaceArea > 0 %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    {% if viewModel.real_estate_type_id == constant('App\\Entity\\Enum\\RealEstateTypeEnum::APARTMENT') %}
                                        <img src="{{ asset('/frontend/img/icon/TD_icons_size-garden.svg') }}">
                                    {% else %}
                                        <img src="{{ asset('/frontend/img/icon/TD_icons_size-land.svg') }}">
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    {{ viewModel.surfaceArea }} m<sup>2</sup>
                                    {% if viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::APARTMENT') %}
                                        {{ "vrt" }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::HOUSE') %}
                                        {{ "Površina zemljišta"  | trans | lower }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::LAND') %}
                                        {{ "Površina zemljišta"  | trans | lower }}
                                    {% elseif viewModel.real_estate_type_id  == constant('App\\Entity\\Enum\\RealEstateTypeEnum::BUSINESS') %}
                                        {{ "Površina zemljišta"  | trans | lower }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.bedroomCount is not empty and viewModel.bedroomCount > 0 %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_bedrooms-17.svg') }}">
                                </div>
                                <div class="col-10">
                                    {{ viewModel.bedroomCount }} {{ "Spavaće sobe" | trans | lower }}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.bathroomCount is not empty and viewModel.bathroomCount > 0 %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_bathrooms-18.svg') }}">
                                </div>
                                <div class="col-10">
                                    {{ viewModel.bathroomCount }} {{ "Kupaonice" | trans |lower }}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.distanceFromTheSea is not empty and viewModel.distanceFromTheSea > 0 %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_sea-view.svg') }}">
                                </div>
                                <div class="col-10">
                                    {{ viewModel.distanceFromTheSea }} m {{ "Udaljenost od mora" | trans | lower }}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.energyClass is not empty %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_energy-class.svg') }}">
                                </div>
                                <div class="col-10">
                                    {{ viewModel.energyClass }} {{ "Energetski razred" | trans | lower }}
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.ground_plans is not empty %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_floor-plan.svg') }}">
                                </div>
                                <div class="col-10">
                                    <a href="#" data-toggle="modal" data-target="#pxp-ground-flor-modal" class="real-estate-ground-flor-link">
                                        {{ "Tlocrt" | trans | lower }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.virtualWalkUrl %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_360-view.svg') }}">
                                </div>
                                <div class="col-10">
                                    <a href="#" data-toggle="modal" data-target="#pxp-virtual-walk-modal" class="real-estate-virtual-walk-link">
                                        {{ "Virtualna šetnja" | trans | lower }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if viewModel.videoUrl %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('/frontend/img/icon/TD_icons_video.svg') }}">
                                </div>
                                <div class="col-10">
                                    <a href="{{ viewModel.videoUrl }}" target="_blank" class="real-estate-video-link">
                                        {{ "Video" | trans | lower }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                    {# FEATURES AND BOOLEAN PROPS FROM REAL ESTATE ENTITY #}
                    {% if viewModel.features is not empty %}
                        <hr />
                        <div class="real-estate-features">
                            <div class="row">
                                {% for feature in viewModel.features %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ feature.name | lower }}
                                    </div>
                                {% endfor %}
                                {% if viewModel.firstRowByTheSea is not empty and viewModel.firstRowByTheSea == true %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ "Prvi red do mora" | trans | lower }}
                                    </div>
                                {% endif %}
                                {% if viewModel.seaView is not empty and viewModel.seaView == true %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ "Pogled na more" | trans | lower }}
                                    </div>
                                {% endif %}
                                {% if viewModel.garage is not empty and viewModel.garage == true %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ "Garaža" | trans | lower }}
                                    </div>
                                {% endif %}
                                {% if viewModel.pool is not empty and viewModel.pool == true %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ "Bazen" | trans | lower }}
                                    </div>
                                {% endif %}
                                {% if viewModel.underConstruction is not empty and viewModel.underConstruction == true %}
                                    <div class="col-6 col-sm-4 single-feature">
                                        <i class="fa fa-circle"></i> {{ "Nekretnine u izgradnji" | trans | lower }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {# AGENT #}
                    {% if viewModel.agent is not empty %}
                        <div class="real-estate-agent-section mt-4">
                            <div class="row">
                                <div class="col-12">
                                    {% set href = viewModel.agent.slug is defined ? path("agentpage", {"slug": viewModel.agent.slug}) : "#" %}
                                    {% set image = viewModel.agent.image ?? "none" %}
                                    {% if viewModel.agent.slug is defined %}
                                        <a href="{{ href }}" class="rounded-lg">
                                            <img src="/uploads/img/content/{{ image }}"/>
                                        </a>
                                    {% else %}
                                        <img src="{{ "/uploads/img/content/" ~ image }} }}"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="pxp-sp-agent-btns mt-3">
                                <div class="row">
                                    <div class="col-12">
                                        {% if viewModel.agent.slug is defined %}
                                            <a href="{{ path("agentpage", {"slug": viewModel.agent.slug}) }}"
                                               class="btn btn-primary btn-block">{{ "agent"|trans }} {{ viewModel.agent.first_name|upper }} {{ viewModel.agent.last_name|upper }}</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 mt-3">
                                        <a href="tel:{{ viewModel.agent.mobile_phone_number }}" class="btn btn-primary-reverse btn-block">
                                            <span class="fa fa-phone"></span>
                                            {{ viewModel.agent.mobile_phone_number }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# LOCAL LIFE SECTION #}
        {% if viewModel.localLife is not empty %}
            <div class="container mt-5 pxp-single-property-section real-estate-local-life-section">
                <h3>{{ viewModel.location }} - {{ "lokalni život" | trans }}</h3>
                <div class="row mt-3 mt-md-4">
                    <div class="col-sm-12">
                        <div>
                            {{ viewModel.localLife|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {# CROSS SELL OFFER #}
        {% if viewModel.crossSell is not empty %}
            <div class="container-fluid mt-40 mb-40 real-estate-cross-sell-section">
                <div class="text-center">
                    <h2 class="pxp-section-h2">{{ "Slične nekretnine" | trans }}</h2>
                </div>
                <div class="container">
                    <div>
                        {% include 'frontend/include/real_estates_slider.html.twig' with {'realEstates': viewModel.crossSell, 'exchangeRate': parameters.exchangeRate} %}
                    </div>
                </div>
            </div>
        {% endif %}


        {# MR (03/06/2020): Removed per last design supplied #}
        {#{% include 'frontend/include/location_category_pages_list_v2.html.twig' with {'locationCategoryPages': viewModel.locationCategoryPages } %}#}


    </div>
{% endblock %}

{% block extras %}
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    {#<button class="pswp__button pswp__button--share" title="Share"></button>#}
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    {% if viewModel.virtualWalkUrl %}
        <div class="modal fade" id="pxp-virtual-walk-modal" tabindex="-1" role="dialog"
             aria-labelledby="pxpVirtualWalkModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ viewModel.virtualWalkUrl }}"
                                    id="virtualWalkIFrame"></iframe>
                            <a role="button" id="virtualWalkExitFullScreen"
                               class="d-none">{{ "Umanji prikaz"|trans }}</a>
                        </div>
                        <div class="text-right mt-2">
                            <a href="#" role="button"
                               id="virtualWalkFullScreen">{{ "Otvorite preko cijelog ekrana"|trans }}</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    {% endif %}

    {% if viewModel.ground_plans is not empty %}
        <div class="modal fade" id="pxp-ground-flor-modal" tabindex="-1" role="dialog"
             aria-labelledby="pxpVirtualWalkModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="ground-plan-container" class="embed-responsive embed-responsive-16by9" data-activated="1">
                            {% if 'pdf' in viewModel.ground_plans[0].mimeType %}
                                <iframe class="embed-responsive-item" src="https://docs.google.com/viewer?url={{ app.request.schemeAndHttpHost }}{{ viewModel.ground_plans[0].filePath }}&embedded=true">
                                </iframe>
                            {% else %}
                                <img class="embed-responsive-item" src="{{ asset(viewModel.ground_plans[0].filePath) }}" />
                            {% endif %}

                        </div>
                        {% if viewModel.ground_plans|length > 0 %}
                            <div class="text-center">
                                {% for gp in viewModel.ground_plans %}
                                    <a {% if loop.index > 1 %}href="#"{% endif %} class="ground-plan-modal-link" data-activate="{{ loop.index }}"
                                        {% if 'pdf' in gp.mimeType %}
                                        data-src="https://docs.google.com/viewer?url={{ app.request.schemeAndHttpHost }}{{ gp.filePath }}&embedded=true"
                                        {% else %}
                                        data-src="{{ asset(gp.filePath) }}"
                                        {% endif %}
                                        data-mime="{{ gp.mimeType }}">
                                        {{ loop.index }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="pxp-call-agent" tabindex="-1" role="dialog" aria-labelledby="pxpCallAgentModal"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h5 class="modal-title"
                        id="pxpContactAgentModal">{{ "Nazovi" | trans }} {{ viewModel.agent.first_name }} {{ viewModel.agent.last_name }}
                        na</h5>
                    <div class="mt-2">
                        <a class="agent-call-link" href="tel:{{ viewModel.agent.phone_number }}">
                            <span class="fa fa-phone"></span> {{ viewModel.agent.phone_number }}
                        </a>
                    </div>
                    <div class="mt-2">
                        <a class="agent-call-link" href="tel:{{ viewModel.agent.mobile_phone_number }}">
                            <span class="fa fa-mobile-phone"></span> {{ viewModel.agent.mobile_phone_number }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pxp-contact-agent" tabindex="-1" role="dialog" aria-labelledby="pxpContactAgentModal" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="pxpContactAgentModal">
                        <div class="contact_agent" >{{ "Kontaktiraj agenta "|trans }} {{ viewModel.agent.first_name }} {{ viewModel.agent.last_name }}</div>
                        <div class="tour" style="display:none;">{{ "Zatraži obilazak"|trans }}</div>
                    </h5>
                    <div id="contactNotification"></div>
                    {{ form_start(contactForm,{'attr': {'id': 'contactForm', 'action': path("send_email_ajax")}}) }}
                    <div class="form-group">
                        <label for="pxp-contact-agent-email">{{ "Ime"|trans }}</label>
                        {{ form_widget(contactForm.name, { 'attr': {'class': 'form-control'|trans } }) }}
                    </div>
                    <div class="form-group">
                        <label for="pxp-contact-agent-email">Email</label>
                        {{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'|trans } }) }}
                    </div>
                    <div class="form-group">
                        <label for="pxp-contact-agent-phone">{{ "Broj telefona"|trans }}</label>
                        {{ form_widget(contactForm.phone_no, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group tour" style="display:none;">
                        <label for="pxp-contact-agent-message">{{ "Datum"|trans }}</label>
                        {{ form_widget(contactForm.date, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="pxp-contact-agent-message">{{ "Poruka"|trans }}</label>
                        {{ form_widget(contactForm.message, { 'attr': {'class': 'form-control', 'rows':'4', } }) }}
                    </div>

                    <div class="col-lg-12 mb-2">
                            {% if contactFormStatement is defined and contactFormStatement is not null %}
                                {{ contactFormStatement.content|raw }}
                            {% endif %}
                    </div>
                    {{ form_widget(contactForm.email_to, { 'attr': {'value': viewModel.agent.email } }) }}
                    {{ form_widget(contactForm.real_estate_link, { 'attr': {'value':  app.request.uri  } }) }}
                    <div class="form-group mt-4">
                        <button class="btn btn-primary btn-block" id="btnSubmit"> {{ "Pošalji"|trans }}
                        </button>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{{ asset("vendor/resideo/js/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/popper.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/bootstrap.min.js") }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}"></script>
    <script src="{{ asset("vendor/bootstrap-autocomplete/js/bootstrap-autocomplete.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/photoswipe.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/photoswipe-ui-default.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/jqPhotoSwipe.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/jquery.sticky.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/infobox.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/Chart.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/owl.carousel.min.js") }}"></script>
    <script src="{{ asset('vendor/bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ asset("vendor/harvest-chosen/js/chosen.jquery.min.js") }}"></script>
    <script src="{{ asset("frontend/js/number_util.min.js") }}"></script>
    <script src="{{ asset("vendor/resideo/js/main.min.js") }}"></script>
    {% if app.environment == 'prod' %}
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
        <script src="{{ asset("frontend/js/script.min.js") }}"></script>
        <script src="{{ asset("frontend/js/screens/real_estate_details.min.js?v=1.1") }}"></script>
        <script src="{{ asset("frontend/js/gdpr.min.js") }}"></script>
    {% else %}
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
        <script src="{{ asset("frontend/js/script.js") }}"></script>
        <script src="{{ asset("frontend/js/screens/real_estate_details.js?v=1.1") }}"></script>
        <script src="{{ asset("frontend/js/gdpr.js") }}"></script>
    {% endif %}

{% endblock %}
