{% extends 'frontend/base.html.twig' %}

{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('menu_real_estate_offer') }}">

{% endblock %}

{% block content %}
    <div class="pxp-content">
        <div class="pxp-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="pxp-page-header">{{ "Ponuda nekretnina" | trans }}</h1>
                    </div>
                </div>

                <div class="row mt-4">
                    {% include 'frontend/include/top_subcategory_card.html.twig' with {'topSubcategoryPages': generalPages} %}
                </div>
            </div>
            <div class="container-fluid mt-100 container">
                <h2 class="pxp-section-h2">{{ "Ponuda" | trans }}</h2>
                {% include "frontend/include/real_estates_slider.html.twig" with {"realEstates": crossSell, 'exchangeRate': parameters.exchangeRate } %}
            </div>

            {% include 'frontend/include/location_category_pages_list_v2.html.twig' with {'locationCategoryPages': locationCategoryPages} %}
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    {% else %}
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    {% endif %}
{% endblock %}