{% extends 'frontend/base.html.twig' %}
{% block css %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('frontend/css/searchbar.min.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ asset('frontend/css/searchbar.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block canonicalTag %}

    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('single_post', {'slug': cmsPage.slug }) }}">

{% endblock %}

{% block content %}
    <div class="pxp-contact pxp-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h1 class="pxp-page-header">{{ cmsPage.title }}</h1>
                </div>
            </div>
        </div>

        {% if cmsPage.image is not null %}
            <div class="container mt-50">
                <div class="single_post_image_crop ">
                    <img src="{{ asset("/uploads/img/" ~ cmsPage.image) }}" alt="{{ cmsPage.alt }}">
                </div>
            </div>
        {% endif %}
        <div class="container mt-50">
            <div class="row">

                <div class="col-sm-12 col-lg-12">
                    <div class="pxp-blog-post-block">
                        {{ cmsPage.content|raw }}
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-100">
            <h2 class="pxp-section-h2">{{ "Posljednji članci"|trans }}</h2>
            <div class="row mt-4 mt-md-5">
                {% for post in posts %}
                    {% include 'frontend/include/content_list_single_item.html.twig' %}
                {% endfor %}
            </div>
        </div>
        {% include 'frontend/include/location_category_pages_list_v2.html.twig' %}

    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <script src="{{ asset("frontend/js/searchbar.min.js") }}"></script>
    {% else %}
        <script src="{{ asset("frontend/js/searchbar.js") }}"></script>
    {% endif %}
{% endblock %}
