{% extends 'frontend/base.html.twig' %}
{% import 'frontend/macros/macros.html.twig' as macro %}



{% block content %}
    <div class="pxp-contact pxp-content-wrapper mt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <h1 class="pxp-page-header">{{ "Mapa weba"|trans }}</h1>
                </div>
            </div>
        </div>


        <div class="container mt-4 pl-5">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('menu_real_estate_offer') }}">{{ "Ponuda nekretnina"|trans }}</a>
                            <ul>
                                <li><a href="{{ path("category_page_top") }}">{{ "Sve nekretnine"|trans }}</a></li>
                                <li><a href="{{ path("category_page_top_houses") }}">{{ "Kuće"|trans }}</a></li>
                                <li>
                                    <a href="{{ path("category_page_top_apartments") }}">{{ "Apartmani i stanovi"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path("category_page_top_lands") }}">{{ "Građevinsko/poljoprivredno zemljište"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path("category_page_top_office_space") }}">{{ "Poslovni prostori"|trans }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            {{ macro.predefinedContentLink('Prodaja nekretnina', 'real_estate-sales', parameters) }}
                        </div>

                        <div class="col-12">
                            {{ macro.predefinedContentLink('Savjeti pri kupnji', 'buying-tips', parameters) }}
                            <ul>
                                <li>{{ macro.predefinedContentLink('Porez', 'tax', parameters) }}</li>
                                <li>{{ macro.predefinedContentLink('Kupnja za strance', 'shopping-for-strangers', parameters) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path("blog") }}">{{ "Blog"|trans }}</a>
                        </div>

                        <div class="col-12">
                            {{ macro.predefinedContentLink('O nama', 'about-us', parameters) }}
                        </div>

                        <div class="col-12">
                            {{ macro.predefinedContentLink('Kontakt', 'contact', parameters) }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    {% set locationCategoryPages = locationCategoryPages|sort((a, b) => a.getRealEstateCustomPageLocalization(app.request.locale).title <=> b.getRealEstateCustomPageLocalization(app.request.locale).title) %}
                    {% for categoryPage in locationCategoryPages %}
                        {% set categoryPageLocalized = categoryPage.getRealEstateCustomPageLocalization(app.request.locale) %}
                        <div class="col-12">
                            <a href="{{ path('category_page', {'slugCategory': categoryPageLocalized.slug}) }}">{{ categoryPageLocalized.title }}</a>
                            <ul>
                                {% for child in categoryPage.realEstateCustomPages() %}
                                    {% if child.getActive() == 1 %}
                                    {% set childLocalized = child.getRealEstateCustomPageLocalization(app.request.locale) %}
                                  <li> <a href="{{ path('category_page', {'slugCategory': categoryPageLocalized.slug, 'slugSubCategory': childLocalized.slug}) }}">{{ childLocalized.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}