{{"Vodiči i porezi"|trans}}
{{"Vodič za strance"|trans}}
{{"Vodič za kupnju"|trans}}
{{"Vodič za prodaju"|trans}}
{{"Politika kolačića"|trans}}
{{"Korisničko ime"|trans}}
{{"Broj mobitela"|trans}}
{{"OIB"|trans}}
{{"Firma"|trans}}
{{"Unesite lozinku"|trans}}
{{"Ponovite lozinku"|trans}}
{{ "Lozinka mora sadržavati najmanje 8 karaktera!"|trans }}
{{ "Kreirane nekretnine"|trans }}
{{ "Realizirane nekretnine"|trans }}
{{ "Objavljene nekretnine"|trans }}
{{ "Odbijene nekretnine"|trans }}
{{ "Nekretnine pri realizaciji"|trans }}
{{ "Realizirane nekretnine"|trans }}
{{ "Izraženo u m2"|trans }}
{{ "Engleski"|trans }}
{{ "Hrvatski"|trans }}
{{ "Njemački"|trans }}
{{ "Moje nekretnine"|trans }}
{{ "Spremljene nekretnine"|trans }}
{{ "Nemate potrebnu rolu da bi sačuvali nekretninu"|trans }}
{{ "Akcijom Predaj oglas oglas će biti predan, no ne i objavljen na stranici."|trans }}
{{ "površina"|trans }}
{{ "Uspješno kreirano"|trans }}
{{ "Uspješno ažurirano"|trans }}
{{ "Vaša pretraga odgovara "|trans }}
{{ "Vrt"|trans }}
{{ "Pretraga, lokacija ili ID nekretnine"|trans }}
{{ "Unesite vašu e-mail adresu"|trans }}
{{ "Kontaktirajte "|trans }}
{{ "Više o agentu "|trans }}
{{ "Oglasi agenta"|trans }}
{{ "Prodane nekretnine"|trans }}




