{% macro predefinedContentLink(title, displayId, parameters) %}
    {% set content = parameters.predefinedContent|filter(c => c.display_id == displayId)|filter(c=>c.code == app.request.locale) %}
    <a href="{% if content is not empty %}{{ path('predefined_content', {"slug": content|first.slug}) }}{% endif %}">{{ title|trans }}</a>
{% endmacro %}

{% macro getFlagClass(locale) %}
    {% if locale == "en" %}
        flag-icon flag-icon-gb
    {% else %}
        flag-icon flag-icon-{{ locale }}
    {% endif %}
{% endmacro %}

{% macro facebookMetaData(url, type, title, description, image) %}
    {% if url is not empty %}
        <meta property="og:url" content="{{ url }}" />
    {% endif %}
    {% if type is not empty %}
        <meta property="og:type" content="{{ type }}" />
    {% endif %}
    {% if title is not empty %}
        <meta property="og:title" content="{{ title }}" />
    {% endif %}
    {% if description is not empty %}
        <meta property="og:description" content="{{ title }}. {{ "Za više informacija kontaktirajte nas u našem uredu u Šibeniku" | trans }}." />
    {% endif %}
    {% if image is not empty %}
        <meta property="og:image" content="{{ image[0].path }}" />
        {% if image[0].width is defined %}
            <meta property="og:image:width" content="{{ image[0].width }}" />
        {% endif %}
        {% if image[0].height is defined %}
            <meta property="og:image:height" content="{{ image[0].height }}" />
        {% endif %}
    {% endif %}
{% endmacro %}