<div class="alert alert-{{alertType}} alert-dismissible fade show" role="alert" id="contactAlert">
    {% if alertTitle is defined %} <b>{{ alertTitle}}</b>! {% endif %}{{ alertMessage }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>