<div class="col-sm-12 col-md-6">
    <a href="{{ path("single_post", {"slug": post.slug}) }}"
       class="pxp-posts-1-item">
        <div class="pxp-posts-1-item-fig-container">
            <div class="pxp-posts-1-item-fig pxp-cover"
                    {% if  post.entity.getCoverPhoto is not null %}
                        style="background-image: url({{ asset("/uploads/img/" ~ post.entity.getCoverPhoto.name) }})"
                    {% endif %}
            ></div>
        </div>
        <div class="pxp-posts-1-item-details">
            <div class="pxp-posts-1-item-details-category">
                {% for category in post.entity.category %}
                    {% if loop.first ==false %},{% endif %}
                    {{ category.getBlogCategoryLocalizations()|filter(c=> c.language.code == app.request.locale)|first.name }}
                {% endfor %}
            </div>
            <div class="pxp-posts-1-item-details-title">{{ post.title }}</div>
            <div class="pxp-posts-1-item-details-date mt-2">{{ post.entity.getCreatedAt()|date("d.m.Y") }}</div>
            <div class="pxp-posts-1-item-cta text-uppercase">{{ "Pročitaj članak"|trans }}</div>
        </div>
    </a>
</div>