<div class="category-section-front pxp-cover mt-200 pt-100 mb-100 location-category-pages-section lazy"
     data-src="{{ asset("frontend/img/locations_cover_img.jpg") }}"
>
    <h2 class="text-center pxp-section-h2">{{ "Dodatne kategorije" | trans }}</h2>

    <div class="container">
        <div class="pxp-services-container rounded-lg mt-4 mt-md-5 locations-container">

            <div class="row" style="width:100%;">
                {% for categoryPage in customCategoryPages %}
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 padding-5" >
                        <a href="{{ path('category_page', {'slugCategory': categoryPage.slug}) }}"
                           class="pxp-category-link{#text-uppercase#} mt-1 mt-md-4 ">{{ categoryPage.title}}</a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>