{% set content = parameters.predefinedContent|filter(c => c.display_id == "selling-guide")|filter(c=>c.code == app.request.locale) %}

<div id="fixed-buttons" class="shakeElement">
    <a href="tel:{{ parameters.callButton != null ? parameters.callButton.number : '' }}" class="btn"><i class="fa fa-phone"></i></a>
</div>

<div id="fixed-buttons-2" class="shakeElement">
    <a href="{% if content is not empty %}{{ path('predefined_content', {"slug": content|first.slug}) }}{% endif %}" class="btn fa  fa-sell-real-estate d-lg-none"></a>
</div>