{% import 'frontend/macros/macros.html.twig' as macro %}
<div class="pxp-footer pt-100 pb-100 text-left">
    <div class="container">
        <div class="row text-left">
            <div class="col-sm-12 col-lg-3 footer-column">
                <div class="pxp-footer-header mt-4 mt-lg-0">{{ "Kontakt podatci"|trans }}</div>
                <div class="pxp-footer-address mt-2">
                    <a href="mailto:info@terradalmatica.hr"><span class="fa fa-envelope"></span> info@terradalmatica.hr</a><br>
                    </span><a href="tel:0038522213506"><span class="fa fa-phone-square"> 00 385 22 213 506</a><br>
                    </span><a href="tel:00385917544313"><span class="fa fa-phone-square"> 00 385 91 754 4313</a><br>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 footer-column">
                <div class="pxp-footer-header mt-4 mt-lg-0">{{ "Istaknute poveznice"|trans }}</div>
                <div class="pxp-footer-bottom mt-2">
                    <ul class="list-unstyled pxp-footer-links mt-2">
                        <li><a href="{{ path('menu_real_estate_offer') }}">{{ "Ponuda nekretnina"|trans }}</a></li>
                        <li>{{ macro.predefinedContentLink('Prodajte nekretninu'|trans, 'real-estate-sales', parameters) }}</li>
                        <li>{{ macro.predefinedContentLink('Blog', 'blog', parameters) }}</li>
                        <li>{{ macro.predefinedContentLink('O nama', 'about-us', parameters) }}</li>
                    </ul>

                </div>

            </div>
            <div class="col-sm-12 col-lg-3 footer-column">
                <div class="pxp-footer-header mt-4 mt-lg-0">{{ "Društvene mreže"|trans }}</div>
                <div class="pxp-footer-social mt-2">
                    <a href="https://www.facebook.com/TerraDalmatica"><span class="fa fa-facebook-square"></span></a>
                    <a href="https://twitter.com/terradalmatica"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.youtube.com/user/TerraDalmatica"><span class="fa fa-youtube"></span></a>
                    <a href="https://www.instagram.com/"><span class="fa fa-instagram"></span></a>

                </div>
            </div>
            <div class="col-sm-12 col-lg-3 footer-column">
                <div class="pxp-footer-header mt-4 mt-lg-0">{{ "Ostalo"|trans }}</div>
                <div class="pxp-footer-social mt-2">
                    <ul class="list-unstyled pxp-footer-links mt-2">
                        <li>{{ macro.predefinedContentLink('Uvjeti poslovanja'|trans, 'terms-of-use', parameters) }}</li>
                        <li>{{ macro.predefinedContentLink('Informacija o zaštiti osobnih podataka'|trans, 'personal-data-protection', parameters) }}</li>
                        <li>{{ macro.predefinedContentLink('Politika kolačića', 'cookies-policy', parameters) }}</li>
                        <li><a href="{{ path("sitemap") }}">{{ "Mapa linkova"|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right copyright">

                <div>Copyright © 2020. Terra Dalmatica</div>






            </div>

        </div>

    </div>

</div>