{% set content = parameters.predefinedContent|filter(c => c.display_id == 'cookies-policy')|filter(c=>c.code == app.request.locale) %}
<div id="cookie-msg">
    <div>
    {{ 'Ova web stranica se služi kolačićima'|trans }}. {{ 'Ovdje možete upravljati kolačićima'|trans }}. <br>
    <form id="gdprForm">
        <input type="checkbox"  disabled checked value=1> {{ "kolačići sesije"|trans }}
        <input type="checkbox"  value=2> {{ "analitički kolačići"|trans }}
        <input type="checkbox"  value=3> {{ "marketinški kolačići"|trans }}
    </form>
   {{ "Više o kolačićima možete saznati u našoj"|trans }} <a
            href="{% if content is not empty %}{{ path('predefined_content', {"slug": content|first.slug}) }}{% endif %}">{{ "Politici kolačića"|trans }}<br><br>
        </a>
    <a class="btn-accept-gdpr">{{ "Razumijem"|trans }}</a>
    </div>
</div>