{% import 'frontend/macros/macros.html.twig' as macro %}


{% for language in parameters.languages|reverse %}
        <link rel="alternate" href="{{ app.request.getSchemeAndHttpHost()  ~ parameters.languageSelector[language.code] }}" hreflang="{{ language.code}}" />
{% endfor %}