
    {{ form_start(form, {'attr': {'class': 'pxp-hero-search mt-4 index-filters', "id":"frm-homepage-filters"}}) }}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <!-- <input type="text" class="form-control pxp-is-address" placeholder="{{ "Pretraži"|trans ~ "..." }}"> -->
                {{ form_widget(form.text, {"attr": {"class": "form-control pxp-is-address", "placeholder": "Pretraga, lokacija ili ID nekretnine", "autocomplete":"off", "data-reset":"#reset-search-text"}}) }}
                <span class="fa fa-times clear-filter-text d-none" data-target="#search_text" id="reset-search-text"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">

                <div class="form-group">
                    {{ form_widget(form.realEstateType, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Svi tipovi nekretnina"|trans}}) }}
                    <span class="fa fa-times clear-select-box d-none" data-target="#search_realEstateType"></span>
                </div>
            </div>

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                {{ form_widget(form.location, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Sve lokacije"|trans}}) }}
                <span class="fa fa-times clear-select-box d-none" data-target="#search_location"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
                <div class="form-group text-center searchbar-price-slider">
                    <input id="price-range-slider" type="text" class="span2" value="" data-slider-min="0"
                           data-slider-max="500001" data-slider-step="50000"
                           data-slider-value="[{{ form.vars.value.priceMin ?? "0" }},{{ form.vars.value.priceMax ?? "500001" }}]"/>
                    <br>
                    €<span id="span-price-min">{{ (form.vars.value.priceMin ?? 0) | number_format(0, ",", ".") }}</span>
                    -
                    €<span id="span-price-max">
                            {% if form.vars.value.priceMax is not null and form.vars.value.priceMax != constant('App\\GlobalSettings::SearchbarPriceSlideMaxValue') %}
                                {{ form.vars.value.priceMax | number_format(0, ",", ".") }}
                            {% else %}
                                {{ ((constant('App\\GlobalSettings::SearchbarPriceSlideMaxValue') - 1) | number_format(0, ",", ".")) ~ "+" }}
                            {% endif %}
                        </span>
                </div>
                <div class="form-group searchbar-price-select">
                    {{ form_widget(form.priceSelector, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Sve cijene"|trans}}) }}
                </div>
                {{ form_widget(form.priceMin) }}
                {{ form_widget(form.priceMax) }}

        </div>
    </div>

    <div class="col-sm-12">
        <button type="submit" class="btn btn-labeled btn-primary btn-lg btn-resideo">
            <span class="btn-label"><i class="fa fa-search"></i></span>{{ "Pretraži"|trans }}</button>
    </div>
{{ form_end(form, {"render_rest": false}) }}