<form class="pxp-hero-search mt-4" action="properties.html">
    <div class="d-flex">
        <div class="pxp-content-side-search-form">
            <div class="row pxp-content-side-search-form-row">
                <div class="col-12 pxp-content-side-search-form-col">
                    <input type="text" class="form-control pxp-is-address" placeholder="Search by City, Neighborhood, or Address" id="pxp-p-search-address">
                    <span class="fa fa-search"></span>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <a role="button" class="pxp-adv-toggle pxp-active"><span class="fa fa-sliders"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-3">
            <div class="form-group">
                {#<label for="pxp-p-filter-type" class="text-white">{{ "Tip nekretnine" | trans }}</label>#}
                <select class="custom-select" id="pxp-p-filter-type">
                    <option value="">Tip nekretnine</option>
                    <option value="">Apartment</option>
                    <option value="">House</option>
                    <option value="">Townhome</option>
                    <option value="">Multi-Family</option>
                    <option value="">Land</option>
                </select>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-group">
                {#<label for="pxp-p-filter-type" class="text-white">{{ "Tip nekretnine" | trans }}</label>#}
                <select class="custom-select" id="pxp-p-filter-type">
                    <option value="">Lokacija</option>
                    <option value="">Apartment</option>
                    <option value="">House</option>
                    <option value="">Townhome</option>
                    <option value="">Multi-Family</option>
                    <option value="">Land</option>
                </select>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-group">
                <label for="price-range" class="text-white">{{ "Cijena" | trans }}</label>
                <input id="price-range" type="range" min="0" max="10000000" />
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-group">
                {#<label for="price-range" class="text-white">{{ "Cijena" | trans }}</label>#}
                <input class="form-control" id="bedroom-count" type="text" placeholder="{{ "Broj spavaćih soba" | trans }}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {#<label for="price-range" class="text-white">{{ "Cijena" | trans }}</label>#}
                <input class="form-control" id="real-estate-id" type="text" placeholder="{{ "ID nekretnine" | trans }}"/>
            </div>
        </div>
    </div>
    <div class="pxp-content-side-search-form-adv mb-3" style="display: none;">
        <div class="form-group text-white">
            {#                                       <label class="mb-2">Amenities</label>#}
            <div class="row pxp-content-side-search-form-row">
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Prvi red do mora" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Pogled na more" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Novogradnja" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Nekretnine u izgradnji" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Nedavno prodano" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Snižene cijene" | trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label><input type="checkbox" value="1"><span class="fa fa-check"></span> {{ "Bazen" | trans }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group text-left">
                <a href="#" class="pxp-filter-btn">Apply Filters</a>
            </div>
        </div>
    </div>
</form>