{% import 'frontend/macros/macros.html.twig' as macro %}

<div class="dropdown language-menu">
    <button class="btn btn-link dropdown-toggle language-select" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
        {{ app.request.locale }}
    </button>
    <div class="dropdown-menu language-dropdown-menu" aria-labelledby="dropdownMenuButton">
{% for language in parameters.languages|reverse %}
    {% if language.code != app.request.locale %}

            <a href="{{ parameters.languageSelector[language.code] }}" class="dropdown-item">{{ language.code }}</a>

    {% endif %}
{% endfor %}
</div>
</div>
