{% import 'frontend/macros/macros.html.twig' as macro %}

{% for language in parameters.languages|reverse %}
    {% if language.code != app.request.locale %}

        <a href="{{ parameters.languageSelector[language.code] }}" class="language-link"><i
                    class="{{ macro.getFlagClass(language.code) }}"></i></a>

    {% endif %}
{% endfor %}