<h2 class="pxp-section-h2">{{ "Lokacije u ponudi" | trans }}</h2>
<div class="pxp-plans-1-item pxp-is-popular">
    <div class="row">
        {% for categoryPage in locationCategoryPages %}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <a href="{{ '/' ~ app.request.locale ~ '/' ~ categoryPage.slug }}" class="pxp-primary-cta {#text-uppercase#} mt-1 mt-md-4 pxp-animate">{{ categoryPage.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>