<div class="category-section-front pxp-cover mt-100 pt-5 mb-100 location-category-pages-section lazy"
     data-src="{{ asset("frontend/img/locations_cover_img.jpg") }}"
>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div>
                    <i class="fa fa-map-marker fa-3x"></i>
                </div>
                <h2 class="pxp-section-h2">{{ "Ponuda nekretnina prema lokaciji" | trans }}</h2>
            </div>
        </div>
        <div class="pxp-services-container rounded-lg mt-4 mt-md-5 locations-container">
            <div class="row">
                {% for categoryPage in locationCategoryPages %}
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 padding-5" >
                        <a href="{{ path('category_page', {'slugCategory': categoryPage.slug}) }}"
                           class="pxp-category-link text-uppercase mt-1 mt-md-4 "
                        >
                            <i class="fa fa-circle"></i>
                            {{ categoryPage.location_name}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

