<div class="pxp-services pxp-cover mt-100 pt-100 mb-200 lazy pxp-subcategory-section"
     data-src="{{ asset("frontend/img/locations_cover_img.jpg") }}">
    <h2 class="text-center pxp-section-h2">{{ "Podkategorije" | trans }}</h2>
    <p class="pxp-text-light text-center">{{ categoryPageLocalization.title }}</p>

    <div class="container">
        <div class="pxp-services-container rounded-lg mt-4 mt-md-5">

            {% set icons = ["fa icon-2-b subcategoryIcon", "fa icon-1-b subcategoryIcon", "fa icon-3-b subcategoryIcon", "fa icon-4-b subcategoryIcon", "fa fa-cube" ] %}
            {% for autoChildPage in subCategoryPages | filter(cp => cp.type != constant('App\\Entity\\Enum\\RealEstateCustomPageTypeEnum::CUSTOM')) %}
                {% if loop.index > 4  %}{% set iconIndex = 4 %}{% else %}{% set iconIndex = loop.index-1 %}{% endif %}
                <a href="{{ path('category_page', {'slugCategory': categoryPageLocalization.slug, 'slugSubCategory': autoChildPage.slug}) }}" class="pxp-services-item">
                    <div class="pxp-services-item-fig">
                        <i class="{{ icons[iconIndex] }}"></i>
                    </div>
                    <div class="pxp-services-item-text text-center">
                        <div class="pxp-services-item-text-title">{{ autoChildPage.title | raw }}</div>
                    </div>
                    <div class="pxp-services-item-cta text-uppercase text-center">{{ "Saznajte više" | trans }}</div>
                </a>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% if subCategoryPages|filter(v => v.type == constant('App\\Entity\\Enum\\RealEstateCustomPageTypeEnum::CUSTOM')) is not empty %}
    <div class="category-section-front pxp-cover mt-100 pt-100 mb-200 location-category-pages-section lazy"
         style="background-position: 0% 40%;"
         data-src="{{ asset("frontend/img/locations_cover_img.jpg") }}">
        <h2 class="text-center pxp-section-h2">{{ "Dodatne kategorije" | trans }}</h2>

        <div class="container">
            <div class="pxp-services-container rounded-lg mt-4 mt-md-5 locations-container">

                <div class="row" style="width:100%;">
                    {% for customChildPage in subCategoryPages|filter(v => v.type == constant('App\\Entity\\Enum\\RealEstateCustomPageTypeEnum::CUSTOM')) %}
                        <div class="col-sm-12 col-md-4 col-lg-4 padding-5" >
                            <a href="{{ path('category_page', {'slugCategory': categoryPageLocalization.slug, 'slugSubCategory': customChildPage.slug}) }}"
                               class="pxp-category-link mt-1 mt-md-4 ">{{ customChildPage.title}}</a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endif %}
