<div class="category-section-front pxp-cover mt-100 pt-5 mb-100 location-category-pages-section"
     style="background-image: url({{ asset("frontend/img/locations_cover_img.jpg") }});"
>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div>
                    <i class="fa fa-map-marker fa-3x"></i>
                </div>
                <h2 class="pxp-section-h2">{{ viewModel.categoryPage.realEstateCustomPageFilters.realEstateTypes|first.realEstateTypeLocalizations|filter(v=> v.language.code == app.request.locale)|first.titlePrefix|raw ~ " prema lokaciji"|trans }}</h2>
            </div>
        </div>
        <div class="pxp-services-container rounded-lg mt-4 mt-md-5 locations-container">
            <div class="row" style="width: 100%;">
                {% for categoryPage in viewModel.locationCategoryPages %}
                    {% if categoryPage.parentRealEstateCustomPage is not null %}
                        {% set parentLocation = categoryPage.parentRealEstateCustomPage.realEstateCustomPageFilters.locations|first.locationLocalizations|filter(v=> v.language.code == app.request.locale)|first.name %}
                        {% set categoryPageLoc = categoryPage.getRealEstateCustomPageLocalization(app.request.locale) %}
                        {% if  categoryPageLoc is not  null %}
                            {% set parentLoc = categoryPage.parentRealEstateCustomPage.getRealEstateCustomPageLocalization(app.request.locale) %}
                            {% if  parentLoc is not null %}
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 padding-5">
                                    <a href="{{ path('category_page', {'slugCategory': parentLoc.slug , 'slugSubCategory': categoryPageLoc.slug}) }}"
                                       class="pxp-category-link text-uppercase mt-1 mt-md-4 "
                                    >
                                        <i class="fa fa-circle"></i>
                                        {{ parentLocation }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

