<div class="text-center">
    <h2 class="h4 text-gray-900 mb-4">{{ "Dobrodošli"|trans }}!</h2>
</div>
{% if loginError is defined%}
    <div style="color:#ff0000;padding-bottom:10px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <input type="email" class="form-control" placeholder="{{"unesi"|trans ~ " " ~ "email"|trans}}" id="email" name="_email"
               value="{% if last_username is defined %}{{ last_username }}{% endif %}"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="{{"unesi"|trans ~ " " ~ "password"|trans}}" id="password"
               name="_password"/>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <button type="submit" class="btn btn-primary btn-block">{{ "prijava"|trans }}</button>
</form>
<hr>

<div class="form-group mt-4 text-center pxp-modal-small">
    <a href="{{ path("forgot_password") }}"
       class="pxp-modal-link">{{ "Zaboravljena lozinka"|trans }}</a>
</div>
<div class="text-center pxp-modal-small">
    <a href="{{ path("registration") }}"
       class="pxp-modal-link">{{ "Novi račun"|trans }}</a>
</div>