{% import 'frontend/macros/macros.html.twig' as macro %}
<div class="col-2 col-md-7 text-center">


    <ul class="pxp-nav list-inline">

        <li class="list-inline-item d-block d-lg-none">
            <div class="row mt-3">
                <div class="col-6 text-left">
                    {% include "frontend/include/language_selector_mobile.html.twig" %}
                </div>
                <div class="col-6">
                    <a href="{{ path("my_terra_dalmatica") }}"
                       class="btn btn-secondary btn-sm  my-td text-uppercase"> {{ "Moja Terra Dalmatica"|trans }}</a>
                </div>

            </div>
        </li>
        <li class="list-inline-item">
            <a href="{{ path('menu_real_estate_offer') }}">{{ "Ponuda nekretnina"|trans }}</a>
            <ul class="pxp-nav-sub rounded-lg">
                <li><a href="{{ path("category_page_top") }}">{{ "Sve nekretnine"|trans }}</a></li>
                <li><a href="{{ path("category_page_top_houses") }}">{{ "Kuće"|trans }}</a></li>
                <li><a href="{{ path("category_page_top_apartments") }}">{{ "Apartmani i stanovi"|trans }}</a></li>
                <li>
                    <a href="{{ path("category_page_top_lands") }}">{{ "Građevinsko/poljoprivredno zemljište"|trans }}</a>
                </li>
                <li><a href="{{ path("category_page_top_office_space") }}">{{ "Poslovni prostori"|trans }}</a></li>
            </ul>
        </li>
        <li class="list-inline-item">
            {{ macro.predefinedContentLink('Vodiči i porezi', '', parameters) }}
            <ul class="pxp-nav-sub rounded-lg">
            <li>{{ macro.predefinedContentLink('Vodič za strance', 'shopping-for-strangers', parameters) }}</li>
            <li>{{ macro.predefinedContentLink('Vodič za kupnju', 'buying-tips', parameters) }}</li>
            <li>{{ macro.predefinedContentLink('Oporezivanje dohotka ostvarenog od otuđenja nekretnine', 'tax', parameters) }}</li>
             <li>{{ macro.predefinedContentLink('Oporezivanje u vezi s prometom nekretnina u Republici Hrvatskoj', 'tax-rh', parameters) }}</li>
            </ul>
        </li>
        <li class="list-inline-item">
            <a href="{{ path("blog") }}">{{ "Blog"|trans }}</a>
        </li>
        <li class="list-inline-item">
            {{ macro.predefinedContentLink('O nama', 'about-us', parameters) }}
        </li>
        <li class="list-inline-item">
            <a href="{{ path("contact") }}">{{ "Kontakt"|trans }}</a>
        </li>
        <li class="list-inline-item" id='sell-navigation'>
            {{ macro.predefinedContentLink('Prodajte nekretninu', 'selling-guide', parameters) }}
        </li>
    </ul>

</div>
<div class="col-5 col-md-2 text-right">
    {% if searchbarTrigger == true %}
        <a href="javascript:void(0);" class="pxp-header-nav-trigger pxp-searchbar-trigger"><span
                    class="fa fa-search"></span></a>
    {% endif %}
    <a href="javascript:void(0);" class="pxp-header-nav-trigger"><span class="fa fa-bars"></span></a>

</div>
