<div class="pxp-props-carousel-right-container mt-5">
    <div class="owl-carousel pxp-props-carousel-right-stage owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1845px; padding-left: 60px; padding-right: 60px;">
                {% for realEstate in realEstates %}
                    <div class="owl-item" style="width: 257.5px; margin-right: 30px;">
                        <div>
                            <a href="{{ path('real_estate_details', {'_locale': app.request.locale, 'slug': realEstate.slug}) }}" class="pxp-prop-card-1 rounded-lg">
                                <div class="pxp-prop-card-1-fig pxp-cover owl-lazy"
                                     data-src="{% if realEstate.cover_image is not empty %}{{ realEstate.cover_image }}{% else %}uploads/img/ph-big.jpg{% endif %}">
                                </div>
                                <div class="pxp-prop-card-1-gradient pxp-animate"></div>
                                <div class="pxp-prop-card-1-details">
                                    <div class="pxp-prop-card-1-details-title">{{ realEstate.title }}</div>
                                    <div class="pxp-prop-card-1-details-price">
                                        {% if realEstate.priceOnRequest == true %}
                                            {{ "Cijena na upit" | trans }}
                                        {% endif %}

                                        {% if realEstate.priceOnRequest == false %}
                                            {{ realEstate.price | number_format(0, ",", ".") ~ "€" }}
                                            ({{ (realEstate.price * exchangeRate) | number_format(0, ",", ".") ~ "kn" }})
                                        {% endif %}
                                    </div>
                                    {#<div class="pxp-prop-card-1-details-features text-uppercase">2 BD <span>|</span> 2 BA <span>|</span> 920 SF</div>#}
                                </div>
                                <div class="pxp-prop-card-1-details-cta text-uppercase">{{ "Pregledaj detalje" | trans }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev disabled">
                <div class="pxp-props-carousel-left-arrow pxp-animate">
                    <svg xmlns="https://www.w3.org/2000/svg" width="32.414" height="20.828" viewBox="0 0 32.414 20.828" class="pxp-arrow-1">
                        <g id="Group_30" data-name="Group 30" transform="translate(-1845.086 -1586.086)">
                            <line id="Line_2" data-name="Line 2" x1="30" transform="translate(1846.5 1596.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                            <line id="Line_3" data-name="Line 3" x1="9" y2="9" transform="translate(1846.5 1587.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                            <line id="Line_4" data-name="Line 4" x1="9" y1="9" transform="translate(1846.5 1596.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                        </g>
                    </svg>
                </div>
            </button>
            <button type="button" role="presentation" class="owl-next">
                <div class="pxp-props-carousel-right-arrow pxp-animate">
                    <svg xmlns="https://www.w3.org/2000/svg" width="32.414" height="20.828" viewBox="0 0 32.414 20.828">
                        <g id="Symbol_1_1" data-name="Symbol 1 – 1" transform="translate(-1847.5 -1589.086)">
                            <line id="Line_2" data-name="Line 2" x2="30" transform="translate(1848.5 1599.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                            <line id="Line_3" data-name="Line 3" x2="9" y2="9" transform="translate(1869.5 1590.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                            <line id="Line_4" data-name="Line 4" y1="9" x2="9" transform="translate(1869.5 1599.5)" fill="none" stroke="#333" stroke-linecap="round" stroke-width="2"></line>
                        </g>
                    </svg>
                </div>
            </button>
        </div>
        <div class="owl-dots disabled"></div>
    </div>
</div>