<div class="col-sm-12 col-md-4 col-xxxl-4">
    <a href="{{ path('real_estate_details', {'_locale': app.request.locale, 'slug': realEstate.slug}) }}" class="pxp-results-card-1 rounded-lg" data-prop="{{ realEstate.index }}">
        <div id="card-carousel-{{ realEstate.index }}" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for image in realEstate.data.realEstateImages %}
                    <div class="carousel-item {% if image.cover == true %}active{% endif %}"
                         style="background-image: url({% if image.cover == true %}{{ image.path }}{% else %}/frontend/img/ellipsis.gif{% endif %})"
                            data-lazy-load-src="{% if image.cover == false %}{{ image.path }}{% endif %}">
                    </div>
                {% endfor %}
            </div>
            <span class="carousel-control-prev" data-href="#card-carousel-{{ realEstate.index }}" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
            </span>
            <span class="carousel-control-next" data-href="#card-carousel-{{ realEstate.index }}" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </span>
        </div>
        <div class="pxp-results-card-1-gradient"></div>
        <div class="pxp-results-card-1-details">
            <div class="pxp-results-card-1-details-title">{{ realEstate.title }}</div>
            <div class="pxp-results-card-1-details-price">
                {% if realEstate.data.priceOnRequest == true %}
                    {{ "Cijena na upit" | trans }}
                {% endif %}

                {% if realEstate.data.priceOnRequest == false %}
                    {{ realEstate.data.price | number_format(0, ",", ".") ~ "€" }}
                    ({{ (realEstate.data.price * exchangeRate) | number_format(0, ",", ".") ~ "kn" }})
                {% endif %}
            </div>
        </div>
        <div class="pxp-results-card-1-features">
            <span>
                {% if realEstate.data.bedroomCount is not empty and realEstate.data.bedroomCount > 0 %}
                    {{ realEstate.data.bedroomCount }} {{ "sobe" | trans }}
                {% endif %}
                {% if realEstate.data.bathroomCount is not empty and realEstate.data.bathroomCount > 0  %}
                    {% if realEstate.data.bedroomCount is not empty and realEstate.data.bedroomCount > 0 %}
                        <span>|</span>
                    {% endif %}
                    {{ realEstate.data.bathroomCount }} {{ "kupaonice" | trans }}
                {% endif %}
                {% if (realEstate.data.livingArea is not empty and realEstate.data.livingArea > 0)
                        or (realEstate.data.surfaceArea is not empty and realEstate.data.surfaceArea > 0) %}
                    {% if (realEstate.data.bedroomCount is not empty and realEstate.data.bedroomCount > 0)
                        or (realEstate.data.bathroomCount is not empty and realEstate.data.bathroomCount > 0) %}
                        <span>|</span>
                    {% endif %}
                    {% if realEstate.data.livingArea is not empty and realEstate.data.livingArea > 0 %}
                        {{ realEstate.data.livingArea }}<span class="pxp-results-card-1-features-square-footage">m<sup>2</sup></span>
                    {% elseif realEstate.data.surfaceArea is not empty and realEstate.data.surfaceArea > 0 %}
                        {{ realEstate.data.surfaceArea }}<span class="pxp-results-card-1-features-square-footage">m<sup>2</sup></span>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </a>
</div>