<div class="col-sm-12 col-md-4 mt-3">
    <a href="{{ path('real_estate_details', {'_locale': app.request.locale, 'slug': realEstate.slug}) }}" class="pxp-prop-card-1 rounded-lg">
        <div class="pxp-prop-card-1-fig pxp-cover lazy"
             data-src="{% if realEstate.cover_image is not empty %}{{ realEstate.cover_image }}{% else %}/uploads/img/ph-big.jpg{% endif %}"></div>
        <div class="pxp-prop-card-1-gradient pxp-animate"></div>
        <div class="pxp-prop-card-1-details">
            <div class="pxp-prop-card-1-details-title">{{ realEstate.title }}</div>
            <div class="pxp-prop-card-1-details-price">
                {% if realEstate.priceOnRequest == true %}
                    {{ "Cijena na upit" | trans }}
                {% endif %}

                {% if realEstate.priceOnRequest == false %}
                    {{ realEstate.price | number_format(0, ",", ".") ~ "€" }}
                    ({{ (realEstate.price * exchangeRate) | number_format(0, ",", ".") ~ "kn" }})
                {% endif %}
            </div>
            {#<div class="pxp-prop-card-1-details-features text-uppercase">DEFINISATI ŠTA DA SE ISPISUJE</div>#}
        </div>
        <div class="pxp-prop-card-1-details-cta text-uppercase">{{ "Pregledaj više" | trans }}</div>
    </a>
</div>