<div class="pxp-searchbar-header fixed-top pxp-animate pxp-no-bg d-none d-lg-block">
    {{ form_start(form, {"attr": {"id":"frm-searchbar"}}) }}
    <div class="d-flex">
        <div class="pxp-content-side-search-form">
            <div class="row pxp-content-side-search-form-row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 pxp-content-side-search-form-col">
{#                    <div class="form-group">
                        {{ form_widget(form.text, {"attr": {"class": "form-control pxp-is-address", "placeholder": "Pretraži"}}) }}
                        <span style="top:40%" class="fa fa-times clear-filter-text" data-target="#search_text"></span>
                        {% if autoTrigger == true %}
                            #}{#<span style="top:40%" class="fa fa-search span-search"></span>#}{#
                            <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                        {% endif %}
                    </div>#}
                    <div class="form-group">
                        <div class="search-text-container">
                            {% if autoTrigger == false %}
                                {{ form_widget(form.text, {"attr": {"class": "form-control pxp-is-address", "placeholder": "Pretraži"}}) }}
                                <span style="top:45%;" class="fa fa-times clear-filter-text" data-target="#search_text"></span>
                            {% endif %}

                            {% if autoTrigger == true %}
                                {{ form_widget(form.text, {"attr": {"class": "form-control pxp-is-address search-text", "placeholder": "Pretraži"}}) }}
                                <span style="margin-right: 30px;" class="fa fa-times clear-filter-text" data-target="#search_text" data-submit="true"></span>
                                <button type="submit" class="search-text-button">
                                    <i class="fa fa-search"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        {{ form_widget(form.realEstateType, {"attr": {"class": "custom-select"}}) }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        {{ form_widget(form.location, {"attr": {"class": "custom-select"}}) }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6 col-xl-2 pxp-content-side-search-form-col">
{#                    <div class="form-group text-center">
                        <input id="price-range-slider" type="text" class="span2" value="" data-slider-min="1000"
                               data-slider-max="10000000" data-slider-step="1000"
                               data-slider-value="[{{ form.vars.value.priceMin ?? "1000" }},{{ form.vars.value.priceMax ?? "100000000" }}]"/>
                        <br>
                        <span id="span-price-min">{{ (form.vars.value.priceMin ?? 1000) | number_format(0, ",", ".") }}</span>€
                        -
                        <span id="span-price-max">{{ (form.vars.value.priceMax ?? 10000000) | number_format(0, ",", ".") }}</span>€

                        {{ form_widget(form.priceMin) }}
                        {{ form_widget(form.priceMax) }}
                    </div>#}
                    <div class="form-group">
                        {{ form_widget(form.priceSelector, {"attr": {"class": "custom-select"}}) }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
{#                        {{ form_widget(form.bedroomCount, {"attr": {"class": "form-control pxp-is-address", "placeholder": "Broj soba", "min": "0"}}) }}
                        {% if autoTrigger == true %}
                            <span style="top:40%" class="fa fa-search span-search"></span>
                        {% endif %}#}
                        {{ form_widget(form.bedroomCount, {"attr": {"class": "custom-select"}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex searchbar-controls">
            {% if autoTrigger == false %}
                <a role="button" id="btnSubmitSearch" class="pxp-adv-toggle pxp-active"  data-toggle="tooltip" title="{{ "Pretraži" | trans }}"><span class="fa fa-search"></span></a>
            {% endif %}
            <a role="button" id="btnAdvFilters" class="pxp-adv-toggle pxp-active" data-toggle="tooltip" title="{{ "Dodatni filteri" | trans }}">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
    <div class="pxp-content-side-search-form-reset" style="display:none;">
        <button type="button" class="reset-filters-button btn btn-link"><span class="fa fa-times"></span> {{ "resetiraj sve filtere"|trans }}</button>
    </div>
    <div class="pxp-content-side-search-form-adv mb-3" style="display: none;">
        <div class="form-group">
            <div class="row pxp-content-side-search-form-row">
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.firstRowByTheSea, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_firstRowByTheSea">
                                {{ "Prvi red do mora" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.seaView, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_seaView">
                                {{ "Pogled na more" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.newBuilding, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_newBuilding">
                                {{ "Novogradnja" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.underConstruction, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_underConstruction">
                                {{ "U izgradnji" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.pool, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_pool">
                                {{ "Bazen" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.priceLowered, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_priceLowered">
                                {{ "Snižene cijene" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{ form_end(form, {"render_rest": false}) }}
</div>
<div class="container">
    <div class="row">
        <div class="marginTopCorrection"></div>
    </div>
</div>