<div class="pxp-searchbar-header fixed-top pxp-animate pxp-no-bg d-none d-lg-block">
    {{ form_start(form, {"attr": {"id":"frm-searchbar"}}) }}
    <div class="d-flex">
        <div class="pxp-content-side-search-form">
            <div class="row pxp-content-side-search-form-row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="search-text-container">
                            {{ form_widget(form.text, {"attr": {"class": "form-control pxp-is-address", "placeholder": "Pretraga, lokacija ili ID nekretnine",
                                "data-reset":"#reset-search-text", "autocomplete":"off", "data-noresults-text":"Nema rezultata"|trans}}) }}
                            <span class="fa fa-times clear-filter-text d-none" data-target="#search_text" id="reset-search-text"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        {{ form_widget(form.realEstateType, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Svi tipovi nekretnina"|trans}}) }}
                        <span class="fa fa-times clear-select-box d-none" data-target="#search_realEstateType"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        {{ form_widget(form.location, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Sve lokacije"|trans}}) }}
                        <span class="fa fa-times clear-select-box d-none" data-target="#search_location"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group text-center searchbar-price-slider">
                        <input id="price-range-slider" type="text" class="span2" value="" data-slider-min="0"
                               data-slider-max="500001" data-slider-step="50000"
                               data-slider-value="[{{ form.vars.value.priceMin ?? "0" }},{{ form.vars.value.priceMax ?? "500001" }}]"/>
                        <br>
                        €<span id="span-price-min">{{ (form.vars.value.priceMin ?? 0) | number_format(0, ",", ".") }}</span>
                        -
                        €<span id="span-price-max">
                            {% if form.vars.value.priceMax is not null and form.vars.value.priceMax != constant('App\\GlobalSettings::SearchbarPriceSlideMaxValue') %}
                                {{ form.vars.value.priceMax | number_format(0, ",", ".") }}
                            {% else %}
                                {{ ((constant('App\\GlobalSettings::SearchbarPriceSlideMaxValue') - 1) | number_format(0, ",", ".")) ~ "+" }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="form-group searchbar-price-select">
                        {{ form_widget(form.priceSelector, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Sve cijene"|trans}}) }}
                    </div>
                    {{ form_widget(form.priceMin) }}
                    {{ form_widget(form.priceMax) }}
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        {{ form_widget(form.bedroomCount, {"attr": {"class": "form-control form-control-chosen", "data-placeholder": "Broj soba"|trans}}) }}
                        <span class="fa fa-times clear-select-box d-none" data-target="#search_bedroomCount"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex searchbar-controls">
            <a role="button" id="btnSubmitSearch" class="pxp-adv-toggle pxp-active" data-auto-trigger="{{ autoTrigger }}">
                <span class="fa fa-search"></span>
            </a>
            <a role="button" id="btnAdvFilters" class="pxp-adv-toggle pxp-active">
                <span class="fa fa-sliders"></span>
            </a>
        </div>
    </div>
    <div class="pxp-content-side-search-form-reset" style="display:none;">
        <button type="button" class="reset-filters-button btn btn-link"><span class="fa fa-times"></span> {{ "resetiraj sve filtere"|trans }}</button>
    </div>
    <div class="pxp-content-side-search-form-adv {#mb-3#}" style="display: none;">
        <div {#class="form-group"#}>
            <div class="row pxp-content-side-search-form-row">
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.firstRowByTheSea, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_firstRowByTheSea">
                                {{ "Prvi red do mora" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.seaView, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_seaView">
                                {{ "Pogled na more" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.newBuilding, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_newBuilding">
                                {{ "Novogradnja" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.underConstruction, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_underConstruction">
                                {{ "U izgradnji" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.pool, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_pool">
                                {{ "Bazen" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 pxp-content-side-search-form-col">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.priceLowered, {"attr": {"class": "custom-control-input"}}) }}
                            <label class="custom-control-label" for="search_priceLowered">
                                {{ "Snižene cijene" | trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{ form_end(form, {"render_rest": false}) }}
</div>
<div class="container">
    <div class="row">
        <div class="marginTopCorrection"></div>
    </div>
</div>