{% if topSubcategoryPages is not empty %}
    {% for categoryPage in topSubcategoryPages %}
        <div class="col-sm-12 col-md-12 col-lg-6">
            <a href="{{ path('category_page', {'slugCategory': categoryPage.parent_slug, 'slugSubCategory': categoryPage.slug } ) }}" class="pxp-areas-1-item2 rounded-lg">
                <div class="pxp-areas-1-item-fig2 pxp-cover lazy"
                    {#style="background-image: url({{ asset('/uploads/img/' ~ categoryPage.photo_name) }});"#}
                    data-src="{{ asset('/uploads/img/' ~ categoryPage.photo_name) }}"
                >
                    <div class="middle bg-{{ loop.index }}">
                        <div class="middleContent ">
                            <div class="middleIcon"><i class="fa icon-{{ loop.index }}"></i></div>
                            {{ categoryPage.title }}
                        </div>
                    </div>
                </div>
            {#    Dizajnerica rekla da se izbaci
            <div class="pxp-areas-1-item-details">
                    <div class="pxp-areas-1-item-details-area">{{ categoryPage.title }}</div>
                </div>
                <div class="pxp-areas-1-item-cta text-uppercase">{{ "Explore" | trans }}</div>
            #}
            </a>
        </div>
    {% endfor %}
{% endif %}

{#{{ '/' ~ app.request.locale ~ '/' ~ categoryPage.parent_slug ~ '/' ~ categoryPage.slug }}#}