{% set sellingGuide = parameters.predefinedContent|filter(c => c.display_id == "selling-guide")|filter(c=>c.code == app.request.locale) %}
{% set shoppingForStrangers = parameters.predefinedContent|filter(c => c.display_id == "shopping-for-strangers")|filter(c=>c.code == app.request.locale) %}
<div class="pxp-topbar fixed-top">
    <div class="container">
        <div class="row align-items-center topbar_container">
            <div class="col-6 col-lg-5  text-left topbar-left padding-left-5">
                {% if app.user %}
                    <div class="topbar-text-container">
                        {{ "Bok"|trans }}, {{ app.user.username }}
                    </div>
                    <div class="topbar-link-container d-none d-lg-block">
                        <a href="{{ path("my_terra_dalmatica") }}"> {{ "Moja Terra Dalmatica"|trans }}</a>
                    </div>
                    <div class="topbar-link-container right-border-0 d-none d-lg-block">
                        <a href="{{ path("logout") }}">{{ "Odjava"|trans }}</a>
                    </div>
                {% else %}
                    <div class="topbar-text-container">
                        {{ "Niste prijavljeni"|trans }}
                    </div>
                    <div class="topbar-link-container right-border-0 d-none d-lg-block">
                        <a href="{{ path("my_terra_dalmatica") }}">{{ "Moja Terra Dalmatica"|trans }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-5 col-lg-3 col-sm-5  topbar-middle d-none d-lg-block">

                <div class="topbar-link-container right-border-0 topbar-social-container">
                    <a href="https://www.facebook.com/TerraDalmatica/"><i class="fa fa-facebook-square"></i></a>
                </div>
                <div class="topbar-link-container right-border-0 topbar-social-container">
                    <a href="https://twitter.com/terradalmatica"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="topbar-link-container right-border-0 topbar-social-container">
                    <a href="https://www.youtube.com/user/TerraDalmatica"><i class="fa fa-youtube"></i></a>
                </div>
                <div class="topbar-link-container right-border-0 topbar-social-container">
                    <a href="https://www.instagram.com/terradalmatica9/"><i class="fa fa-instagram"></i></a>
                </div>

                <div class="topbar-link-container right-border-0 left-border-1 topbar-language-container">
                    {% include "frontend/include/language_selector.html.twig" %}
                </div>

            </div>
            <div class="col-6 col-lg-4   text-right topbar-right">
                {% if app.user %}
                    <div class="topbar-link-container right-border-0 d-none d-lg-block">
                        <a href="{% if shoppingForStrangers is not empty %}{{ path('predefined_content', {"slug": shoppingForStrangers|first.slug}) }}{% endif %}">{{ "Kupi nekretninu"|trans }}</a>
                    </div>
                    <div class="topbar-link-container d-none d-lg-block">
                        <a href="{% if sellingGuide is not empty %}{{ path('predefined_content', {"slug": sellingGuide|first.slug}) }}{% endif %}">{{ "Prodaj nekretninu"|trans }}</a>
                    </div>
                    <div class="topbar-link-container right-border-0 d-block d-lg-none">
                        <a href="{{ path("logout") }}">{{ "Odjava"|trans }}</a>
                    </div>
                {% else %}
                    <a href="javascript:void(0);" class="pxp-signin-trigger">{{ "Prijava/Registracija"|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
