{% if not form.vars.valid %}
    <div class="flash-notice">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ "Neispravan unos"|trans }}! </strong>{{ "Pokušajte ponovo"|trans }}.
        </div>
    </div>
{% endif %}