{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    Sljedeća poruka vam je poslana preko kontakt forme sa terradalmatica.hr:<br>
    {{ contact.message }}
    <br><br>
{% endblock %}

{% block footer %}
    Ime: {{ contact.name }},
    <br>
    Email: {{ contact.email }},
    {% if contact.phone_no is not null %}
    <br>
    Broj telefona: {{ contact.phone_no }}
    {% endif %}
    {% if contact.real_estate_link is not null %}
    Nekretnina: <a href="{{ contact.real_estate_link }}">{{ contact.real_estate_link }}</a>
    {% endif %}
{% endblock %}