{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Wir haben eine Anfrage zum Zurücksetzen des Passworts an den Benutzer erhalten<strong>{{ username }}</strong>.</p>
    <p>Um Ihr Passwort zurückzusetzen, klicken Sie auf<a href="{{url('user_reset_password', {'id': id, 'activation': activation})}}">hier</a></p>
{% endblock %}