{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>We have received a password reset request to the user <strong>{{ username }}</strong>.</p>
    <p>To reset your password click<a href="{{url('user_reset_password', {'id': id, 'activation': activation})}}">here</a></p>
{% endblock %}