{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Zaprimili smo zahtjev za resetiranje lozinke korisniku <strong>{{ username }}</strong>.</p>
    <p>Da bi resetirali lozinku kliknite <a href="{{url('user_reset_password', {'id': id, 'activation': activation})}}">ovdje</a></p>
{% endblock %}