{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    {{ "Obavještavamo Vas da je kreiran novi klijentski korisnički nalog za" | trans }}: <a href="{{ url('user_edit', {'id': user.getId()}) }}">{{ user.getFirstName() }}  {{ user.getLastName() }}</a>.
{% endblock %}

{% block footer %}

    {{ parent() }}

    {{ "Terradalmatica" }}

{% endblock %}