{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Obavještavamo vas da je korisnik <strong>{{ clientUsername }}</strong> izmijenio podatke na nekretnini sa id-om {{ realEstateId }} - {{ realEstateTitle }}</p>
    <p>Potrebno je ponovno objaviti oglas kako bi se opet prikazao na stranici</p>
    <p>To možete učiniti na <a href="{{url('realestate_edit', {'id': realEstateId})}}">ovom linku</a></p>
{% endblock %}