{% extends 'email/email_base_en.html.twig' %}

{% block content %}
    <p>We would like to inform you that your property will be published by Terradalmatica</p>
    <p>You can see your listing on following addresses: </p>
    {% for local in locals %}
        <p>{{ url('real_estate_details', {'slug': local.slug, '_locale': local.locale})}}</p>
    {% endfor %}

    <p>You can edit your listing on
        <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">following link</a>
    </p>

    <p>Agent dedicated for your listing is <strong>{{ agent.firstName }} {{ agent.lastName }}</strong>:
    </p>
    <p><strong>Email:</strong> {{ agent.email }}</p>
    <p><strong>Phone:</strong> {{ agent.phoneNo }}</p>
    <p><strong>Mobile:</strong> {{ agent.mobilePhoneNumber }}</p>
    <p><strong>Fax:</strong> {{ agent.faxNumber }}</p>

{% endblock %}