{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Obavještavamo vas da je korisnik <strong>{{ clientUsername }}</strong> registirao oglas za neketninu <strong>{{ realEstateTitle }}</strong> tipa <strong>{{ realEstateType }}</strong> u lokaciji <strong>{{ realEstateLocation }}</strong></p>
    <p>Detalje oglasa možete pogledati, te oglas objaviti ili odbiti, na <a href="{{url('realestate_edit', {'id': realEstateId})}}">ovom linku. </a></p>
{% endblock %}