{% extends 'email/email_base_de.html.twig' %}

{% block content %}
    <p>We would like to inform you that user <strong>{{ clientUsername }}</strong> has updated content of listing with id {{ realEstateId }} - {{ realEstateTitle }}</p>
    <p>An action is required in order to publish the real estate listing to site</p>
    <p>To do so, please visit <a href="{{url('realestate_edit', {'id': realEstateId})}}">this link</a></p>
{% endblock %}