{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Obavještavamo vas da je vaš oglas <b>{{ realEstateTitle }}</b> sa id-om {{ realEstateId }} označen kao završen od strane administracije</p>
    <p>Oglas možete pregledati na <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">ovom linku</a>. Čestitamo na uspješnoj prodaji nekretnine! </p>

{% endblock %}