{% extends 'email/email_base_en.html.twig' %}

{% block content %}
    <p>We would like to inform you, that client <strong>{{ clientUsername }}</strong> wants to add his property <strong>{{ realEstateTitle }}</strong> of type <strong>{{ realEstateType }}</strong> located in <strong>{{ realEstateLocation }}</strong></p>
    <p>You can overview property details, and perform actions of approval and deny, on  <a href="{{url('realestate_edit', {'id': realEstateId})}}">this address. </a></p>
{% endblock %}