{% extends 'email/email_base_en.html.twig' %}

{% block content %}
    <p>We would like to inform you that your property <b>{{ realEstateTitle }}</b> with id {{ realEstateId }} is rejected.</p>
    <p>You can still edit your listing on <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">this link</a> and re-submit it. </p>

{% endblock %}