{% extends 'email/email_base_en.html.twig' %}

{% block content %}
    <p>We would like to inform you that property <b>{{ realEstateTitle }}</b> with id {{ realEstateId }} is marked as In progress and it is close to sale.</p>
    <p>You can see your listing details on  <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">this link</a>. </p>

{% endblock %}