{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Obavještavamo vas da je vaš oglas <b>{{ realEstateTitle }}</b> sa id-om {{ realEstateId }} odbijen od strane administracije</p>
    <p>Oglas možete urediti na <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">ovom linku</a> te ga ponovno predati </p>

{% endblock %}