{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Obavještavamo vas da je vaš oglas odobren i u ponudi agencije Terradalmatica</p>
    <p>Vaš oglas možete pregledati na sljedećim linkovima: </p>
    {% for local in locals %}
        <p>{{ url('real_estate_details', {'slug': local.slug, '_locale': local.locale})}}</p>
    {% endfor %}

    <p>Oglas možete uređivati na
        <a href="{{url('client_realestate_edit', {'id': realEstateId})}}">ovom linku</a>
    </p>

    <p>Agent zadužen za nekretninu je <strong>{{ agent.firstName }} {{ agent.lastName }}</strong>:
    </p>
    <p><strong>Email:</strong> {{ agent.email }}</p>
    <p><strong>Telefon:</strong> {{ agent.phoneNo }}</p>
    <p><strong>Mobitel:</strong> {{ agent.mobilePhoneNumber }}</p>
    <p><strong>Fax:</strong> {{ agent.faxNumber }}</p>

{% endblock %}