{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    <p>Klicken Sie <a href="{{url('user_activate', {'activation': activation})}}">hier, </a>um Ihr Konto zu aktivieren</p>
{% endblock %}