{% extends 'email/email_base_hr.html.twig' %}

{% block content %}
    Zatražen je obilazak za nekretninu: <a href="{{ contact.real_estate_link }}">{{ contact.real_estate_link }}</a><br>
    Datum obilaska: {{ contact.date|date("d.m.yy") }}<br>
    Poruka:<br>
    {{ contact.message }}
    <br><br>
{% endblock %}

{% block footer %}
    Ime: {{ contact.name }},
    <br>
    Email: {{ contact.email }},
    {% if contact.phone_no is not null %}
    <br>
    Broj telefona: {{ contact.phone_no }}
    {% endif %}
{% endblock %}